Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

chore(deps): update dependency eslint-plugin-vue to v10 (#5877)
  package-lock.json
  package.json
Due: none

fix: export types (#5879)
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

avoiding top level await circular (#5843)
  src/Module.ts
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/BitFlags.ts
  src/utils/chunkAssignment.ts
  test/chunking-form/index.js
  test/chunking-form/samples/top-level-await-mixed/_config.js
  test/chunking-form/samples/top-level-await-mixed/_expected/es/generated-lib-used.js
  test/chunking-form/samples/top-level-await-mixed/_expected/es/generated-lib-variant.js
  test/chunking-form/samples/top-level-await-mixed/_expected/es/generated-lib.js
  test/chunking-form/samples/top-level-await-mixed/_expected/es/main.js
  test/chunking-form/samples/top-level-await-mixed/_expected/system/generated-lib-used.js
  test/chunking-form/samples/top-level-await-mixed/_expected/system/generated-lib-variant.js
  test/chunking-form/samples/top-level-await-mixed/_expected/system/generated-lib.js
  test/chunking-form/samples/top-level-await-mixed/_expected/system/main.js
  test/chunking-form/samples/top-level-await-mixed/lib-used.js
  test/chunking-form/samples/top-level-await-mixed/lib-variant.js
  test/chunking-form/samples/top-level-await-mixed/lib.js
  test/chunking-form/samples/top-level-await-mixed/main.js
  test/chunking-form/samples/top-level-await/_config.js
  test/chunking-form/samples/top-level-await/_expected/es/generated-lib-used.js
  test/chunking-form/samples/top-level-await/_expected/es/generated-lib-variant.js
  test/chunking-form/samples/top-level-await/_expected/es/generated-lib.js
  test/chunking-form/samples/top-level-await/_expected/es/main.js
  test/chunking-form/samples/top-level-await/_expected/system/generated-lib-used.js
  test/chunking-form/samples/top-level-await/_expected/system/generated-lib-variant.js
  test/chunking-form/samples/top-level-await/_expected/system/generated-lib.js
  test/chunking-form/samples/top-level-await/_expected/system/main.js
  test/chunking-form/samples/top-level-await/lib-used.js
  test/chunking-form/samples/top-level-await/lib-variant.js
  test/chunking-form/samples/top-level-await/lib.js
  test/chunking-form/samples/top-level-await/main.js
  test/types.d.ts
Due: prettier --write, tslint --project . --fix, eslint --fix

Update axios overrides to 1.8.2 (#5876)
  package.json
Due: none

draft for extended renderDynamicImport hook (#5870)
  docs/plugin-development/index.md
  src/Bundle.ts
  src/Chunk.ts
  src/ast/nodes/ImportExpression.ts
  src/rollup/types.d.ts
  test/chunking-form/samples/render-dynamic-import-extended/_config.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/generated-chain-2.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/generated-imports-external.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/generated-leaf.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/amd/main.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-chain-2.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-imports-external.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/generated-leaf.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/cjs/main.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-chain-2.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-imports-external.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/generated-leaf.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/es/main.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/generated-chain-2.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/generated-chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/generated-imports-external.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/generated-leaf.js
  test/chunking-form/samples/render-dynamic-import-extended/_expected/system/main.js
  test/chunking-form/samples/render-dynamic-import-extended/chain-2.js
  test/chunking-form/samples/render-dynamic-import-extended/chain-3.js
  test/chunking-form/samples/render-dynamic-import-extended/imports-external.js
  test/chunking-form/samples/render-dynamic-import-extended/leaf.js
  test/chunking-form/samples/render-dynamic-import-extended/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.36.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): resolve conflicts
  docs/plugin-development/index.md
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

fix(deps): lock file maintenance minor/patch updates (#5885)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Pin digest of 3rd party actions (#5883)
  .github/workflows/build-and-tests.yml
  .github/workflows/clean-cache.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  renovate.json
Due: none

feat: support decorators before or after export (#5871)
  rust/parse_ast/src/ast_nodes/block_statement.rs
  rust/parse_ast/src/ast_nodes/class_declaration.rs
  rust/parse_ast/src/ast_nodes/class_expression.rs
  rust/parse_ast/src/ast_nodes/export_default_declaration.rs
  rust/parse_ast/src/ast_nodes/export_named_declaration.rs
  rust/parse_ast/src/ast_nodes/jsx_opening_element.rs
  rust/parse_ast/src/ast_nodes/program.rs
  rust/parse_ast/src/ast_nodes/shared/class_node.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/lib.rs
  src/ast/nodes/ExportNamedDeclaration.ts
  test/form/samples/support-decorators-after-export/_config.js
  test/form/samples/support-decorators-after-export/_expected.js
  test/form/samples/support-decorators-after-export/main.js
  test/form/samples/support-decorators-before-export/_config.js
  test/form/samples/support-decorators-before-export/_expected.js
  test/form/samples/support-decorators-before-export/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

capture Rust panic messages and output them to the console. (#5875)
  rust/Cargo.lock
  rust/bindings_wasm/Cargo.toml
  rust/bindings_wasm/src/lib.rs
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: none

Add support for linux riscv64 musl (#5726)
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-riscv64-musl/README.md
  npm/linux-riscv64-musl/package.json
  package-lock.json
  package.json
Due: none

4.37.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#5894)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  browser/package.json
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/bindings_wasm/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): update dependency eslint-plugin-unicorn to v58 (#5895)
  package-lock.json
  package.json
Due: none

Add support for hook filters (#5882)
  browser/LICENSE.md
  docs/plugin-development/index.md
  package-lock.json
  package.json
  src/rollup/types.d.ts
  src/utils/PluginDriver.ts
  src/utils/getOrCreate.ts
  src/utils/pluginFilter.ts
  test/function/samples/plugin-hook-filters/_config.js
  test/function/samples/plugin-hook-filters/bar.js
  test/function/samples/plugin-hook-filters/baz.js
  test/function/samples/plugin-hook-filters/foo.js
  test/function/samples/plugin-hook-filters/main.js
  test/typescript/index.ts
Due: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

4.38.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency vite to v6.2.4 [security] (#5893)
  package-lock.json
Due: none

fix: resolveId id filter is optional (#5896)
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

Fix Vite vulnerability
  package-lock.json
Due: none

4.39.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5905)
  package-lock.json
  package.json
  rust/Cargo.lock
Due: none

fix(deps): update swc monorepo (major) (#5904)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Warn when eval or namespace calls are rendered, not when they are parsed (#5892)
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/shared/BitFlags.ts
  test/cli/samples/warn-eval-multiple/dep6.js
  test/cli/samples/warn-eval-multiple/main.js
  test/misc/sanity-checks.js
Due: prettier --write, tslint --project . --fix

chore(deps): update dependency vite to v6.2.6 [security] (#5918)
  .github/workflows/build-and-tests.yml
  audit-resolve.json
  package-lock.json
  package.json
  scripts/prepare-release.js
Due: none

fix(deps): update rust crate swc_compiler_base to v17 (#5916)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): update dependency @types/picomatch to v4 (#5915)
  package-lock.json
  package.json
Due: none

Correct the behavior when multiple transform filter options are specified (#5909)
  src/utils/pluginFilter.ts
  test/function/samples/plugin-hook-filters/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Fix `treeshake: false` breaking destructured namespace imports (#5908)
  src/Module.ts
  test/function/samples/no-treeshake-react/_config.js
  test/function/samples/no-treeshake-react/main.js
  test/function/samples/no-treeshake-react/node_modules/react/cjs/react.production.js
  test/function/samples/no-treeshake-react/node_modules/react/index.js
  test/function/samples/no-treeshake-react/node_modules/react/package.json
Due: prettier --write, tslint --project . --fix, eslint --fix

chore(deps): lock file maintenance minor/patch updates (#5917)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/src/error_emit.rs
Due: none

feat: treeshake dynamic import chained member expression (#5898)
  src/ast/nodes/ImportExpression.ts
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/main.js
Due: prettier --write, tslint --project . --fix

Fix release script
  scripts/prepare-release.js
Due: none

4.40.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#5927)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

fix(deps): lock file maintenance minor/patch updates (#5928)
  rust/parse_ast/Cargo.toml
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
