Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

refactor(finalisers): condition branch (#5570)
  src/finalisers/shared/getExportBlock.ts
Due: prettier --write, tslint --project . --fix

Switch to audit resolver to ignore requirejs vulnerability (#5573)
  .github/workflows/build-and-tests.yml
  audit-resolve.json
  package-lock.json
  package.json
  scripts/prepare-release.js
Due: none

Improve chunk and asset type information in docs (#5572)
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

chore(deps): update dependency inquirer to v10 (#5575)
  native.d.ts
  package-lock.json
  package.json
  scripts/prepare-release.js
Due: none

chore(deps): lock file maintenance minor/patch updates (#5576)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  rust/parse_ast/src/ast_nodes/identifier.rs
  rust/parse_ast/src/ast_nodes/member_expression.rs
  rust/parse_ast/src/ast_nodes/method_definition.rs
  rust/parse_ast/src/ast_nodes/private_identifier.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/lib.rs
Due: none

docs: translate side effect free as “无副作用的“ (#145)
  docs/configuration-options/index.md
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

chore(deps): lock file maintenance minor/patch updates (#5580)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
  scripts/prepare-release.js
  src/utils/options/normalizeOutputOptions.ts
Due: prettier --write, tslint --project . --fix

When tree-shaking logical expression, make sure to remove all trailing white-space. (#5581)
  src/ast/nodes/LogicalExpression.ts
  test/form/samples/cjs-transpiler-re-exports-1/_expected/execute.mjs
  test/form/samples/cjs-transpiler-re-exports-1/_expected/foo.js
  test/form/samples/cjs-transpiler-re-exports/_expected/execute.mjs
  test/form/samples/cjs-transpiler-re-exports/_expected/foo.js
  test/form/samples/emit-asset-file/_expected/assets/logo_reverse'-DbGK2oiS.svg
  test/form/samples/logical-expression/deopzimize-while-included/_expected.js
  test/form/samples/logical-expression/simplify-non-boolean/_expected.js
  test/form/samples/nullish-coalescing/_expected.js
  test/form/samples/side-effects-logical-expressions/_expected/amd.js
  test/form/samples/side-effects-logical-expressions/_expected/cjs.js
  test/form/samples/side-effects-logical-expressions/_expected/es.js
  test/form/samples/side-effects-logical-expressions/_expected/iife.js
  test/form/samples/side-effects-logical-expressions/_expected/system.js
  test/form/samples/side-effects-logical-expressions/_expected/umd.js
  test/form/samples/tree-shake-literal-parameter/recursion-literal/_expected.js
  test/form/samples/tree-shake-literal-parameter/reexport-function/_expected.js
  test/form/samples/tree-shake-logical-expressions/_expected/amd.js
  test/form/samples/tree-shake-logical-expressions/_expected/cjs.js
  test/form/samples/tree-shake-logical-expressions/_expected/es.js
  test/form/samples/tree-shake-logical-expressions/_expected/iife.js
  test/form/samples/tree-shake-logical-expressions/_expected/system.js
  test/form/samples/tree-shake-logical-expressions/_expected/umd.js
Due: prettier --write, tslint --project . --fix

feat: implementing decorator support (#5562)
  .github/workflows/build-and-tests.yml
  .vscode/settings.json
  rust/parse_ast/src/ast_nodes/decorator.rs
  rust/parse_ast/src/ast_nodes/method_definition.rs
  rust/parse_ast/src/ast_nodes/mod.rs
  rust/parse_ast/src/ast_nodes/property_definition.rs
  rust/parse_ast/src/ast_nodes/shared/class_node.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/ast_macros.rs
  rust/parse_ast/src/lib.rs
  scripts/ast-types.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/ast/nodes/ClassDeclaration.ts
  src/ast/nodes/Decorator.ts
  src/ast/nodes/MethodDefinition.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/PropertyDefinition.ts
  src/ast/nodes/index.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/utils/checkEffectForNodes.ts
  src/rollup/types.d.ts
  src/utils/bufferToAst.ts
  test/form/samples/decorator-identifiers-deconflict/_config.js
  test/form/samples/decorator-identifiers-deconflict/_expected.js
  test/form/samples/decorator-identifiers-deconflict/first.js
  test/form/samples/decorator-identifiers-deconflict/main.js
  test/form/samples/decorator-identifiers-deconflict/second.js
  test/form/samples/decorator-tree-shaking-2/_config.js
  test/form/samples/decorator-tree-shaking-2/_expected.js
  test/form/samples/decorator-tree-shaking-2/main.js
  test/form/samples/decorator-tree-shaking/_config.js
  test/form/samples/decorator-tree-shaking/_expected.js
  test/form/samples/decorator-tree-shaking/main.js
  test/form/samples/decorator/_config.js
  test/form/samples/decorator/_expected.js
  test/form/samples/decorator/main.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Fix types
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

4.19.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): resolve conflicts
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

chore(deps): lock file maintenance minor/patch updates (#5592)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): lock file maintenance minor/patch updates (#5593)
  package-lock.json
  package.json
Due: none

docs: improve command by code-group (#5587)
  docs/introduction/index.md
Due: none

Fix side effect detection in optional chains (#5589)
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ChainExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/Node.ts
  src/ast/nodes/shared/chainElements.ts
  test/form/samples/optional-chaining-missing-properties/_config.js
  test/form/samples/optional-chaining-missing-properties/_expected.js
  test/form/samples/optional-chaining-missing-properties/main.js
  test/form/samples/optional-chaining-null-values/_config.js
  test/form/samples/optional-chaining-null-values/_expected.js
  test/form/samples/optional-chaining-null-values/main.js
  test/form/samples/optional-chaining/_config.js
  test/function/samples/optional-chaining-side-effect2/_config.js
  test/function/samples/optional-chaining-side-effect2/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix: find whitespace from operator position to start (#5584)
  src/ast/nodes/LogicalExpression.ts
  src/utils/renderHelpers.ts
  test/form/samples/remove-whitespace-of-logical-expression/_config.js
  test/form/samples/remove-whitespace-of-logical-expression/_expected.js
  test/form/samples/remove-whitespace-of-logical-expression/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.19.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): resolve conflicts
  docs/introduction/index.md
Due: none

docs(cn): format
  docs/introduction/index.md
Due: none

Fix retrieval of literal values for chained namespaces (#5597)
  src/ast/nodes/MemberExpression.ts
  test/function/samples/optional-chaining-namespace/_config.js
  test/function/samples/optional-chaining-namespace/main.js
  test/function/samples/optional-chaining-namespace/other.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.19.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5600)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  rust/xxhash/Cargo.toml
  test/cli/samples/validate/_config.js
  test/function/samples/validate-output/_config.js
Due: prettier --write, eslint --fix

chore(deps): update dependency eslint-plugin-unicorn to v55 (#5599)
  cli/run/loadConfigFile.ts
  package-lock.json
  package.json
Due: none

Add originalFIleName property to emitted assets (#5596)
  docs/configuration-options/index.md
  docs/plugin-development/index.md
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/renderChunks.ts
  test/chunking-form/samples/emit-file/filenames-function-patterns/_config.js
  test/function/samples/emit-file/original-file-name/_config.js
  test/function/samples/emit-file/original-file-name/main.js
  test/function/samples/sourcemap-true-generatebundle/_config.js
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.20.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5608)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): lock file maintenance minor/patch updates (#5613)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_wasm/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

feat: introduce the virtualDirname option to customize the virtual directory name (#5602)
  docs/configuration-options/index.md
  src/Chunk.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/chunking-form/samples/option-virtual-dirname/_config.js
  test/chunking-form/samples/option-virtual-dirname/_expected/amd/main.js
  test/chunking-form/samples/option-virtual-dirname/_expected/amd/main2.js
  test/chunking-form/samples/option-virtual-dirname/_expected/amd/rollup_virtual/_commonjsHelpers.js
  test/chunking-form/samples/option-virtual-dirname/_expected/cjs/main.js
  test/chunking-form/samples/option-virtual-dirname/_expected/cjs/main2.js
  test/chunking-form/samples/option-virtual-dirname/_expected/cjs/rollup_virtual/_commonjsHelpers.js
  test/chunking-form/samples/option-virtual-dirname/_expected/es/main.js
  test/chunking-form/samples/option-virtual-dirname/_expected/es/main2.js
  test/chunking-form/samples/option-virtual-dirname/_expected/es/rollup_virtual/_commonjsHelpers.js
  test/chunking-form/samples/option-virtual-dirname/_expected/system/main.js
  test/chunking-form/samples/option-virtual-dirname/_expected/system/main2.js
  test/chunking-form/samples/option-virtual-dirname/_expected/system/rollup_virtual/_commonjsHelpers.js
  test/chunking-form/samples/option-virtual-dirname/main.js
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore: fix the `noConflict` option in REPL. (#5611)
  docs/repl/stores/options.ts
Due: none

chore(deps): update typescript-eslint monorepo to v8 (major) (#5607)
  .eslintrc.js
  cli/cli.ts
  cli/run/commandPlugins.ts
  docs/repl/stores/rollup.ts
  package-lock.json
  package.json
  src/Chunk.ts
  src/Module.ts
  src/ast/Entity.ts
  src/ast/nodes/AssignmentPattern.ts
  src/ast/nodes/RestElement.ts
  src/ast/nodes/SwitchCase.ts
  src/ast/scopes/ChildScope.ts
  src/rollup/types.d.ts
  src/utils/PluginDriver.ts
  src/utils/chunkAssignment.ts
  src/utils/outputBundle.ts
  src/utils/renderHelpers.ts
Due: prettier --write, tslint --project . --fix

4.21.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix REPL loading
  docs/repl/stores/rollup.ts
  wasm/bindings_wasm.d.ts
Due: none

preload the WASM file even though the version is undefined. (#5618)
  docs/repl/stores/rollup.ts
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
