Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

[v4.0] Set minimum Node version to 18
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
  package-lock.json
  package.json
  tsconfig.json
Due: none

[v4.0] Imporve the performance of generating ast and rollup ast nodes (#5144)
  src/utils/convert-ast.ts
  tsconfig.json
Due: prettier --write, tslint --project . --fix

[v4.0] feat: Do not watch files anymore if their content is returned by the load hook (#5150)
  src/ModuleLoader.ts
  test/browser/samples/missing-dependency-resolution/_config.js
  test/function/samples/external-conflict/_config.js
  test/function/samples/load-module-error/load/_config.js
  test/function/samples/load-returns-string-or-null/_config.js
  test/function/samples/max-parallel-file-operations/error/_config.js
  test/function/samples/plugin-error/load/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v4.0] Set the default of skipSelf to true (#5142)
  docs/plugin-development/index.md
  src/utils/PluginContext.ts
  src/utils/resolveIdViaPlugins.ts
  test/chunking-form/samples/preserve-modules-root/_config.js
  test/form/samples/make-absolute-externals-relative/make-relative-false/_config.js
  test/form/samples/make-absolute-externals-relative/make-relative-relative/_config.js
  test/form/samples/make-absolute-externals-relative/make-relative-true/_config.js
  test/function/samples/context-resolve-skipself/_config.js
  test/function/samples/context-resolve-skipself/existing.js
  test/function/samples/context-resolve-skipself/main.js
  test/function/samples/import-assertions/plugin-assertions-this-resolve/_config.js
  test/function/samples/module-side-effects/writable/_config.js
  test/function/samples/preload-cyclic-module/_config.js
  test/function/samples/preload-module/_config.js
  test/function/samples/prevent-context-resolve-loop/_config.js
  test/function/samples/reuse-resolve-meta/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v4.0] Add parse option to allow return outside function (#5154)
  browser/package.json
  docs/plugin-development/index.md
  native.d.ts
  package-lock.json
  package.json
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
  rust/parse_ast/src/lib.rs
  src/Graph.ts
  src/rollup/types.d.ts
  test/function/samples/parse-return-outside-function/_config.js
  test/function/samples/parse-return-outside-function/main.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v4.0] Handle empty exports (#5157)
  browser/package.json
  package-lock.json
  package.json
  rust/parse_ast/src/convert_ast/converter.rs
  test/form/samples/empty-export/_config.js
  test/form/samples/empty-export/_expected/amd.js
  test/form/samples/empty-export/_expected/cjs.js
  test/form/samples/empty-export/_expected/es.js
  test/form/samples/empty-export/_expected/iife.js
  test/form/samples/empty-export/_expected/system.js
  test/form/samples/empty-export/_expected/umd.js
  test/form/samples/empty-export/main.js
Due: prettier --write, eslint --fix

[v4.0] Remove onwarn from normalized input options (#5147)
  .github/workflows/build-and-tests.yml
  browser/package.json
  package-lock.json
  package.json
  scripts/postpublish.js
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  test/function/samples/logging/log-from-plugin-options-onlog-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-onlog/_config.js
  test/function/samples/logging/log-from-plugin-options-onwarn/_config.js
  test/function/samples/logging/log-from-plugin-options-simple/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v4.0] fix: also strip BOM from code strings in JS (#5164)
  src/Module.ts
  test/function/samples/strip-bom/_config.js
  test/function/samples/strip-bom/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v4.0] feat: preserve shebang in entry module for CJS and ESM outputs (#5163)
  build-plugins/add-cli-entry.ts
  cli/cli.ts
  rust/parse_ast/src/convert_ast/converter.rs
  src/Chunk.ts
  src/Graph.ts
  src/Module.ts
  src/utils/convert-ast.ts
  test/form/samples/hashbang/_config.js
  test/form/samples/leading-comments/_expected.js
  test/form/samples/shebang-1/_config.js
  test/form/samples/shebang-1/_expected/amd.js
  test/form/samples/shebang-1/_expected/cjs.js
  test/form/samples/shebang-1/_expected/es.js
  test/form/samples/shebang-1/_expected/iife.js
  test/form/samples/shebang-1/_expected/system.js
  test/form/samples/shebang-1/_expected/umd.js
  test/form/samples/shebang-1/main.js
  test/form/samples/shebang-2/_config.js
  test/form/samples/shebang-2/_expected/amd.js
  test/form/samples/shebang-2/_expected/cjs.js
  test/form/samples/shebang-2/_expected/es.js
  test/form/samples/shebang-2/_expected/iife.js
  test/form/samples/shebang-2/_expected/system.js
  test/form/samples/shebang-2/_expected/umd.js
  test/form/samples/shebang-2/dep.js
  test/form/samples/shebang-2/main.js
  test/form/samples/shebang-3/_config.js
  test/form/samples/shebang-3/_expected.js
  test/form/samples/shebang-3/main.js
  test/form/samples/shebang-3/other.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v4.0] warn for invalid annotations (#5165)
  browser/package.json
  docs/configuration-options/index.md
  package-lock.json
  package.json
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/shared/Node.ts
  src/utils/convert-ast.ts
  src/utils/logs.ts
  src/utils/urls.ts
  test/form/samples/nested-pure-comments/_config.js
  test/form/samples/no-side-effects-function-declaration-preserve/_config.js
  test/form/samples/pure-comment-line-break/_config.js
  test/form/samples/pure-comment-scenarios-complex/_config.js
  test/form/samples/pure-comment-scenarios-simple/_config.js
  test/form/samples/pure-comments-disabled/_config.js
  test/form/samples/remove-invalid-pure-comments/_config.js
  test/form/samples/remove-no-side-effects-variable/_config.js
  test/form/samples/remove-no-side-effects-variable/_expected.js
  test/form/samples/remove-no-side-effects-variable/main.js
  test/form/samples/remove-tree-shaken-pure-comments/_config.js
  test/function/samples/warn-misplaced-annotations/_config.js
  test/function/samples/warn-misplaced-annotations/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v4.0] Ensure we support new import attribute "with" syntax (#5168)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
  test/form/samples/deprecated/removes-dynamic-assertions/main.js
  test/form/samples/deprecated/removes-static-attributes/main.js
  test/form/samples/import-attributes/attribute-shapes/main.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_config.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/amd.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/es.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/iife.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/system.js
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/umd.js
  test/form/samples/import-attributes/keep-dynamic-assertions/main.js
  test/form/samples/import-attributes/keep-dynamic-attributes/main.js
  test/form/samples/import-attributes/keeps-static-assertions/_config.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/es.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/system.js
  test/form/samples/import-attributes/keeps-static-assertions/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-assertions/main.js
  test/form/samples/import-attributes/keeps-static-attributes/main.js
  test/form/samples/import-attributes/plugin-attributes-resolvedynamicimport/main.js
  test/form/samples/import-attributes/plugin-attributes-resolveid/main.js
  test/form/samples/import-attributes/removes-dynamic-attributes/main.js
  test/form/samples/import-attributes/removes-static-attributes/main.js
  test/form/samples/supports-core-js/_expected.js
  test/function/samples/deprecations/externalImportAssertions/main.js
  test/function/samples/import-assertions/warn-assertion-conflicts/_config.js
  test/function/samples/import-assertions/warn-assertion-conflicts/main.js
  test/function/samples/import-assertions/warn-assertion-conflicts/other.js
Due: prettier --write, eslint --fix

[v4.0] Expose parser (#5169)
  browser/package.json
  build-plugins/copy-types.ts
  docs/javascript-api/index.md
  docs/plugin-development/index.md
  package-lock.json
  package.json
  rollup.config.ts
  src/Bundle.ts
  src/Graph.ts
  src/Module.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/convert-ast.ts
  src/utils/logs.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
  test/function/samples/double-default-export/_config.js
  test/function/samples/double-named-export/_config.js
  test/function/samples/double-named-reexport/_config.js
  test/function/samples/duplicate-import-fails/_config.js
  test/function/samples/duplicate-import-specifier-fails/_config.js
  test/function/samples/error-parse-json/_config.js
  test/function/samples/error-parse-unknown-extension/_config.js
  test/function/samples/export-not-at-top-level-fails/_config.js
  test/function/samples/import-not-at-top-level-fails/_config.js
  test/function/samples/parse-return-outside-function/_config.js
  test/function/samples/reassign-import-fails/_config.js
  test/function/samples/reassign-import-not-at-top-level-fails/_config.js
  test/function/samples/update-expression-of-import-fails/_config.js
  test/misc/index.js
  test/misc/parse-ast.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.0.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix REPL artifacts workflow
  .github/workflows/build-and-tests.yml
  .github/workflows/repl-artefacts.yml
  renovate.json
  rust/parse_ast/src/convert_ast/converter.rs
  test/form/samples/supports-es5-shim/_config.js
Due: prettier --write, eslint --fix

chore(deps): lock file maintenance minor/patch updates (#5172)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

fix: ignores empty statements in class body that is returned by SWC parser (#5173)
  rust/parse_ast/src/convert_ast/converter.rs
  test/form/samples/empty-statament-class-member/_config.js
  test/form/samples/empty-statament-class-member/_expected/amd.js
  test/form/samples/empty-statament-class-member/_expected/cjs.js
  test/form/samples/empty-statament-class-member/_expected/es.js
  test/form/samples/empty-statament-class-member/_expected/iife.js
  test/form/samples/empty-statament-class-member/_expected/system.js
  test/form/samples/empty-statament-class-member/_expected/umd.js
  test/form/samples/empty-statament-class-member/main.js
Due: prettier --write, eslint --fix

Fix linux arm musl build (#5176)
  .eslintrc.js
  .github/workflows/build-and-tests.yml
  native.js
  package.json
Due: none

4.0.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Handle special characters before double underscores (#5178)
  rust/parse_ast/src/convert_ast/annotations.rs
  test/form/samples/handles-special-comments/_config.js
  test/form/samples/handles-special-comments/_expected.js
  test/form/samples/handles-special-comments/main.js
Due: prettier --write, eslint --fix

4.0.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Update migration guide for Rollup 4 (#5179)
  CHANGELOG.md
  docs/.vitepress/config.ts
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/migration/index.md
Due: none

chore: explicitly set rust toolchain channel (#5177)
  .github/workflows/build-and-tests.yml
  rust/rust-toolchain.toml
Due: none

Resolve clippy errors (#5180)
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/src/lib.rs
Due: none

Fix toolchain for REPL workflow
  .github/workflows/repl-artefacts.yml
Due: none

docs: fix code example for `onLog` (#5184)
  docs/configuration-options/index.md
Due: none

Add clippy to pipeline and fix remaining issues (#5183)
  package.json
  rust/bindings_napi/src/lib.rs
  rust/parse_ast/src/convert_ast/annotations.rs
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/utf16_positions.rs
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
  rust/xxhash/src/lib.rs
Due: none

Improve wording for native artifacts in migration guide (#5186)
  docs/migration/index.md
Due: none

优化插件开发文档的中文描述。
  docs/plugin-development/index.md
Due: none

test: add verifyAst type (#5190)
  test/types.d.ts
Due: none

Enable Renovate automerge
  renovate.json
Due: none

Reduce workflow concurrency
  .github/workflows/build-and-tests.yml
Due: none

chore(deps): lock file maintenance minor/patch updates (#5197)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  src/rollup/types.d.ts
  src/utils/collapseSourcemaps.ts
Due: prettier --write, tslint --project . --fix

chore(deps): update dependency rollup to v4 (#5196)
  build-plugins/replace-browser-modules.ts
  package-lock.json
  package.json
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

4.1.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

perf: use mimalloc for bindings_napi (#5201)
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/bindings_napi/src/lib.rs
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
