Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

3.7.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

provide hashed file name when using this.getFileName in generateBundle (#4747)
  src/Chunk.ts
  src/utils/FileEmitter.ts
  src/utils/renderChunks.ts
  test/function/samples/emit-chunk-hash/_config.js
  test/function/samples/emit-chunk-hash/emitted.js
  test/function/samples/emit-chunk-hash/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.7.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: check whether RegExp have the global or sticky flags set (#4742)
  src/ast/nodes/Literal.ts
  src/ast/values.ts
  test/form/samples/builtin-prototypes/check-tree-shake-on-regexp-if-it-is-used/_config.js
  test/form/samples/builtin-prototypes/check-tree-shake-on-regexp-if-it-is-used/_expected.js
  test/form/samples/builtin-prototypes/check-tree-shake-on-regexp-if-it-is-used/main.js
  test/form/samples/builtin-prototypes/literal/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.7.4
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

feat: simplify `stack` info in cli error (#4749)
  cli/logging.ts
  test/cli/samples/custom-frame-with-pos/_config.js
  test/cli/samples/custom-frame/_config.js
  test/cli/samples/watch/bundle-error/_config.js
Due: prettier --write, eslint --fix

Avoid name conflicts for default exported classes (#4756)
  src/ast/variables/ExportDefaultVariable.ts
  test/function/samples/class-name-conflict-2/_config.js
  test/function/samples/class-name-conflict-2/bar.js
  test/function/samples/class-name-conflict-2/declaration.js
  test/function/samples/class-name-conflict-2/expression.js
  test/function/samples/class-name-conflict-2/foo.js
  test/function/samples/class-name-conflict-2/main.js
  test/function/samples/class-name-conflict-3/_config.js
  test/function/samples/class-name-conflict-3/foo.js
  test/function/samples/class-name-conflict-3/main.js
  test/function/samples/class-name-conflict-4/_config.js
  test/function/samples/class-name-conflict-4/foo.js
  test/function/samples/class-name-conflict-4/main.js
  test/function/samples/class-name-conflict-4/reexport.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix: RollupLog cause allow unknown (#4757)
  cli/logging.ts
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

Correctly handle side effects when a namespace is nested in an object (#4758)
  src/ast/variables/NamespaceVariable.ts
  test/function/samples/namespace-member-side-effects/assignment/_config.js
  test/function/samples/namespace-member-side-effects/assignment/api/index.js
  test/function/samples/namespace-member-side-effects/assignment/api/namespace.js
  test/function/samples/namespace-member-side-effects/assignment/main.js
  test/function/samples/namespace-member-side-effects/call/_config.js
  test/function/samples/namespace-member-side-effects/call/api/index.js
  test/function/samples/namespace-member-side-effects/call/api/namespace.js
  test/function/samples/namespace-member-side-effects/call/main.js
  test/function/samples/namespace-member-side-effects/member-call/_config.js
  test/function/samples/namespace-member-side-effects/member-call/api/index.js
  test/function/samples/namespace-member-side-effects/member-call/api/namespace.js
  test/function/samples/namespace-member-side-effects/member-call/api/sideEffects.js
  test/function/samples/namespace-member-side-effects/member-call/main.js
  test/function/samples/namespace-member-side-effects/missing-access/_config.js
  test/function/samples/namespace-member-side-effects/missing-access/api/index.js
  test/function/samples/namespace-member-side-effects/missing-access/api/namespace.js
  test/function/samples/namespace-member-side-effects/missing-access/main.js
  test/function/samples/namespace-member-side-effects/unknown-access/_config.js
  test/function/samples/namespace-member-side-effects/unknown-access/api/index.js
  test/function/samples/namespace-member-side-effects/unknown-access/api/namespace.js
  test/function/samples/namespace-member-side-effects/unknown-access/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.7.5
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Switch to StackBlitz based reproduction template
  .github/ISSUE_TEMPLATE/bug.yaml
Due: none

Add repl.it template back to list
  .github/ISSUE_TEMPLATE/bug.yaml
Due: none

feat: deduplicate reexports and renderedExports to simplify output (#4759)
  src/Chunk.ts
  test/chunking-form/samples/deprecated/preserve-modules-auto-export-mode/_expected/es/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/other.js
  test/chunking-form/samples/deprecated/preserve-modules-named-export-mode/_expected/es/main.js
  test/chunking-form/samples/deprecated/preserve-modules-non-entry-imports/_expected/es/main.js
  test/chunking-form/samples/improved-dynamic-chunks/dynamic-import-dynamic-multi-stage/_expected/es/generated-dynamic2.js
  test/chunking-form/samples/improved-dynamic-chunks/dynamic-import-dynamic/_expected/es/generated-dynamic2.js
  test/chunking-form/samples/improved-dynamic-chunks/multi-entry-different-and-shared-dependencies/_expected/es/generated-dynamic.js
  test/chunking-form/samples/improved-dynamic-chunks/multi-entry-different-and-shared-dependencies/_expected/es/main1.js
  test/chunking-form/samples/improved-dynamic-chunks/multi-entry-different-and-shared-dependencies/_expected/es/main2.js
  test/chunking-form/samples/improved-dynamic-chunks/multi-entry-different-dependencies/_expected/es/generated-dynamic.js
  test/chunking-form/samples/improved-dynamic-chunks/multi-entry-different-dependencies/_expected/es/main1.js
  test/chunking-form/samples/improved-dynamic-chunks/multi-entry-different-dependencies/_expected/es/main2.js
  test/chunking-form/samples/improved-dynamic-chunks/multi-entry-partly-already-loaded-dynamic/_expected/es/generated-dynamic1.js
  test/chunking-form/samples/improved-dynamic-chunks/multi-entry-partly-already-loaded-dynamic/_expected/es/generated-dynamic2.js
  test/chunking-form/samples/improved-dynamic-chunks/multi-entry-partly-already-loaded-dynamic/_expected/es/main1.js
  test/chunking-form/samples/improved-dynamic-chunks/multi-entry-partly-already-loaded-dynamic/_expected/es/main2.js
  test/chunking-form/samples/improved-dynamic-chunks/single-dynamic-multiple-imports/_expected/es/generated-dynamic.js
  test/chunking-form/samples/improved-dynamic-chunks/single-dynamic/_expected/es/generated-dynamic.js
  test/chunking-form/samples/preserve-modules-auto-export-mode/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/other.js
  test/chunking-form/samples/preserve-modules-default-mode-namespace/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-named-export-mode/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-non-entry-imports/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/custom_modules/@my-scope/my-base-pkg/index.js
  test/chunking-form/samples/reexport-shortpaths/_expected/es/main1.js
  test/chunking-form/samples/synthetic-named-exports/deduplicate-synthetic-named-exports-and-default/_expected/es/main1.js
Due: prettier --write, tslint --project . --fix

docs: update outdated info (#4763)
  docs/08-troubleshooting.md
Due: none

Support emitting files via manualChunks in output (#4761)
  src/utils/FileEmitter.ts
  test/function/samples/emit-chunk-manual-asset-source/_config.js
  test/function/samples/emit-chunk-manual-asset-source/main.js
  test/function/samples/emit-chunk-manual-asset-source/manual.js
  test/function/samples/emit-chunk-manual/_config.js
  test/function/samples/emit-chunk-manual/main.js
  test/function/samples/emit-chunk-manual/manual.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.8.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Improve AST garbage collection (#4762)
  LICENSE.md
  browser/LICENSE.md
  package-lock.json
  package.json
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/Node.ts
  src/rollup/rollup.ts
  test/function/samples/plugin-module-information-no-cache/_config.js
  test/function/samples/plugin-module-information-no-cache/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Fix handling of namespace reexports when preserving modules (#4766)
  src/Chunk.ts
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_config.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/amd/dep.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/amd/reexport.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/cjs/dep.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/cjs/main.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/cjs/reexport.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/es/dep.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/es/reexport.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/system/dep.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/_expected/system/reexport.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/dep.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/main.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/reexport.js
  test/chunking-form/samples/preserve-modules-namespace-reexport-reexport/reexport2.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.8.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs: add a instruction about how to run one test on your local computer (#4769)
  CONTRIBUTING.md
Due: none

Fix small typo in 999-big-list-of-options.md (#4768)
  docs/999-big-list-of-options.md
Due: none

Add `version` property to Plugin type (#4771)
  docs/05-plugin-development.md
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

Add support for arbitrary module namespace identifiers (#4770)
  src/Module.ts
  src/ast/nodes/ExportSpecifier.ts
  src/ast/nodes/ImportSpecifier.ts
  test/function/samples/arbitrary-module-namespace-identifiers/_config.js
  test/function/samples/arbitrary-module-namespace-identifiers/foo.js
  test/function/samples/arbitrary-module-namespace-identifiers/main.js
  test/function/samples/arbitrary-module-namespace-identifiers/reexport.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.9.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Bump deps (#4778)
  .eslintrc.js
  LICENSE.md
  browser/LICENSE.md
  browser/src/performance.ts
  cli/run/timings.ts
  docs/999-big-list-of-options.md
  package-lock.json
  package.json
  scripts/perf.js
  src/Chunk.ts
  src/ModuleLoader.ts
  src/ast/nodes/ArrayExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/utils/FileEmitter.ts
  src/utils/collapseSourcemaps.ts
  src/utils/error.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/relativeId.ts
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
  test/function/index.js
  test/typescript/index.ts
Due: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

Import from node:fs/promises (#4777)
  browser/src/fs.ts
  build-plugins/generate-license-file.ts
  build-plugins/get-banner.ts
  cli/run/getConfigPath.ts
  cli/run/loadConfigFile.ts
  cli/run/watch-cli.ts
  scripts/find-config.js
  src/ModuleLoader.ts
  src/rollup/rollup.ts
  src/utils/fs.ts
  src/utils/resolveId.ts
  test/cli/samples/watch/close-stdin/wrapper.js
Due: prettier --write, tslint --project . --fix

Remove array grouping (web compat issue) (#4779)
  src/ast/nodes/shared/ArrayPrototype.ts
  test/form/samples/builtin-prototypes/array-expression/_expected.js
  test/form/samples/builtin-prototypes/array-expression/main.js
Due: prettier --write, tslint --project . --fix

Use Set and builtin-modules package (#4781)
  LICENSE.md
  browser/LICENSE.md
  package-lock.json
  package.json
  src/finalisers/shared/warnOnBuiltins.ts
Due: prettier --write, tslint --project . --fix

Use more restrictive types (#4782)
  src/Bundle.ts
  src/ast/scopes/ClassBodyScope.ts
  src/ast/scopes/ModuleScope.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/scopes/Scope.ts
  src/ast/scopes/TrackingScope.ts
  src/ast/variables/ExportShimVariable.ts
  src/ast/variables/ExternalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/SyntheticNamedExportVariable.ts
  src/finalisers/cjs.ts
  src/finalisers/es.ts
  src/finalisers/shared/getCompleteAmdId.ts
  src/finalisers/shared/getExportBlock.ts
  src/utils/FileEmitter.ts
Due: prettier --write, tslint --project . --fix

3.9.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Use @jridgewell/sourcemap-codec (#4785)
  LICENSE.md
  browser/LICENSE.md
  package-lock.json
  package.json
  src/utils/decodedSourcemap.ts
  test/function/samples/warning-low-resolution-location/_config.js
  test/sourcemaps/samples/transform-low-resolution/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Remove default acorn options + other fixes (#4786)
  .eslintrc.js
  src/Bundle.ts
  src/Module.ts
  src/utils/PluginDriver.ts
  src/utils/options/normalizeInputOptions.ts
  test/function/samples/options-hook/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix: import can be shortened (#4794)
  src/utils/error.ts
Due: prettier --write, tslint --project . --fix

Update dependencies (#4796)
  .eslintrc.js
  package-lock.json
  package.json
  rollup.config.ts
  scripts/perf.js
  src/utils/error.ts
  test/cli/samples/multiple-targets-different-plugins/rollup.config.mjs
  test/cli/samples/plugin/named-export/_config.js
  test/cli/samples/plugin/named-export/_expected/cjs.js
  test/cli/samples/plugin/named-export/_expected/es.js
  test/cli/samples/plugin/named-export/main.js
  test/cli/samples/plugin/named-export/rollup.config.mjs
  test/sourcemaps/samples/transform-low-resolution/_config.js
  test/typescript/index.ts
Due: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

feat: add `resolvedBy` field to `ResolvedId` (#4789)
  browser/src/resolveId.ts
  docs/05-plugin-development.md
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/PluginDriver.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  test/browser/samples/missing-dependency-resolution/_config.js
  test/browser/samples/missing-entry-resolution/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/context-resolve/_config.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/import-assertions/plugin-assertions-this-resolve/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/resolve-relative-external-id/_config.js
  test/function/samples/validate-resolved-by-logic/_config.js
  test/function/samples/validate-resolved-by-logic/bar.js
  test/function/samples/validate-resolved-by-logic/foo.js
  test/function/samples/validate-resolved-by-logic/main.js
  test/function/samples/validate-resolved-by-logic/other.js
  test/incremental/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

feat: treeshake for optional chaining (#4797)
  src/ast/nodes/ChainExpression.ts
  test/form/samples/tree-shake-optional-chaining-literal/_config.js
  test/form/samples/tree-shake-optional-chaining-literal/_expected.js
  test/form/samples/tree-shake-optional-chaining-literal/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.10.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: rollup bin file is in dist folder (#4809)
  docs/08-troubleshooting.md
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
