Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

4.1.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: export xxhashBase64Url from wasm (#5203)
  browser/src/wasm.ts
  native.wasm.js
  package.json
  rust/bindings_wasm/src/lib.rs
  scripts/lint-native-js.js
  scripts/publish-wasm-node-package.js
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: prettier --write, tslint --project . --fix

4.1.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix publish script
  scripts/publish-wasm-node-package.js
Due: none

4.1.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

perf: shrink wasm size by avoid importing browserslist (#5204)
  rust/Cargo.lock
  rust/bindings_wasm/Cargo.toml
  rust/parse_ast/Cargo.toml
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/lib.rs
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: none

4.1.4
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Document Vite workaround for browser build (#5209)
  docs/migration/index.md
Due: none

Tweak automerge settings
  renovate.json
Due: none

chore(deps): update dependency lint-staged to v15 (#5215)
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5216)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  test/form/samples/supports-core-js/_expected.js
Due: none

Fix error highlight in REPL (#5219)
  docs/.vitepress/config.ts
  docs/repl/components/ReplEditor.vue
Due: none

Update license plugin (#5218)
  package-lock.json
  package.json
Due: none

docs(cn): resolve conflicts
  docs/.vitepress/config.ts
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/javascript-api/index.md
  docs/migration/index.md
  docs/plugin-development/index.md
  package.json
Due: none

docs: supplement translation
  docs/migration/index.md
Due: none

Fix race condition when emitting implicitly dependent entries (#5220)
  src/ModuleLoader.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/amd/generated-dep.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/amd/generated-lib.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/amd/main.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/cjs/generated-dep.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/cjs/generated-lib.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/cjs/main.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/es/generated-dep.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/es/generated-lib.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/es/main.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/system/generated-dep.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/system/generated-lib.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/_expected/system/main.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/dep.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/lib.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry2/main.js
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore(deps): update actions/setup-node action to v4 (#5224)
  .github/workflows/build-and-tests.yml
  .github/workflows/repl-artefacts.yml
Due: none

chore(deps): lock file maintenance minor/patch updates (#5225)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  rust/xxhash/Cargo.toml
Due: none

4.1.5
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

build: ensure rust toolchain components for linting are installed (#5228)
  .github/workflows/build-and-tests.yml
  rust/rust-toolchain.toml
Due: none

Revert specifying rustfmt and clippy in toolchain file as it breaks REPL build (#5232)
  .github/workflows/build-and-tests.yml
  .github/workflows/repl-artefacts.yml
  rust/rust-toolchain.toml
Due: none

Render emtpy block comments after tree-shaken statements (#5231)
  src/utils/renderHelpers.ts
  test/form/samples/empty-block-comment/_config.js
  test/form/samples/empty-block-comment/_expected.js
  test/form/samples/empty-block-comment/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.1.6
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Revert specifying components in workflow files
  .github/workflows/build-and-tests.yml
  .github/workflows/repl-artefacts.yml
Due: none

perf: introduce `parseAstAsync` and parallelize parsing AST (#5202)
  browser/src/wasm.ts
  docs/javascript-api/index.md
  native.d.ts
  native.js
  native.wasm.js
  rust/bindings_napi/src/lib.rs
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/logs.ts
  src/utils/parseAst.ts
  src/utils/parseAstType.d.ts
  test/misc/parse-ast.js
Due: prettier --write, tslint --project . --fix

4.2.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-unicorn to v49 (#5238)
  package-lock.json
  package.json
Due: none

chore: remove unused files and deps (#5237)
  package-lock.json
  package.json
  tsconfig.json
  typings/hash.js.d.ts
  wasm.d.ts
Due: prettier --write, tslint --project . --fix

Add `forceExit` CLI flag (#5195)
  cli/cli.ts
  cli/help.md
  docs/command-line-interface/index.md
  test/cli/samples/force-exit/_config.js
  test/cli/samples/force-exit/main.js
  test/cli/samples/force-exit/rollup.config.js
Due: prettier --write, eslint --fix

chore(deps): lock file maintenance minor/patch updates (#5239)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_wasm/Cargo.toml
  rust/parse_ast/Cargo.toml
  test/form/samples/supports-core-js/_expected.js
Due: none

fix: edit link to cn repo
  docs/.vitepress/config.ts
Due: none

fix: prevent `ENOENT` error on temp config removal (#5198)
  cli/run/loadConfigFile.ts
Due: none

4.3.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore: 解决冲突
  docs/command-line-interface/index.md
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

chore(deps): lock file maintenance minor/patch updates (#5243)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/bindings_wasm/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

fix: allow the name of Rollup Error to be modified (#5240)
  src/utils/logs.ts
  test/cli/samples/handles-uncaught-errors-under-watch/_config.js
  test/cli/samples/handles-uncaught-errors-under-watch/main.js
  test/cli/samples/handles-uncaught-errors-under-watch/rollup.config.js
  test/types.d.ts
Due: prettier --write, tslint --project . --fix, eslint --fix

Ensure --forceExit works without warning (#5245)
  src/utils/options/mergeOptions.ts
  test/cli/samples/force-exit/_config.js
  test/cli/samples/force-exit/_expected.js
  test/cli/samples/force-exit/rollup.config.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.3.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
