Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

broken link removed (#4577)
  README.md
Due: none

Use var for IIFE (#4588)
  src/finalisers/iife.ts
  test/form/samples/deprecated/prefer-const/_expected/iife.js
  test/form/samples/generated-code-compact/const-bindings-false/_expected/iife.js
  test/form/samples/generated-code-compact/const-bindings-true/_expected/iife.js
  test/form/samples/generated-code/const-bindings-true/_expected/iife.js
Due: prettier --write, tslint --project . --fix

Documentation clarity and syntax improvements (#4584)
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

2.77.1
  package-lock.json
  package.json
Due: none

Improve linting
  .eslintrc.js
  package.json
Due: none

Handle generating non-inlined imports after inlined ones (#4589)
  .eslintrc.js
  src/ast/nodes/ImportExpression.ts
  test/cli/node_modules_rename_me/bar/lib/config.js
  test/cli/node_modules_rename_me/rollup-config-foo/lib/config.js
  test/misc/misc.js
  test/typescript/index.ts
Due: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix

2.77.2
  .eslintrc.js
  package-lock.json
  package.json
  test/cli/node_modules/bar/lib/config.js
  test/cli/node_modules/rollup-config-foo/lib/config.js
Due: none

Improve ESM code example in documentation (#4583)
  docs/01-command-line-reference.md
Due: none

Update README.md (#4590)
  README.md
Due: none

Change REPL artefact generation so that browser build will work on CI (#4594)
  .github/workflows/repl-artefacts.yml
  .gitignore
  package.json
Due: none

resolve currentPath (#4591)
  src/Chunk.ts
  test/chunking-form/samples/preserve-modules-root/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  .eslintrc.js
  CHANGELOG.md
Due: none

2.77.3
  package-lock.json
  package.json
Due: none

Allow using objects as hooks to change execution order (#4600)
  docs/05-plugin-development.md
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/PluginDriver.ts
  src/utils/error.ts
  test/form/samples/enforce-addon-order/_config.js
  test/form/samples/enforce-addon-order/_expected.js
  test/form/samples/enforce-addon-order/main.js
  test/function/samples/enforce-plugin-order/_config.js
  test/function/samples/enforce-plugin-order/main.js
  test/function/samples/enforce-sequential-plugin-order/_config.js
  test/function/samples/enforce-sequential-plugin-order/main.js
  test/function/samples/invalid-addon-hook/_config.js
  test/function/samples/invalid-addon-hook/foo.js
  test/function/samples/invalid-addon-hook/main.js
  test/function/samples/non-function-hook-async/_config.js
  test/function/samples/non-function-hook-sync/_config.js
  test/hooks/index.js
  test/typescript/index.ts
Due: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

2.78.0
  package-lock.json
  package.json
Due: none

Prevent using arguments for generated variable names (#4613)
  src/utils/identifierHelpers.ts
  test/function/samples/escape-arguments/_config.js
  test/function/samples/escape-arguments/arguments.js
  test/function/samples/escape-arguments/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.78.1
  package-lock.json
  package.json
Due: none

Fix test/form/samples/quote-id on Windows (#4614)
  test/form/samples/quote-id/_config.js
Due: prettier --write, eslint --fix

feat: add option to keep extensions for amd (#4607)
  cli/help.md
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
  src/Chunk.ts
  src/finalisers/amd.ts
  src/finalisers/shared/addJsExtension.ts
  src/finalisers/shared/removeExtensionFromRelativeAmdId.ts
  src/finalisers/shared/updateExtensionForRelativeAmdId.ts
  src/finalisers/umd.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/amd-keep-extension/_config.js
  test/form/samples/amd-keep-extension/_expected/amd.js
  test/form/samples/amd-keep-extension/_expected/cjs.js
  test/form/samples/amd-keep-extension/_expected/es.js
  test/form/samples/amd-keep-extension/_expected/iife.js
  test/form/samples/amd-keep-extension/_expected/system.js
  test/form/samples/amd-keep-extension/_expected/umd.js
  test/form/samples/amd-keep-extension/main.js
  test/function/samples/output-options-hook/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.79.0
  package-lock.json
  package.json
Due: none

Adapt workflow to use Node 14 sub-version to work with branch protection
  .github/workflows/tests.yml
Due: none

Reduce permissions for repl-artefacts.yml workflow (#4630)
  .github/workflows/repl-artefacts.yml
Due: none

Improve performance of chunk naming collision check (#4643)
  src/Bundle.ts
  src/Chunk.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/PluginDriver.ts
  src/utils/outputBundle.ts
  src/utils/renderNamePattern.ts
  test/function/samples/generate-bundle-mutation/_config.js
  test/function/samples/generate-bundle-mutation/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update type definition of resolveId (#4641)
  docs/05-plugin-development.md
Due: none

fix: typo docs and contributors link in CONTRIBUTING.md (#4639)
  CONTRIBUTING.md
  docs/01-command-line-reference.md
Due: none

2.79.1
  package-lock.json
  package.json
Due: none

[v3.0] Change default for makeAbsoluteExternalsRelative (#4567)
  docs/999-big-list-of-options.md
  src/utils/options/normalizeInputOptions.ts
  test/form/samples/quote-id/_expected/amd.js
  test/form/samples/quote-id/_expected/cjs.js
  test/form/samples/quote-id/_expected/es.js
  test/form/samples/quote-id/_expected/system.js
  test/form/samples/quote-id/_expected/umd.js
  test/function/samples/options-hook/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v3.0] Better sourcemap emission (#4605)
  browser/package.json
  cli/run/build.ts
  package.json
  src/rollup/rollup.ts
  src/utils/renderChunks.ts
  test/cli/samples/stdout-single-input/_expected.js
  test/function/samples/sourcemap-inline-generatebundle/_config.js
  test/function/samples/sourcemap-inline-generatebundle/main.js
  test/function/samples/sourcemap-true-generatebundle/_config.js
  test/function/samples/sourcemap-true-generatebundle/main.js
  test/sourcemaps/samples/existing-external-sourcemaps-combined/_config.js
  test/sourcemaps/samples/existing-inline-sourcemaps-combined/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v3.0] Port doc changes from #4572 and #4583 to 3.0 (#4592)
  docs/01-command-line-reference.md
Due: none
