Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

2.26.9
  package-lock.json
  package.json
Due: none

Fix api docs loadconfigfile (#3757)
  docs/02-javascript-api.md
Due: none

Handle line-comments when removing line-breaks to prevent ASI (#3762)
  src/utils/renderHelpers.ts
  test/function/samples/prevent-asi-with-line-comments/_config.js
  test/function/samples/prevent-asi-with-line-comments/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.26.10
  package-lock.json
  package.json
Due: none

Handle debugger statements as if-statement branches (#3769)
  CHANGELOG.md
  src/ast/nodes/IfStatement.ts
  test/function/samples/unknown-statement/_config.js
  test/function/samples/unknown-statement/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.26.11
  package-lock.json
  package.json
Due: none

Docs: Exception for babel plugin and commonjs plugin (#3770)
  docs/07-tools.md
Due: none

Handle hoisted variables in dead branches of nested if statements (#3782)
  package-lock.json
  package.json
  src/ast/nodes/IfStatement.ts
  src/utils/options/normalizeInputOptions.ts
  test/form/samples/hoisted-variable-if-stmt/_expected.js
  test/form/samples/hoisted-variable-if-stmt/main.js
  test/function/samples/hoisted-variable-if-else/_config.js
  test/function/samples/hoisted-variable-if-else/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

add ability to specify stdin file extension via --stdin=ext (#3775)
  cli/help.md
  cli/run/commandPlugins.ts
  cli/run/stdin.ts
  docs/01-command-line-reference.md
  test/cli/samples/stdin/commonjs/_config.js
  test/cli/samples/stdin/commonjs/_expected.js
  test/cli/samples/stdin/commonjs/add.js
  test/cli/samples/stdin/json/_config.js
  test/cli/samples/stdin/json/_expected.js
Due: prettier --write, eslint --fix

2.27.0
  package-lock.json
  package.json
Due: none

Handle loading symlinked config files (#3783)
  CHANGELOG.md
  cli/run/getConfigPath.ts
  cli/run/loadConfigFile.ts
  test/cli/samples/symlinked-config/_config.js
  test/cli/samples/symlinked-config/main.js
  test/cli/samples/symlinked-config/rollup.config.js
  test/cli/samples/symlinked-config/rollup.config.symlinked
  test/cli/samples/symlinked-named-config/_config.js
  test/cli/samples/symlinked-named-config/main.js
  test/cli/samples/symlinked-named-config/my.rollup.config.js
  test/cli/samples/symlinked-named-config/rollup.config.symlinked
Due: prettier --write, eslint --fix

2.27.1
  package-lock.json
  package.json
Due: none

[Feature] Add preserveModulesRoot config option (#3786)
  cli/help.md
  docs/01-command-line-reference.md
  docs/02-javascript-api.md
  src/Chunk.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/chunking-form/samples/preserve-modules-root/_config.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/_virtual/index.js_commonjs-proxy
  test/chunking-form/samples/preserve-modules-root/_expected/amd/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/custom_modules/@my-scope/my-base-pkg/index.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/_virtual/index.js_commonjs-proxy
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/custom_modules/@my-scope/my-base-pkg/index.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/_virtual/index.js_commonjs-proxy
  test/chunking-form/samples/preserve-modules-root/_expected/es/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/custom_modules/@my-scope/my-base-pkg/index.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/_virtual/index.js_commonjs-proxy
  test/chunking-form/samples/preserve-modules-root/_expected/system/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/custom_modules/@my-scope/my-base-pkg/index.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/under-build.js
  test/chunking-form/samples/preserve-modules-root/custom_modules/@my-scope/my-base-pkg/index.js
  test/chunking-form/samples/preserve-modules-root/custom_modules/@my-scope/my-base-pkg/package.json
  test/chunking-form/samples/preserve-modules-root/src/below/module.js
  test/chunking-form/samples/preserve-modules-root/src/under-build.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.28.0
  package-lock.json
  package.json
Due: none

Fix preserveModulesRoot path on Windows (#3791)
  src/Chunk.ts
Due: prettier --write, tslint --project . --fix

2.28.1
  package-lock.json
  package.json
Due: none

add documentation for output.PreserveModulesRoot (#3792)
  docs/999-big-list-of-options.md
Due: none

Fix SystemJS default variable conflict (#3796)
  src/Chunk.ts
  test/chunking-form/samples/deconflict-system-default-export-variable/_config.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/amd/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/amd/other.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/cjs/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/cjs/other.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/es/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/es/other.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/system/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/_expected/system/other.js
  test/chunking-form/samples/deconflict-system-default-export-variable/main.js
  test/chunking-form/samples/deconflict-system-default-export-variable/other.js
  test/chunking-form/samples/deprecated/preserve-modules-dynamic-namespace/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-dynamic-namespace/_expected/system/main.js
  test/form/samples/export-default-global/dynamic.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.28.2
  package-lock.json
  package.json
Due: none

Document that the default value of --format is 'es' (#3808)
  docs/999-big-list-of-options.md
Due: none

Watch: listen for new files added to a directory (#3812)
  src/watch/fileWatcher.ts
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.29.0
  package-lock.json
  package.json
Due: none

wile => while (#3815)
  docs/05-plugin-development.md
Due: none

Docs: fix code snippet (#3817)
  docs/05-plugin-development.md
Due: none

feat: Update documentation on configuring Babel, removing the section on passing '{"modules": false}' as that is no longer needed since Babel 7. Closes #3717 (#3818)
  docs/07-tools.md
Due: none

Add moduleParsed plugin hook (#3813)
  cli/help.md
  docs/01-command-line-reference.md
  docs/05-plugin-development.md
  src/Bundle.ts
  src/Chunk.ts
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/shared/Node.ts
  src/rollup/types.d.ts
  src/utils/PluginDriver.ts
  src/utils/collapseSourcemaps.ts
  src/utils/transform.ts
  src/utils/traverseStaticDependencies.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/module-parsed-hook/dep.js
  test/function/samples/module-parsed-hook/main.js
  test/function/samples/plugin-module-information/_config.js
  test/incremental/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.30.0
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
