Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.12.0
  package-lock.json
  package.json
Due: none

Handle imports from chunks with names that correspond to parent directory names of other chunks (#3609)
  src/Chunk.ts
  test/misc/misc.js
Due: prettier --write, tslint --project . --fix

2.12.1
  package-lock.json
  package.json
Due: none

2.13.0
  package-lock.json
  package.json
Due: none

handle system reserved identifier dedupes (#3614)
  src/Chunk.ts
  test/form/samples/protect-cjs-globals/_expected/system.js
  test/form/samples/sequence-expression/_expected/system.js
  test/form/samples/system-module-reserved/_config.js
  test/form/samples/system-module-reserved/_expected/amd.js
  test/form/samples/system-module-reserved/_expected/cjs.js
  test/form/samples/system-module-reserved/_expected/es.js
  test/form/samples/system-module-reserved/_expected/iife.js
  test/form/samples/system-module-reserved/_expected/system.js
  test/form/samples/system-module-reserved/_expected/umd.js
  test/form/samples/system-module-reserved/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.13.1
  package-lock.json
  package.json
Due: none

Make watch mode available in plugins (#3616)
  docs/01-command-line-reference.md
  docs/05-plugin-development.md
  src/Graph.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  test/function/samples/options-hook/_config.js
  test/function/samples/options-hook/unused.js
  test/function/samples/options-hook/used.js
  test/function/samples/output-options-hook/_config.js
  test/function/samples/output-options-hook/main.js
  test/hooks/index.js
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.14.0
  package-lock.json
  package.json
Due: none

Update sourcemapPathTransform to also take the path to the sourcemap … (#3617)
  docs/999-big-list-of-options.md
  src/Chunk.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeOutputOptions.ts
  test/sourcemaps/samples/transform-full-source-paths/_config.js
  test/sourcemaps/samples/transform-full-source-paths/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Issue/3607 rollup watch only one config in exported array (#3620)
  cli/run/watch-cli.ts
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/cli/samples/watch/no-watched-config/_config.js
  test/cli/samples/watch/no-watched-config/main.js
  test/cli/samples/watch/no-watched-config/rollup.config.js
  test/watch/index.js
  test/watch/samples/watch-files-multiple/dep.txt
  test/watch/samples/watch-files-multiple/depdep.txt
  test/watch/samples/watch-files-multiple/first.js
  test/watch/samples/watch-files-multiple/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
  test/sourcemaps/samples/transform-full-source-paths/_config.js
Due: prettier --write, eslint --fix

Update changelog
  test/sourcemaps/samples/transform-full-source-paths/_config.js
Due: prettier --write, eslint --fix

Fix test
  test/sourcemaps/samples/transform-full-source-paths/_config.js
Due: prettier --write, eslint --fix

Update dependencies
  package-lock.json
  package.json
Due: none

Fix test
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

2.15.0
  package-lock.json
  package.json
Due: none

Docs > Tutorial > Improve discoverability of `manualChunks` for code splitting (#3631)
  docs/04-tutorial.md
Due: none

Acorn 7.3.0 upgrade (#3628)
  LICENSE.md
  package-lock.json
  package.json
  rollup.config.js
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ChainExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/index.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/pureComments.ts
  test/function/samples/options-hook/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Support numeric separator (#3626)
  LICENSE.md
  package-lock.json
  package.json
  src/utils/options/normalizeInputOptions.ts
  test/form/samples/numeric_separators/_config.js
  test/form/samples/numeric_separators/_expected.js
  test/form/samples/numeric_separators/main.js
  test/function/samples/options-hook/_config.js
  typings/declarations.d.ts
Due: prettier --write, tslint --project . --fix, eslint --fix

2.16.0
  package-lock.json
  package.json
Due: none

Handle single quote escaping in ids (#3632)
  src/Chunk.ts
  src/utils/escapeId.ts
  test/form/samples/quote-id/_config.js
  test/form/samples/quote-id/_expected/amd.js
  test/form/samples/quote-id/_expected/cjs.js
  test/form/samples/quote-id/_expected/es.js
  test/form/samples/quote-id/_expected/iife.js
  test/form/samples/quote-id/_expected/system.js
  test/form/samples/quote-id/_expected/umd.js
  test/form/samples/quote-id/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Turn namespace assignment error into a warning (#3633)
  src/ast/nodes/MemberExpression.ts
  test/function/samples/namespace-reassign-import-fails/_config.js
  test/function/samples/namespace-update-import-fails/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.16.1
  package-lock.json
  package.json
Due: none

support backslash escaping, retain exact newline escaping (#3638)
  src/utils/escapeId.ts
  test/form/samples/quote-id/_config.js
  test/form/samples/quote-id/_expected/amd.js
  test/form/samples/quote-id/_expected/cjs.js
  test/form/samples/quote-id/_expected/es.js
  test/form/samples/quote-id/_expected/iife.js
  test/form/samples/quote-id/_expected/system.js
  test/form/samples/quote-id/_expected/umd.js
  test/form/samples/quote-id/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Do not include the whole namespace when illegally mutating a namespace (#3637)
  src/ast/nodes/MemberExpression.ts
  test/cli/samples/config-no-module/_config.js
  test/cli/samples/config-warnings/_config.js
  test/cli/samples/custom-frame-with-pos/_config.js
  test/cli/samples/custom-frame/_config.js
  test/cli/samples/duplicate-import-options/_config.js
  test/cli/samples/empty-chunk-multiple/_config.js
  test/cli/samples/empty-chunk/_config.js
  test/cli/samples/node-config-not-found/_config.js
  test/cli/samples/plugin/cannot-load/_config.js
  test/cli/samples/plugin/invalid-argument/_config.js
  test/cli/samples/stdin/no-stdin-tty/_config.js
  test/cli/samples/stdin/stdin-error/_config.js
  test/cli/samples/stdout-only-inline-sourcemaps/_config.js
  test/cli/samples/warn-broken-sourcemap/_config.js
  test/cli/samples/warn-broken-sourcemaps/_config.js
  test/cli/samples/warn-circular-multiple/_config.js
  test/cli/samples/warn-circular/_config.js
  test/cli/samples/warn-eval-multiple/_config.js
  test/cli/samples/warn-eval/_config.js
  test/cli/samples/warn-import-export/_config.js
  test/cli/samples/warn-missing-global-multiple/_config.js
  test/cli/samples/warn-missing-global/_config.js
  test/cli/samples/warn-mixed-exports-multiple/_config.js
  test/cli/samples/warn-multiple/_config.js
  test/cli/samples/warn-plugin/_config.js
  test/cli/samples/warn-this/_config.js
  test/cli/samples/watch/no-watched-config/_config.js
  test/function/samples/namespace-reassign-import-fails/_config.js
  test/function/samples/namespace-reassign-import-fails/foo.js
  test/function/samples/namespace-reassign-import-fails/main.js
  test/function/samples/namespace-update-import-fails/_config.js
  test/function/samples/namespace-update-import-fails/foo.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Fix performance regression when a file is imported by many importers (#3641)
  src/Graph.ts
  src/ModuleLoader.ts
Due: prettier --write, tslint --project . --fix

set browser build in exports (#3634)
  package.json
Due: none

2.17.0
  package-lock.json
  package.json
Due: none

Fix accessing nested properties of namespaces (#3643)
  CHANGELOG.md
  src/ast/nodes/MemberExpression.ts
  test/cli/samples/watch/bundle-error/_config.js
  test/function/samples/nested-namespace-member-expression/_config.js
  test/function/samples/nested-namespace-member-expression/helpers.js
  test/function/samples/nested-namespace-member-expression/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.17.1
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
