Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

2.75.1
  package-lock.json
  package.json
Due: none

Ensure parameter defaults are deoptimized, just like arguments (#4515)
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  test/function/samples/parameter-defaults/function-as-default/_config.js
  test/function/samples/parameter-defaults/function-as-default/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
  package.json
Due: none

2.75.3
  package-lock.json
  package.json
Due: none

Always pull first on publish
  package.json
Due: none

Update changelog
  CHANGELOG.md
Due: none

2.75.4
  package-lock.json
  package.json
Due: none

Try to make logical expression deoptimization more robust (#4519)
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/NewExpression.ts
  src/utils/renderCallArguments.ts
  test/form/samples/side-effect-es5-classes/_expected.js
  test/function/samples/unused-constructor-argument-fallback/_config.js
  test/function/samples/unused-constructor-argument-fallback/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.75.5
  package-lock.json
  package.json
Due: none

docs: change `dep.js` to `polyfill.js` in faqs (#4521)
  docs/06-faqs.md
Due: none

2.75.6
  package-lock.json
  package.json
Due: none

chore: remove source map workaround, bump deps (#4523)
  .github/workflows/tests.yml
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
Due: none

Add regression tests for instanceof (#4525)
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/NewExpression.ts
  test/function/samples/instanceof/left-hand-effect/_config.js
  test/function/samples/instanceof/left-hand-effect/main.js
  test/function/samples/instanceof/right-hand-effect/_config.js
  test/function/samples/instanceof/right-hand-effect/main.js
  test/function/samples/instanceof/used-parameter/_config.js
  test/function/samples/instanceof/used-parameter/main.js
  test/function/samples/instanceof/used/_config.js
  test/function/samples/instanceof/used/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore: bump resolve from 1.22.0 to 1.22.1 (#4535)
  package-lock.json
Due: none

fix: rename Array.prototype.group/groupToMap (#4531)
  src/ast/nodes/shared/ArrayPrototype.ts
  test/form/samples/builtin-prototypes/array-expression/_expected.js
  test/form/samples/builtin-prototypes/array-expression/main.js
Due: prettier --write, tslint --project . --fix

chore: Set permissions for GitHub actions (#4528)
  .github/workflows/tests.yml
Due: none

2.75.7
  package-lock.json
  package.json
Due: none

Adapt Node versions on CI to prepare for v3 (#4546)
  .github/workflows/tests.yml
  codecov.yml
Due: none

Update dependencies (#4559)
  package-lock.json
  package.json
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main2.js
  test/cli/samples/plugin/advanced-esm/_expected/cjs.js
  test/cli/samples/plugin/advanced-esm/_expected/es.js
  test/form/samples/supports-core-js/_expected.js
Due: none

Improve error message for invalid patterns (#4556)
  src/utils/renderNamePattern.ts
  test/function/samples/invalid-pattern/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore: Included githubactions in the dependabot config (#4538)
  .github/dependabot.yml
Due: none

Bump codecov/codecov-action from 1 to 3 (#4562)
  .github/workflows/tests.yml
Due: none

Bump peter-evans/find-comment from 1 to 2 (#4561)
  .github/workflows/repl-artefacts.yml
Due: none

Bump peter-evans/create-or-update-comment from 1 to 2 (#4560)
  .github/workflows/repl-artefacts.yml
Due: none

Add support for absolute plugin paths (#4533)
  cli/run/commandPlugins.ts
  test/cli/samples/plugin/absolute-esm/_config.js
  test/cli/samples/plugin/absolute-esm/main.js
  test/cli/samples/plugin/absolute/_config.js
  test/cli/samples/plugin/absolute/main.js
Due: prettier --write, eslint --fix

Add sourcemapBaseUrl option (#4527)
  cli/help.md
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/url.ts
  test/function/samples/sourcemap-base-url-invalid/_config.js
  test/function/samples/sourcemap-base-url-invalid/main.js
  test/misc/optionList.js
  test/sourcemaps/samples/sourcemap-base-url/_config.js
  test/sourcemaps/samples/sourcemap-base-url/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.76.0
  package-lock.json
  package.json
Due: none

Document more ways to read package.json in ESM (#4572)
  .lintstagedrc.js
  docs/01-command-line-reference.md
Due: none

Do not include unused return expressions (#4573)
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/shared/MultiExpression.ts
  test/form/samples/builtin-prototypes/literal/_expected.js
  test/form/samples/builtin-prototypes/literal/main.js
  test/form/samples/builtin-prototypes/template-literal/_expected.js
  test/form/samples/builtin-prototypes/template-literal/main.js
  test/form/samples/return-after-error/_config.js
  test/form/samples/return-after-error/_expected.js
  test/form/samples/return-after-error/main.js
  test/function/samples/class-prop-returns/_config.js
  test/function/samples/class-prop-returns/main.js
  test/function/samples/conditionals-deoptimization/_config.js
  test/function/samples/conditionals-deoptimization/main.js
  test/function/samples/long-path-deopt/_config.js
  test/function/samples/long-path-deopt/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.77.0
  package-lock.json
  package.json
Due: none

Update dependencies (#4580)
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none
