Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

2.57.0
  package-lock.json
  package.json
Due: none

Remove unused rollup-plugin-typescript ambient module types (#4233)
  src/ast/nodes/Identifier.ts
  typings/declarations.d.ts
Due: prettier --write, tslint --project . --fix

Add isEntry flag to resolveId and this.resolve (#4230)
  browser/resolveId.ts
  docs/01-command-line-reference.md
  docs/05-plugin-development.md
  docs/999-big-list-of-options.md
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  test/function/index.js
  test/function/samples/resolveid-is-entry/_config.js
  test/function/samples/resolveid-is-entry/chunkWithImporter.js
  test/function/samples/resolveid-is-entry/chunkWithoutImporter.js
  test/function/samples/resolveid-is-entry/dep.js
  test/function/samples/resolveid-is-entry/main.js
  test/function/samples/resolveid-is-entry/resolutionWithImporter.js
  test/function/samples/resolveid-is-entry/resolutionWithImporterEntry.js
  test/function/samples/resolveid-is-entry/resolutionWithImporterNonEntry.js
  test/function/samples/resolveid-is-entry/resolutionWithoutImporter.js
  test/function/samples/resolveid-is-entry/resolutionWithoutImporterEntry.js
  test/function/samples/resolveid-is-entry/resolutionWithoutImporterNonEntry.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update dependencies (#4235)
  package-lock.json
  package.json
  rollup.config.ts
  test/form/samples/supports-core-js/_expected.js
Due: none

Update changelog
  CHANGELOG.md
Due: none

2.58.0
  package-lock.json
  package.json
Due: none

Update documentation
  docs/08-troubleshooting.md
Due: none

2.58.1
  package-lock.json
  package.json
Due: none

2.58.2
  package-lock.json
  package.json
Due: none

2.58.3
  package-lock.json
  package.json
Due: none

Explicitly include nested package.json in artefact
  package.json
Due: none

Support for class static initialization block (#4249)
  src/Module.ts
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/CatchClause.ts
  src/ast/nodes/ClassBody.ts
  src/ast/nodes/ClassDeclaration.ts
  src/ast/nodes/FunctionDeclaration.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/StaticBlock.ts
  src/ast/nodes/index.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/Node.ts
  test/form/samples/class-static-initialization-block/_config.js
  test/form/samples/class-static-initialization-block/_expected.js
  test/form/samples/class-static-initialization-block/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

typescript bug class field initialization order (#4236)
  src/Module.ts
Due: prettier --write, tslint --project . --fix

Skip inherited properties in synthetic namespaces (#4256)
  src/utils/interopHelpers.ts
  test/function/samples/synthetic-named-exports-fallback-es2015/inherited.js
  test/function/samples/synthetic-named-exports-fallback-es2015/main.js
  test/function/samples/synthetic-named-exports-fallback/inherited.js
  test/function/samples/synthetic-named-exports-fallback/main.js
Due: prettier --write, tslint --project . --fix

2.59.0
  package-lock.json
  package.json
Due: none

fix(utils): exclude invalid URL chars (#4262)
  src/utils/sanitizeFileName.ts
  test/chunking-form/samples/sanitize-chunk-names/_config.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/another-_slug_-_result.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/another-_slug_-_result.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/another-_slug_-_result.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/system/another-_slug_-_result.js
Due: prettier --write, tslint --project . --fix, eslint --fix

support loading ESM plugins from the CLI (#4265)
  build-plugins/esm-dynamic-import.ts
  cli/run/commandPlugins.ts
  cli/run/index.ts
  cli/run/loadConfigFile.ts
  cli/run/loadConfigFromCommand.ts
  test/cli/samples/plugin/absolute-esm/_config.js
  test/cli/samples/plugin/absolute-esm/_expected.js
  test/cli/samples/plugin/absolute-esm/my-esm-plugin.mjs
  test/cli/samples/plugin/advanced-esm/_config.js
  test/cli/samples/plugin/advanced-esm/_expected/cjs.js
  test/cli/samples/plugin/advanced-esm/_expected/es.js
  test/cli/samples/plugin/advanced-esm/main.js
  test/cli/samples/plugin/advanced-esm/node_modules/foo/index.js
  test/cli/samples/plugin/advanced-esm/node_modules/print/index.js
  test/cli/samples/plugin/advanced-esm/node_modules/rollup-plugin-esm-test/index.mjs
  test/cli/samples/plugin/advanced-esm/node_modules/rollup-plugin-esm-test/package.json
  test/cli/samples/plugin/advanced-esm/rollup.config.js
  test/cli/samples/plugin/relative-esm/_config.js
  test/cli/samples/plugin/relative-esm/_expected.js
Due: prettier --write, eslint --fix

Plugin context function for pre-loading modules (#4234)
  docs/05-plugin-development.md
  package-lock.json
  package.json
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  test/function/samples/plugin-error-module-parsed/_config.js
  test/function/samples/plugin-error-module-parsed/main.js
  test/function/samples/preload-cyclic-module/_config.js
  test/function/samples/preload-cyclic-module/main.js
  test/function/samples/preload-module/_config.js
  test/function/samples/preload-module/dep.js
  test/function/samples/preload-module/main.js
  test/function/samples/preload-module/other-dep.js
  test/function/samples/preload-module/other.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
  package.json
Due: none

2.60.0
  package-lock.json
  package.json
Due: none

2.60.1
  package-lock.json
  package.json
Due: none

Fix extra quote mark (#4280)
  docs/05-plugin-development.md
Due: none

fix: escape dynamic import paths (#4286)
  src/Chunk.ts
  test/chunking-form/samples/emit-file/emit-chunk/_config.js
  test/chunking-form/samples/emit-file/emit-chunk/_expected/amd/main.js
  test/chunking-form/samples/emit-file/emit-chunk/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/emit-chunk/_expected/es/main.js
  test/chunking-form/samples/emit-file/emit-chunk/_expected/system/main.js
  test/chunking-form/samples/emit-file/emit-chunk/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.60.2
  package-lock.json
  package.json
Due: none

chore: bump deps (#4293)
  .husky/.gitignore
  cli/logging.ts
  cli/run/batchWarnings.ts
  cli/run/build.ts
  cli/run/loadConfigFile.ts
  cli/run/timings.ts
  cli/run/waitForInput.ts
  cli/run/watch-cli.ts
  package-lock.json
  package.json
  src/utils/colors.ts
Due: prettier --write, tslint --project . --fix

modify mkdirpath (#4288)
  src/utils/fs.ts
Due: prettier --write, tslint --project . --fix

2.61.0
  package-lock.json
  package.json
Due: none

refactor: use set for reserved words (#4298)
  src/utils/exportNames.ts
  src/utils/generateCodeSnippets.ts
  src/utils/reservedNames.ts
  src/utils/safeName.ts
Due: prettier --write, tslint --project . --fix

Make sure this.load waits for modules that are already loading (#4296)
  src/ModuleLoader.ts
  test/function/samples/preload-loading-module/_config.js
  test/function/samples/preload-loading-module/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Sort implicit dependencies
  src/Module.ts
Due: prettier --write, tslint --project . --fix
