Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.24.0
  package-lock.json
  package.json
Due: none

cli: implement --failAfterWarnings flag (#3712)
  cli/help.md
  cli/run/batchWarnings.ts
  cli/run/index.ts
  docs/01-command-line-reference.md
  src/utils/options/mergeOptions.ts
  test/cli/samples/fail-after-warnings/_config.js
  test/cli/samples/fail-after-warnings/_expected.js
  test/cli/samples/fail-after-warnings/main.js
  test/cli/samples/node-config-not-found/_expected.js
  test/cli/samples/stdout-only-inline-sourcemaps/_expected.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.25.0
  package-lock.json
  package.json
Due: none

Fix missing variables for UMD and IIFE builds (#3724)
  src/Chunk.ts
  test/form/samples/handles-empty-imports-iife/_config.js
  test/form/samples/handles-empty-imports-iife/_expected.js
  test/form/samples/handles-empty-imports-iife/main.js
  test/form/samples/handles-empty-imports-umd/_config.js
  test/form/samples/handles-empty-imports-umd/_expected.js
  test/form/samples/handles-empty-imports-umd/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Do not entirely move else branch if another else branch might accidentally be referenced. (#3725)
  src/ast/nodes/IfStatement.ts
  test/function/samples/simplified-nested-if/_config.js
  test/function/samples/simplified-nested-if/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Add import specifiers to bundle information (#3722)
  docs/02-javascript-api.md
  docs/05-plugin-development.md
  src/Chunk.ts
  src/rollup/types.d.ts
  test/incremental/index.js
  test/misc/bundle-information.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.26.0
  package-lock.json
  package.json
Due: none

WIP: test case for import namespace when only rendering systemjs (#3731)
  src/Chunk.ts
  test/form/samples/import-namespace-systemjs/_config.js
  test/form/samples/import-namespace-systemjs/_expected.js
  test/form/samples/import-namespace-systemjs/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.26.1
  package-lock.json
  package.json
Due: none

Prevent unintended ASI for nested conditionals (#3732)
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/YieldExpression.ts
  test/function/samples/prevent-tree-shaking-asi/main.js
Due: prettier --write, tslint --project . --fix

2.26.2
  package-lock.json
  package.json
Due: none

Prevent ASI when simplifying a nested logical expression (#3734)
  src/ast/nodes/LogicalExpression.ts
  test/function/samples/prevent-tree-shaking-asi/main.js
Due: prettier --write, tslint --project . --fix

2.26.3
  package-lock.json
  package.json
Due: none

2.26.4
  package-lock.json
  package.json
Due: none

Avoid variable name conflict when reexporting several namespaces from a chunk (#3742)
  src/utils/deconflictChunk.ts
  test/chunking-form/samples/combined-namespace-reexport/_config.js
  test/chunking-form/samples/combined-namespace-reexport/_expected/amd/generated-geometry.js
  test/chunking-form/samples/combined-namespace-reexport/_expected/amd/main1.js
  test/chunking-form/samples/combined-namespace-reexport/_expected/amd/main2.js
  test/chunking-form/samples/combined-namespace-reexport/_expected/cjs/generated-geometry.js
  test/chunking-form/samples/combined-namespace-reexport/_expected/cjs/main1.js
  test/chunking-form/samples/combined-namespace-reexport/_expected/cjs/main2.js
  test/chunking-form/samples/combined-namespace-reexport/_expected/es/generated-geometry.js
  test/chunking-form/samples/combined-namespace-reexport/_expected/es/main1.js
  test/chunking-form/samples/combined-namespace-reexport/_expected/es/main2.js
  test/chunking-form/samples/combined-namespace-reexport/_expected/system/generated-geometry.js
  test/chunking-form/samples/combined-namespace-reexport/_expected/system/main1.js
  test/chunking-form/samples/combined-namespace-reexport/_expected/system/main2.js
  test/chunking-form/samples/combined-namespace-reexport/geometry.js
  test/chunking-form/samples/combined-namespace-reexport/index.js
  test/chunking-form/samples/combined-namespace-reexport/main1.js
  test/chunking-form/samples/combined-namespace-reexport/main2.js
  test/chunking-form/samples/combined-namespace-reexport/volume.js
  test/chunking-form/samples/entry-point-without-own-code/_expected/es/main.js
  test/chunking-form/samples/namespace-reexport-name-conflict/_expected/es/main1.js
  test/chunking-form/samples/namespace-reexports/_expected/es/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.26.5
  package-lock.json
  package.json
Due: none

Properly deconflict synthetic named exports (#3747)
  src/ast/variables/SyntheticNamedExportVariable.ts
  src/ast/variables/Variable.ts
  test/chunking-form/samples/deprecated/indirect-reexports-preserve-modules/_expected/amd/components/index.js
  test/chunking-form/samples/deprecated/indirect-reexports-preserve-modules/_expected/cjs/components/index.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/commonjs.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/commonjs.js
  test/chunking-form/samples/deprecated/preserve-modules-named-export-mode/_expected/amd/main.js
  test/chunking-form/samples/deprecated/preserve-modules-named-export-mode/_expected/cjs/main.js
  test/chunking-form/samples/indirect-reexports-preserve-modules/_expected/amd/components/index.js
  test/chunking-form/samples/indirect-reexports-preserve-modules/_expected/cjs/components/index.js
  test/chunking-form/samples/namespace-reexports/_expected/amd/generated-index.js
  test/chunking-form/samples/namespace-reexports/_expected/cjs/generated-index.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/commonjs.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/commonjs.js
  test/chunking-form/samples/preserve-modules-named-export-mode/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-named-export-mode/_expected/cjs/main.js
  test/form/samples/deconflict-format-specific-globals/_expected/amd.js
  test/form/samples/deconflict-format-specific-globals/_expected/cjs.js
  test/form/samples/deconflict-format-specific-globals/_expected/iife.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/function/samples/deconflict-synthetic-named-export-cross-chunk/_config.js
  test/function/samples/deconflict-synthetic-named-export-cross-chunk/foo.js
  test/function/samples/deconflict-synthetic-named-export-cross-chunk/main.js
  test/function/samples/deconflict-synthetic-named-export/_config.js
  test/function/samples/deconflict-synthetic-named-export/foo.js
  test/function/samples/deconflict-synthetic-named-export/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.26.6
  package-lock.json
  package.json
Due: none

Extract hoisted variables from dead branches (#3752)
  src/ast/nodes/Identifier.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/VariableDeclarator.ts
  src/ast/scopes/BlockScope.ts
  src/ast/scopes/Scope.ts
  src/ast/scopes/TrackingScope.ts
  test/form/samples/hoisted-unused-conditional/_expected.js
  test/form/samples/hoisted-variable-if-stmt/_expected.js
  test/form/samples/hoisted-vars-in-dead-branches/_config.js
  test/form/samples/hoisted-vars-in-dead-branches/_expected.js
  test/form/samples/hoisted-vars-in-dead-branches/main.js
  test/form/samples/no-treeshake/_expected.js
  test/form/samples/no-treeshake/_expected/amd.js
  test/form/samples/no-treeshake/_expected/es.js
  test/form/samples/no-treeshake/_expected/iife.js
  test/form/samples/no-treeshake/_expected/system.js
  test/form/samples/no-treeshake/_expected/umd.js
  test/form/samples/no-treeshake/main.js
  test/form/samples/redeclarations/_expected.js
  test/form/samples/redeclarations/_expected/amd.js
  test/form/samples/redeclarations/_expected/cjs.js
  test/form/samples/redeclarations/_expected/es.js
  test/form/samples/redeclarations/_expected/iife.js
  test/form/samples/redeclarations/_expected/system.js
  test/form/samples/redeclarations/_expected/umd.js
  test/form/samples/redeclarations/main.js
  test/form/samples/tree-shake-if-statements/_expected.js
  test/form/samples/tree-shake-if-statements/_expected/amd.js
  test/form/samples/tree-shake-if-statements/_expected/es.js
  test/form/samples/tree-shake-if-statements/_expected/iife.js
  test/form/samples/tree-shake-if-statements/_expected/system.js
  test/form/samples/tree-shake-if-statements/_expected/umd.js
  test/form/samples/tree-shake-if-statements/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Make `options` of `PluginContext#parse` optional (#3750)
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

2.26.7
  package-lock.json
  package.json
Due: none

Also pass resolved ids to external if they use the object form (#3753)
  src/ModuleLoader.ts
  test/function/samples/external-resolved/_config.js
  test/function/samples/external-resolved/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.26.8
  package-lock.json
  package.json
Due: none

Update FAQ: I think it was meant "external" instead of "other-entry.js" (#3756)
  docs/06-faqs.md
Due: none

add RegExp to the include and exclude fields of the WatcherOptions type (#3754)
  CHANGELOG.md
  docs/999-big-list-of-options.md
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
