Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

2.34.1
  package-lock.json
  package.json
Due: none

Revert pattern to folder export (#3898)
  package.json
Due: none

Update changelog
  CHANGELOG.md
Due: none

2.34.2
  package-lock.json
  package.json
Due: none

feat: bundle closing (#3883)
  cli/run/build.ts
  cli/run/watch-cli.ts
  docs/02-javascript-api.md
  docs/05-plugin-development.md
  package-lock.json
  package.json
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/PluginDriver.ts
  src/utils/error.ts
  test/cli/samples/watch/close-error/_config.js
  test/cli/samples/watch/close-error/_expected/main.js
  test/cli/samples/watch/close-error/main.js
  test/cli/samples/watch/close-error/rollup.config.js
  test/form/samples/supports-core-js/_expected.js
  test/hooks/index.js
  test/misc/sanity-checks.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.35.0
  package-lock.json
  package.json
Due: none

Slightly extend docs
  docs/02-javascript-api.md
Due: none

Fix documentation links
  docs/05-plugin-development.md
Due: none

Forward bundle through watch error events (#3909)
  cli/run/watch-cli.ts
  docs/02-javascript-api.md
  src/rollup/types.d.ts
  src/watch/watch.ts
  test/cli/samples/watch/close-on-generate-error/_config.js
  test/cli/samples/watch/close-on-generate-error/main.js
  test/cli/samples/watch/close-on-generate-error/rollup.config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.35.1
  package-lock.json
  package.json
Due: none

Treeshake chained assignment expressions (#3919)
  src/ast/nodes/AssignmentExpression.ts
  test/form/samples/chained-assignments/_config.js
  test/form/samples/chained-assignments/_expected.js
  test/form/samples/chained-assignments/main.js
  test/form/samples/nested-member-access/_expected.js
  test/form/samples/nested-member-access/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.36.0
  package-lock.json
  package.json
Due: none

Prevent invalid code when removing assignment target of side-effectful object expression (#3921)
  src/ast/nodes/AssignmentExpression.ts
  test/function/samples/tree-shake-object-expression-assignment/_config.js
  test/function/samples/tree-shake-object-expression-assignment/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.36.1
  package-lock.json
  package.json
Due: none

Correctly simplify assignments with parentheses (#3926)
  src/ast/nodes/AssignmentExpression.ts
  src/utils/renderHelpers.ts
  test/function/samples/unused-parenthesed-assignment/_config.js
  test/function/samples/unused-parenthesed-assignment/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.36.2
  package-lock.json
  package.json
Due: none

Always respect synthetic namespaces in namespace reexports (#3894)
  src/Module.ts
  test/function/samples/reexport-from-synthetic/_config.js
  test/function/samples/reexport-from-synthetic/main.js
  test/function/samples/reexport-from-synthetic/reexport.js
  test/function/samples/reexport-from-synthetic/synthetic1.js
  test/function/samples/reexport-from-synthetic/synthetic2.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.37.0
  package-lock.json
  package.json
Due: none

Deduplicate acorn import (#3929)
  rollup.config.js
  src/utils/options/normalizeInputOptions.ts
  typings/declarations.d.ts
Due: prettier --write, tslint --project . --fix

2.37.1
  package-lock.json
  package.json
Due: none

2.38.0
  package-lock.json
  package.json
Due: none

Modernize references to other software (#3937)
  README.md
Due: none

Ensure test after() callback is always executed (#3936)
  test/form/index.js
Due: prettier --write, eslint --fix

fix: remove isolated resolve() for compat with browser distribution (#3935)
  .mocharc.json
  .nycrc
  .vscode/launch.json
  .vscode/settings.json
  browser/error.ts
  browser/fs.ts
  browser/path.ts
  browser/resolveId.ts
  build-plugins/replace-browser-modules.js
  package.json
  rollup.config.js
  src/utils/relativeId.ts
  src/utils/resolveId.ts
  test/browser/index.js
  test/browser/samples/basic/_config.js
  test/browser/samples/basic/_expected/main.js
  test/browser/samples/missing-dependency-resolution/_config.js
  test/browser/samples/missing-entry-resolution/_config.js
  test/browser/samples/missing-load/_config.js
  test/browser/samples/renormalizes-external-paths/_config.js
  test/browser/samples/renormalizes-external-paths/_expected/entry.js
  test/browser/samples/renormalizes-external-paths/_expected/main.js
  test/browser/samples/supports-hashes/_config.js
  test/browser/samples/supports-hashes/_expected/dep-cf8755fa.js
  test/browser/samples/supports-hashes/_expected/main-53604712.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.38.1
  package-lock.json
  package.json
Due: none

Do not partially tree-shake unused declarations in for loops (#3943)
  src/ast/nodes/ForStatement.ts
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/VariableDeclarator.ts
  test/function/samples/unused-for-loop-declaration/_config.js
  test/function/samples/unused-for-loop-declaration/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Correctly include functions with side effects from side-effect-free modules (#3944)
  src/Module.ts
  src/ast/nodes/shared/Node.ts
  test/function/samples/side-effect-free-module-function/_config.js
  test/function/samples/side-effect-free-module-function/curry.js
  test/function/samples/side-effect-free-module-function/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix
