Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

docs: update deprecated option in tools.md (#4467)
  docs/07-tools.md
Due: none

chore: bump github actions (#4477)
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
Due: none

chore(repo): replace `git.io` in the issue template (#4479)
  .github/ISSUE_TEMPLATE/bug.yaml
Due: none

chore: bump deps (#4475)
  package-lock.json
  package.json
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main2.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main2.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main2.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/under-build2.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/under-build2.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/under-build2.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/under-build2.js
  test/cli/samples/plugin/advanced-esm/_expected/cjs.js
  test/cli/samples/plugin/advanced-esm/_expected/es.js
  test/cli/samples/stdin/commonjs/_expected.js
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
Due: none

feat: add Object.hasOwn as pure function (#4482)
  src/ast/nodes/shared/knownGlobals.ts
Due: prettier --write, tslint --project . --fix

ci: test with node.js v18, remove v17 (#4478)
  .github/workflows/tests.yml
Due: none

Throw proper error when indirectly reexporting a recursive binding (#4472)
  docs/05-plugin-development.md
  src/Module.ts
  test/function/samples/circular-reexport/_config.js
  test/function/samples/circular-reexport/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.71.0
  package-lock.json
  package.json
Due: none

Update license
  LICENSE.md
Due: none

Add exports exception for loadConfigFile (#4483)
  docs/02-javascript-api.md
  package.json
Due: none

2.71.1
  package-lock.json
  package.json
Due: none

feat: CLI event hook flags (#4457)
  cli/help.md
  cli/run/watch-cli.ts
  cli/run/watchHooks.ts
  docs/01-command-line-reference.md
  src/rollup/types.d.ts
  test/cli/samples/watch/watch-event-hooks-error/_config.js
  test/cli/samples/watch/watch-event-hooks-error/main.js
  test/cli/samples/watch/watch-event-hooks-error/rollup.config.js
  test/cli/samples/watch/watch-event-hooks-error/wrapper.js
  test/cli/samples/watch/watch-event-hooks/_config.js
  test/cli/samples/watch/watch-event-hooks/main.js
  test/cli/samples/watch/watch-event-hooks/rollup.config.js
  test/cli/samples/watch/watch-event-hooks/wrapper.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Fix reassignment tracking (#4486)
  src/ast/variables/LocalVariable.ts
  test/function/samples/track-reassignments/_config.js
  test/function/samples/track-reassignments/main.js
  test/function/samples/track-reassignments/patchEventTarget.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.72.0
  package-lock.json
  package.json
Due: none

Do not deoptimize entire super class when adding a property (#4489)
  src/ast/nodes/shared/ObjectEntity.ts
  test/form/samples/deoptimize-superclass/_config.js
  test/form/samples/deoptimize-superclass/_expected.js
  test/form/samples/deoptimize-superclass/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.72.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Handle getters on functions and improve property deoptimization (#4493)
  src/ast/Entity.ts
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/utils/PathTracker.ts
  src/ast/variables/GlobalVariable.ts
  test/form/samples/for-loop-assignment/_config.js
  test/form/samples/for-loop-assignment/_expected.js
  test/form/samples/for-loop-assignment/main.js
  test/form/samples/function-iterable-prototype/_config.js
  test/form/samples/function-iterable-prototype/_expected.js
  test/form/samples/function-iterable-prototype/main.js
  test/form/samples/known-globals/_expected.js
  test/form/samples/known-globals/main.js
  test/form/samples/object-define-property/_config.js
  test/form/samples/object-define-property/_expected.js
  test/form/samples/object-define-property/main.js
  test/form/samples/object-expression/unknown-setter-no-side-effect2/_config.js
  test/form/samples/object-expression/unknown-setter-no-side-effect2/_expected.js
  test/form/samples/object-expression/unknown-setter-no-side-effect2/main.js
  test/function/samples/function-getter-side-effects/_config.js
  test/function/samples/function-getter-side-effects/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update docs for --configPlugin using typescript (#4495)
  docs/01-command-line-reference.md
Due: none

Do not treat string.replace as side effect when used with a literal (#4494)
  src/ast/values.ts
  test/form/samples/string-replace-side-effects/_config.js
  test/form/samples/string-replace-side-effects/_expected.js
  test/form/samples/string-replace-side-effects/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.73.0
  package-lock.json
  package.json
Due: none

fix: config path problem on windows (#4501)
  cli/run/loadConfigFile.ts
  test/cli/samples/config-cwd-case-insensitive-es6/_config.js
  test/cli/samples/config-cwd-case-insensitive-es6/main.js
  test/cli/samples/config-cwd-case-insensitive-es6/rollup.config.js
Due: prettier --write, eslint --fix

Avoid maximum listeners exceeded warning (#4502)
  src/utils/hookActions.ts
Due: prettier --write, tslint --project . --fix

Ensure reexports are available for namespaces (#4499)
  src/Chunk.ts
  src/Module.ts
  test/function/samples/dynamic-imports-shared-exports/_config.js
  test/function/samples/dynamic-imports-shared-exports/_expected/amd/generated-dynamic1.js
  test/function/samples/dynamic-imports-shared-exports/_expected/amd/generated-dynamic2.js
  test/function/samples/dynamic-imports-shared-exports/_expected/amd/main.js
  test/function/samples/dynamic-imports-shared-exports/_expected/cjs/generated-dynamic1.js
  test/function/samples/dynamic-imports-shared-exports/_expected/cjs/generated-dynamic2.js
  test/function/samples/dynamic-imports-shared-exports/_expected/cjs/main.js
  test/function/samples/dynamic-imports-shared-exports/_expected/es/generated-dynamic1.js
  test/function/samples/dynamic-imports-shared-exports/_expected/es/generated-dynamic2.js
  test/function/samples/dynamic-imports-shared-exports/_expected/es/main.js
  test/function/samples/dynamic-imports-shared-exports/_expected/system/generated-dynamic1.js
  test/function/samples/dynamic-imports-shared-exports/_expected/system/generated-dynamic2.js
  test/function/samples/dynamic-imports-shared-exports/_expected/system/main.js
  test/function/samples/dynamic-imports-shared-exports/dynamic1.js
  test/function/samples/dynamic-imports-shared-exports/dynamic2.js
  test/function/samples/dynamic-imports-shared-exports/main.js
  test/function/samples/dynamic-imports-shared-exports/shared.js
  test/function/samples/dynamic-imports-shared-exports/sharedDynamic.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.74.0
  package-lock.json
  package.json
Due: none

2.74.1
  package-lock.json
  package.json
Due: none

Tree-shakes side effect free string methods on template literals (#4511)
  src/ast/nodes/Literal.ts
  src/ast/nodes/TemplateLiteral.ts
  src/ast/values.ts
  test/form/samples/builtin-prototypes/template-literal/_config.js
  test/form/samples/builtin-prototypes/template-literal/_expected.js
  test/form/samples/builtin-prototypes/template-literal/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.75.0
  package-lock.json
  package.json
Due: none

Update link to node polyfill repo (#4513)
  cli/run/batchWarnings.ts
  docs/08-troubleshooting.md
  src/finalisers/shared/warnOnBuiltins.ts
  test/cli/samples/warn-multiple/_config.js
  test/misc/misc.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
