Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Re-enable documentation update
  scripts/release.js
Due: none

Fix commit order in release script
  scripts/release.js
Due: none

feat: this.emitFile support prebuilt-chunk type (#4990)
  docs/plugin-development/index.md
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  test/function/samples/emit-file/invalid-asset-name/_config.js
  test/function/samples/emit-file/invalid-asset-name3/_config.js
  test/function/samples/emit-file/invalid-file-type/_config.js
  test/function/samples/emit-file/invalid-prebuilt-chunk-filename/_config.js
  test/function/samples/emit-file/invalid-prebuilt-chunk-filename/main.js
  test/function/samples/emit-file/invalid-prebuit-chunk-code/_config.js
  test/function/samples/emit-file/invalid-prebuit-chunk-code/main.js
  test/function/samples/emit-file/prebuilt-chunk/_config.js
  test/function/samples/emit-file/prebuilt-chunk/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Cache npm dependencies
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
Due: none

feat: mark Set, Map, WeakSet and WeakMap with array arguments as pure (#5005)
  src/ast/nodes/shared/knownGlobals.ts
  test/form/samples/tree-shake-global-variables/_config.js
  test/form/samples/tree-shake-global-variables/_expected.js
  test/form/samples/tree-shake-global-variables/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.23.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Better workflow caching (#5006)
  .github/workflows/clean-cache.yml
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

chore(deps): lock file maintenance minor/patch updates (#5012)
  package-lock.json
  package.json
Due: none

fix: add a trailing slash automatically for sourcemapBaseUrl (#5022)
  src/utils/options/normalizeOutputOptions.ts
  src/utils/url.ts
  test/sourcemaps/samples/sourcemap-base-url-without-trailing-slash/_config.js
  test/sourcemaps/samples/sourcemap-base-url-without-trailing-slash/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore(deps): lock file maintenance minor/patch updates (#5023)
  package-lock.json
  package.json
  test/typescript/index.ts
Due: prettier --write, tslint --project test/typescript --fix

3.23.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(en): merge rollup/master into rollup-docs-cn/master @ 7bbbcb57 (#41)
  .eslintrc.js
  .github/workflows/clean-cache.yml
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  browser/package.json
  cli/cli.ts
  docs/configuration-options/index.md
  docs/plugin-development/index.md
  package-lock.json
  package.json
  renovate.json
  rollup.config.ts
  scripts/release.js
  src/ast/nodes/shared/knownGlobals.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/hookActions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/url.ts
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/tree-shake-global-variables/_config.js
  test/form/samples/tree-shake-global-variables/_expected.js
  test/form/samples/tree-shake-global-variables/main.js
  test/function/samples/emit-file/invalid-asset-name/_config.js
  test/function/samples/emit-file/invalid-asset-name3/_config.js
  test/function/samples/emit-file/invalid-file-type/_config.js
  test/function/samples/emit-file/invalid-prebuilt-chunk-filename/_config.js
  test/function/samples/emit-file/invalid-prebuilt-chunk-filename/main.js
  test/function/samples/emit-file/invalid-prebuit-chunk-code/_config.js
  test/function/samples/emit-file/invalid-prebuit-chunk-code/main.js
  test/function/samples/emit-file/prebuilt-chunk/_config.js
  test/function/samples/emit-file/prebuilt-chunk/main.js
  test/sourcemaps/samples/sourcemap-base-url-without-trailing-slash/_config.js
  test/sourcemaps/samples/sourcemap-base-url-without-trailing-slash/main.js
  test/typescript/index.ts
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

feat: support `#__NO_SIDE_EFFECTS__` annotation for function declaration (#5024)
  docs/configuration-options/index.md
  src/Graph.ts
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/Node.ts
  src/utils/commentAnnotations.ts
  test/form/samples/no-side-effects-function-declaration-preserve/_config.js
  test/form/samples/no-side-effects-function-declaration-preserve/_expected.js
  test/form/samples/no-side-effects-function-declaration-preserve/functions.js
  test/form/samples/no-side-effects-function-declaration-preserve/main.js
  test/form/samples/no-side-effects-function-declaration-preserve/sub-functions.js
  test/form/samples/no-side-effects-function-declaration/_config.js
  test/form/samples/no-side-effects-function-declaration/_expected.js
  test/form/samples/no-side-effects-function-declaration/functions.js
  test/form/samples/no-side-effects-function-declaration/main.js
  test/form/samples/no-side-effects-function-declaration/sub-functions.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.24.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5028)
  package-lock.json
  package.json
Due: none

docs: clean up
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

fix turborepo with rollup --watch (#5027)
  cli/run/watch-cli.ts
Due: none

fix: get right sideEffectModules (#5029)
  src/Module.ts
  test/chunking-form/samples/chunk-assigment-in-dynamic/_config.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/amd/generated-a.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/amd/generated-b.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/amd/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/amd/main.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/cjs/generated-a.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/cjs/generated-b.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/cjs/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/cjs/main.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/es/generated-a.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/es/generated-b.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/es/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/es/main.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/system/generated-a.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/system/generated-b.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/system/generated-c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/_expected/system/main.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/a.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/b.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/c.js
  test/chunking-form/samples/chunk-assigment-in-dynamic/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.24.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

3.25.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: `__NO_SIDE_EFFECTS__` annotation for async function (#5031)
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  test/form/samples/no-side-effects-function-declaration/functions.js
  test/form/samples/no-side-effects-function-declaration/main.js
Due: prettier --write, tslint --project . --fix

3.25.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix typo in index.md (#5040)
  docs/plugin-development/index.md
Due: none

docs: clean up
  CHANGELOG.md
  browser/package.json
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  docs/plugin-development/index.md
  package-lock.json
  package.json
  test/form/samples/no-side-effects-function-declaration/functions.js
  test/form/samples/no-side-effects-function-declaration/main.js
Due: none

chore(deps): lock file maintenance minor/patch updates (#5038)
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

fix: a plugin error can contains numeric code (#5042)
  src/rollup/types.d.ts
  src/utils/logs.ts
  test/function/samples/plugin-error-with-numeric-code/_config.js
  test/function/samples/plugin-error-with-numeric-code/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Fix `this.error` with `pos` in `transform` hook (#5045)
  src/utils/transform.ts
  test/function/samples/plugin-error-transform-pos/_config.js
  test/function/samples/plugin-error-transform-pos/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore(deps): update dependency locate-character to v3 (#5046)
  .eslintrc.js
  LICENSE.md
  browser/LICENSE.md
  package-lock.json
  package.json
  src/ast/nodes/Program.ts
  src/utils/logs.ts
  test/misc/in-memory-sourcemaps.js
Due: prettier --write, tslint --project . --fix

3.25.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix the option section in plugin development
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/plugin-development/index.md
Due: none

Do not add tree-shaken variables to namespaces when inlining dynamic imports (#5047)
  src/Chunk.ts
  src/Module.ts
  test/form/samples/inline-with-reexport/_config.js
  test/form/samples/inline-with-reexport/_expected.js
  test/form/samples/inline-with-reexport/a.js
  test/form/samples/inline-with-reexport/b.js
  test/form/samples/inline-with-reexport/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.25.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs: remove duplicated section in plugin development
  docs/plugin-development/index.md
Due: none

docs(cn): update plugin-development
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/plugin-development/index.md
Due: none
