Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

2.7.3
  package-lock.json
  package.json
Due: none

Update changelog
  CHANGELOG.md
Due: none

2.7.4
  package-lock.json
  package.json
Due: none

Do not check over parameters when finding possible star in default exported function (#3522)
  src/ast/nodes/ExportDefaultDeclaration.ts
  test/form/samples/default-export-class/_config.js
  test/form/samples/default-export-class/_expected/amd.js
  test/form/samples/default-export-class/_expected/cjs.js
  test/form/samples/default-export-class/_expected/es.js
  test/form/samples/default-export-class/_expected/iife.js
  test/form/samples/default-export-class/_expected/system.js
  test/form/samples/default-export-class/_expected/umd.js
  test/form/samples/default-export-class/main.js
  test/form/samples/slash-in-function-parameters/_config.js
  test/form/samples/slash-in-function-parameters/_expected/amd.js
  test/form/samples/slash-in-function-parameters/_expected/cjs.js
  test/form/samples/slash-in-function-parameters/_expected/es.js
  test/form/samples/slash-in-function-parameters/_expected/iife.js
  test/form/samples/slash-in-function-parameters/_expected/system.js
  test/form/samples/slash-in-function-parameters/_expected/umd.js
  test/form/samples/slash-in-function-parameters/class.js
  test/form/samples/slash-in-function-parameters/function.js
  test/form/samples/slash-in-function-parameters/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.7.5
  package-lock.json
  package.json
Due: none

Handles default exporting global variables (#3526)
  package-lock.json
  package.json
  scripts/test-package.js
  src/Chunk.ts
  src/Module.ts
  test/chunking-form/samples/export-default-global/_config.js
  test/chunking-form/samples/export-default-global/_expected/amd/main.js
  test/chunking-form/samples/export-default-global/_expected/cjs/main.js
  test/chunking-form/samples/export-default-global/_expected/es/main.js
  test/chunking-form/samples/export-default-global/_expected/system/main.js
  test/chunking-form/samples/export-default-global/dynamic.js
  test/chunking-form/samples/export-default-global/lib.js
  test/chunking-form/samples/export-default-global/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.7.6
  package-lock.json
  package.json
Due: none

2.8.0
  package-lock.json
  package.json
Due: none

Track call side-effects both by entity and CallExpression to avoid untracked side-effects in nested calls (#3539)
  src/ast/ExecutionContext.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/Property.ts
  src/ast/utils/PathTracker.ts
  src/ast/variables/LocalVariable.ts
  test/cli/samples/watch/watch-config-error/_config.js
  test/function/samples/nested-foreach/_config.js
  test/function/samples/nested-foreach/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Use default named export with plugins (#3529)
  cli/run/commandPlugins.ts
  test/cli/samples/plugin/default-export/_config.js
  test/cli/samples/plugin/default-export/_expected.js
  test/cli/samples/plugin/default-export/my-plugin.js
Due: prettier --write, eslint --fix

2.8.1
  package-lock.json
  package.json
Due: none

Wrap object expressions in parentheses if they become children of an arrow function expression (#3540)
  src/ast/nodes/ObjectExpression.ts
  test/function/samples/simplify-arrow-expression-with-object/_config.js
  test/function/samples/simplify-arrow-expression-with-object/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.8.2
  package-lock.json
  package.json
Due: none

Support nullish coalescing with tree-shaking (#3548)
  .circleci/config.yml
  LICENSE.md
  package-lock.json
  package.json
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/ExportAllDeclaration.ts
  src/ast/nodes/ExportNamedDeclaration.ts
  src/ast/nodes/ExportNamespaceSpecifier.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/index.ts
  test/form/samples/nullish-coalescing/_config.js
  test/form/samples/nullish-coalescing/_expected.js
  test/form/samples/nullish-coalescing/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Configurable Build Delay (Currently Hardcoded at 200ms) (#3502)
  docs/01-command-line-reference.md
  docs/02-javascript-api.md
  docs/999-big-list-of-options.md
  src/rollup/types.d.ts
  src/watch/watch.ts
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Fix watch tests on Mac
  test/watch/index.js
Due: prettier --write, eslint --fix

2.9.0
  package-lock.json
  package.json
Due: none

Track updates of globals that are exported as default (#3550)
  CHANGELOG.md
  src/Module.ts
  src/ast/variables/GlobalVariable.ts
  test/chunking-form/samples/export-default-global/_config.js
  test/chunking-form/samples/export-default-global/_expected/amd/main.js
  test/chunking-form/samples/export-default-global/_expected/cjs/main.js
  test/chunking-form/samples/export-default-global/_expected/es/main.js
  test/chunking-form/samples/export-default-global/_expected/system/main.js
  test/cli/samples/watch/bundle-error/_config.js
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/form/samples/export-default-global/_config.js
  test/form/samples/export-default-global/_expected/amd.js
  test/form/samples/export-default-global/_expected/cjs.js
  test/form/samples/export-default-global/_expected/es.js
  test/form/samples/export-default-global/_expected/iife.js
  test/form/samples/export-default-global/_expected/system.js
  test/form/samples/export-default-global/_expected/umd.js
  test/form/samples/export-default-global/dynamic.js
  test/form/samples/export-default-global/lib.js
  test/form/samples/export-default-global/main.js
  test/function/samples/default-exported-global/_config.js
  test/function/samples/default-exported-global/lib.js
  test/function/samples/default-exported-global/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.9.1
  package-lock.json
  package.json
Due: none

Improve manualChunks docs (#3553)
  docs/999-big-list-of-options.md
Due: none

2.10.0
  package-lock.json
  package.json
Due: none

Properly handles default exporting undefined (#3558)
  src/ast/variables/ExportDefaultVariable.ts
  test/form/samples/undefined-default-export/_config.js
  test/form/samples/undefined-default-export/_expected.js
  test/form/samples/undefined-default-export/dep.js
  test/form/samples/undefined-default-export/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.10.1
  package-lock.json
  package.json
Due: none

Make sure UnknownXYExpressions are included when referenced as return values in a MultiExpression (#3559)
  src/ast/nodes/shared/MultiExpression.ts
  test/function/samples/chained-mutable-array-methods/_config.js
  test/function/samples/chained-mutable-array-methods/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.10.2
  package-lock.json
  package.json
Due: none

Throw error if sourcemapPathTransform-option does not return a string (#3484) (#3561)
  src/Chunk.ts
  test/function/samples/invalid-transform-source-function/_config.js
  test/function/samples/invalid-transform-source-function/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
