Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Ensure that all properties of throw statements are included (#5825)
  src/ast/nodes/ThrowStatement.ts
  test/function/samples/object-expression-treeshaking/throw-object/_config.js
  test/function/samples/object-expression-treeshaking/throw-object/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.34.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Ensure that functions provided to a constructor are properly deoptimized (#5827)
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/scopes/ParameterScope.ts
  test/function/samples/parameters-promise-constructor/_config.js
  test/function/samples/parameters-promise-constructor/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.34.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

include the properties that accessed by this (#5831)
  src/ast/nodes/ThisExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/scopes/FunctionScope.ts
  test/form/samples/object-tree-shaking-with-this/_config.js
  test/form/samples/object-tree-shaking-with-this/_expected.js
  test/form/samples/object-tree-shaking-with-this/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.34.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

include all properties if a rest element is destructed (#5833)
  src/ast/nodes/ObjectPattern.ts
  test/form/samples/object-expression-treeshaking/remove-props-via-destructuring/main.js
  test/function/samples/object-tree-shaking-with-rest-element-destructed/_config.js
  test/function/samples/object-tree-shaking-with-rest-element-destructed/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.34.4
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): resolve conflicts
  docs/configuration-options/index.md
Due: none

fix(deps): lock file maintenance minor/patch updates (#5836)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
Due: none

Include all paths of reexports if namespace is used (#5837)
  src/Module.ts
  test/function/samples/object-expression-treeshaking/include-namespace-reexport-path/_config.js
  test/function/samples/object-expression-treeshaking/include-namespace-reexport-path/dep.js
  test/function/samples/object-expression-treeshaking/include-namespace-reexport-path/lib.js
  test/function/samples/object-expression-treeshaking/include-namespace-reexport-path/main.js
  test/function/samples/object-expression-treeshaking/include-namespace-reexport-path/object.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.34.5
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update swc monorepo (major) (#5835)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: none

replace undefined with void 0 for operator void (#5838)
  src/ast/nodes/UnaryExpression.ts
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/amd/dep2.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/cjs/dep2.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/es/dep2.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/system/dep2.js
  test/form/samples/nested-member-access/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
  test/form/samples/treeshake-unary/_expected.js
Due: prettier --write, tslint --project . --fix

4.34.6
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#5840)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
Due: none

Fix prop inclusion with try-catch-deoptimization (#5842)
  src/ast/nodes/BreakStatement.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/ContinueStatement.ts
  src/ast/nodes/LabeledStatement.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/IdentifierBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/scopes/FunctionScope.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/scopes/ReturnValueScope.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
  test/function/samples/object-expression-treeshaking/try-statement-return-properties/_config.js
  test/function/samples/object-expression-treeshaking/try-statement-return-properties/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.34.7
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

return UnknownValue if the usedbranch is unkown and the path is not empty (#5846)
  src/ast/nodes/LogicalExpression.ts
  test/form/samples/logical-expression-with-property-access/_config.js
  test/form/samples/logical-expression-with-property-access/_expected.js
  test/form/samples/logical-expression-with-property-access/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.34.8
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#5855)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

fix(deps): update swc monorepo (major) (#5854)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): update dependency pinia to v3 (#5853)
  package-lock.json
  package.json
Due: none

Revert CustomPluginOptions to be an interface (#5850)
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

Javascript to JavaScript (#5851)
  docs/.vitepress/config.ts
Due: none

fix(deps): lock file maintenance minor/patch updates (#5863)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): lock file maintenance minor/patch updates (#5864)
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @shikijs/vitepress-twoslash to v3 (#5860)
  package-lock.json
  package.json
Due: none

chore(deps): update dependency globals to v16 (#5861)
  package-lock.json
  package.json
Due: none

Add jsx parameter to parseAsync in native.wasm.js (#5866)
  native.wasm.js
Due: none

4.34.9
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update swc monorepo (major) (#5862)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  rust/parse_ast/src/ast_nodes/directive.rs
Due: none

fix(deps): lock file maintenance minor/patch updates (#5874)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): update uraimo/run-on-arch-action action to v3 (#5873)
  .github/workflows/build-and-tests.yml
Due: none

chore(deps): update dependency builtin-modules to v5 (#5872)
  package-lock.json
  package.json
Due: none

feat(5858): make closeBundle hook receive the last error (#5867)
  docs/plugin-development/index.md
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  test/hooks/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.35.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): resolve conflicts
  docs/plugin-development/index.md
Due: none

fix(deps): lock file maintenance minor/patch updates (#5878)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none
