Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

2.61.1
  package-lock.json
  package.json
Due: none

chore: bump deps, fix expected test result for core-js (#4300)
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

build: fix git line breaks on windows (#4306)
  .gitattributes
  .github/workflows/tests.yml
Due: none

Expose isIncluded in module info (#4305)
  docs/05-plugin-development.md
  src/ExternalModule.ts
  src/Module.ts
  src/rollup/types.d.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/preload-module/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

feat: add additional string prototype methods (#4299)
  src/ast/values.ts
  test/form/samples/builtin-prototypes/literal/_expected.js
  test/form/samples/builtin-prototypes/literal/main.js
Due: prettier --write, tslint --project . --fix

fix: fsevents integration (#4312)
  rollup.config.ts
  src/watch/fsevents-importer.ts
Due: prettier --write, tslint --project . --fix

ci: add macos to pipeline (#4307)
  .github/workflows/tests.yml
Due: none

feat: add additional array prototype methods (#4309)
  src/ast/nodes/shared/ArrayPrototype.ts
  test/form/samples/builtin-prototypes/array-expression/_expected.js
  test/form/samples/builtin-prototypes/array-expression/main.js
Due: prettier --write, tslint --project . --fix

Add Deno instructions to docs (#4311)
  docs/07-tools.md
Due: none

chore: remove non-existing static functions from known globals (#4313)
  src/ast/nodes/shared/knownGlobals.ts
Due: prettier --write, tslint --project . --fix

fix: replace type assertion with type guard (#4302)
  src/Bundle.ts
  src/utils/getOriginalLocation.ts
Due: prettier --write, tslint --project . --fix

refactor: re-use reserved names set (#4304)
  src/utils/RESERVED_NAMES.ts
  src/utils/exportNames.ts
  src/utils/generateCodeSnippets.ts
  src/utils/identifierHelpers.ts
  src/utils/safeName.ts
Due: prettier --write, tslint --project . --fix

Update changelog
  CHANGELOG.md
Due: none

2.62.0
  package-lock.json
  package.json
Due: none

Stabilize watch tests (#4318)
  test/cli/samples/wait-for-bundle-input-object/_config.js
  test/cli/samples/wait-for-bundle-input/_config.js
  test/cli/samples/watch/bundle-error/_config.js
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/cli/samples/watch/watch-config-error/_config.js
  test/cli/samples/watch/watch-config-initial-error/_config.js
  test/cli/samples/watch/watch-config-no-update/_config.js
  test/utils.js
  test/watch/index.js
Due: prettier --write, eslint --fix

Do not watch unless --watch is specified explicitly (#4335)
  cli/run/index.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/options.ts
  test/cli/samples/watch/no-watch-by-default/_config.js
  test/cli/samples/watch/no-watch-by-default/main.js
  test/cli/samples/watch/no-watch-by-default/rollup.config.js
  test/cli/samples/watch/no-watch-by-default/wrapper.js
Due: prettier --write, tslint --project . --fix, eslint --fix

refactor: convert utils.transform to async function (#4333)
  src/utils/transform.ts
Due: prettier --write, tslint --project . --fix

feat: add support for Array.prototype.findLast,findLastIndex (#4332)
  src/ast/nodes/shared/ArrayPrototype.ts
  test/form/samples/builtin-prototypes/array-expression/_expected.js
  test/form/samples/builtin-prototypes/array-expression/main.js
Due: prettier --write, tslint --project . --fix

Improve JS docs example (#4331)
  docs/02-javascript-api.md
Due: none

Make initial ModuleInfo.meta mutable and maintain object identity (#4328)
  docs/05-plugin-development.md
  src/Module.ts
  src/ModuleLoader.ts
  test/function/samples/modify-meta/_config.js
  test/function/samples/modify-meta/main.js
  test/incremental/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Detect unfulfilled async hook actions and report error on exit (#4320)
  browser/hookActions.ts
  build-plugins/replace-browser-modules.ts
  src/utils/PluginDriver.ts
  src/utils/hookActions.ts
  test/cli/index.js
  test/cli/samples/unfulfilled-hook-actions/_config.js
  test/cli/samples/unfulfilled-hook-actions/_expected.js
  test/cli/samples/unfulfilled-hook-actions/a.js
  test/cli/samples/unfulfilled-hook-actions/b.js
  test/cli/samples/unfulfilled-hook-actions/buggy-plugin.js
  test/cli/samples/unfulfilled-hook-actions/c.js
  test/cli/samples/unfulfilled-hook-actions/d.js
  test/cli/samples/unfulfilled-hook-actions/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Add build delay for plugin event test (#4338)
  test/watch/index.js
Due: prettier --write, eslint --fix

2.63.0
  package-lock.json
  package.json
Due: none

refactor: type fixes (#4326)
  browser/resolveId.ts
  build-plugins/generate-license-file.ts
  cli/run/batchWarnings.ts
  cli/run/commandPlugins.ts
  cli/run/getConfigPath.ts
  cli/run/loadConfigFile.ts
  cli/run/resetScreen.ts
  cli/run/watch-cli.ts
  src/Bundle.ts
  src/Chunk.ts
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/scopes/ChildScope.ts
  src/ast/scopes/ModuleScope.ts
  src/utils/PluginDriver.ts
  src/utils/collapseSourcemaps.ts
  src/utils/commondir.ts
  src/utils/deconflictChunk.ts
  src/utils/executionOrder.ts
  src/utils/exportNames.ts
  src/utils/getCodeFrame.ts
  src/utils/getExportMode.ts
  src/utils/getIndentString.ts
  src/utils/getOriginalLocation.ts
  src/utils/getStaticDependencies.ts
  src/utils/identifierHelpers.ts
  src/utils/pluginUtils.ts
  src/utils/printStringList.ts
  src/utils/pureComments.ts
  src/utils/queue.ts
  src/utils/reassignedExportsMember.ts
  src/utils/renderHelpers.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  src/utils/systemJsRendering.ts
  src/utils/timers.ts
  src/watch/fileWatcher.ts
  src/watch/watch.ts
Due: prettier --write, tslint --project . --fix

More watch test stabilization (#4339)
  test/cli/index.js
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/cli/samples/watch/watch-config-error/_config.js
  test/utils.js
Due: prettier --write, eslint --fix

Implement shouldTransformCachedModule hook (#4341)
  docs/05-plugin-development.md
  docs/build-hooks.mmd
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/PluginDriver.ts
  src/utils/transform.ts
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/incremental/index.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Create a shallow copy when returning meta from resolveId (#4347)
  src/Module.ts
  test/function/samples/reuse-resolve-meta/_config.js
  test/function/samples/reuse-resolve-meta/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Directly restart Rollup when config file change is detected in watch mode (#4344)
  cli/logging.ts
  cli/run/watch-cli.ts
  test/cli/index.js
  test/cli/samples/wait-for-bundle-input/_config.js
  test/cli/samples/watch/no-config-file/_config.js
  test/cli/samples/watch/node-config-file/_config.js
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/cli/samples/watch/watch-config-error/_config.js
  test/cli/samples/watch/watch-config-no-update/_config.js
  test/utils.js
Due: prettier --write, eslint --fix

refactor: performance timers for node.js and browser (#4340)
  browser/performance.ts
  browser/process.ts
  build-plugins/replace-browser-modules.ts
  rollup.config.ts
  src/utils/collapseSourcemaps.ts
  src/utils/crypto.ts
  src/utils/performance.ts
  src/utils/process.ts
  src/utils/timers.ts
  test/browser/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.64.0
  package-lock.json
  package.json
Due: none

chore: bump deps (#4353)
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
Due: none

refactor: replace require-relative with built-in require.resolve (#4352)
  LICENSE.md
  cli/run/getConfigPath.ts
  package-lock.json
  package.json
Due: none

refactor: re-use source mapping url (#4351)
  cli/run/build.ts
  cli/sourceMappingUrl.ts
Due: none

fix: timed plugin context (#4357)
  src/utils/timers.ts
  test/function/samples/adds-plugin-context-to-plugins/_config.js
  test/function/samples/adds-plugin-context-to-plugins/foo.js
  test/function/samples/adds-plugin-context-to-plugins/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore: remove external from config (#4355)
  .eslintrc.js
  build-plugins/conditional-fsevents-import.ts
  package-lock.json
  package.json
  rollup.config.ts
  src/watch/fsevents-importer.ts
  typings/fsevents.d.ts
Due: prettier --write, tslint --project . --fix

Add importedIdResolutions to moduleInfo (#4354)
  docs/05-plugin-development.md
  src/ExternalModule.ts
  src/Module.ts
  src/rollup/types.d.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/preload-module/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix
