Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

Fix option name
  package.json
Due: none

4.45.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update swc monorepo (major) (#6033)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  rust/rust-toolchain.toml
Due: none

feat: update linux-loongarch64-gnu (#5991)
  .github/workflows/build-and-tests.yml
Due: none

feat: optimize `in` checks on namespaces to keep them treeshake-able (#6029)
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/UnaryExpression.ts
  src/ast/utils/renderLiteralValue.ts
  test/form/samples/namespace-optimization-in-operator/_config.js
  test/form/samples/namespace-optimization-in-operator/_expected.js
  test/form/samples/namespace-optimization-in-operator/foo.js
  test/form/samples/namespace-optimization-in-operator/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.46.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

disables optimization for external namespace when using the in operator (#6036)
  src/ast/nodes/BinaryExpression.ts
  test/form/samples/external-namespace-optimzation-in-operator/_config.js
  test/form/samples/external-namespace-optimzation-in-operator/_expected.js
  test/form/samples/external-namespace-optimzation-in-operator/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.46.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Correct the logic of include in BinaryExpression and don't optimize external references away (#6041)
  src/ast/nodes/BinaryExpression.ts
  test/form/samples/external-namespace-optimzation-in-operator/_config.js
  test/form/samples/external-namespace-optimzation-in-operator/_expected.js
  test/form/samples/external-namespace-optimzation-in-operator/ext.js
  test/form/samples/external-namespace-optimzation-in-operator/main.js
  test/form/samples/external-namespace-optimzation-in-operator/passthrough.js
  test/form/samples/namespace-optimization-in-operator/_expected.js
  test/form/samples/namespace-optimization-in-operator/main.js
  test/form/samples/optimization-in-operator/_config.js
  test/form/samples/optimization-in-operator/_expected.js
  test/form/samples/optimization-in-operator/foo.js
  test/form/samples/optimization-in-operator/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.46.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#6049)
  .github/workflows/build-and-tests.yml
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
Due: none

Avoid `generated by` comment diff on Windows (#6043)
  scripts/helpers.js
Due: none

chore(deps): update dependency cross-env to v10 (#6048)
  package-lock.json
  package.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#6063)
  .github/workflows/build-and-tests.yml
  .github/workflows/clean-cache.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  browser/LICENSE.md
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/bindings_napi/src/lib.rs
  rust/parse_ast/Cargo.toml
Due: none

docs: update Rust toolchain instructions (#6062)
  CONTRIBUTING.md
Due: none

chore(deps): update actions/checkout action to v5 (#6067)
  .github/workflows/build-and-tests.yml
  .github/workflows/clean-cache.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none

chore(deps): update actions/download-artifact action to v5 (#6068)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
Due: none

Remove commit parent from codecov
  .github/workflows/build-and-tests.yml
Due: none

fix(deps): update rust crate swc_compiler_base to v31 (#6069)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

fix: tweak the fallback logic for tracing segment (#6057)
  src/utils/collapseSourcemaps.ts
Due: prettier --write, tslint --project . --fix

Fix illegal instruction error on arm64 by enabling `no_opt_arch` feature for mimalloc-safe (#6055)
  rust/bindings_napi/Cargo.toml
Due: none

4.46.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Update transitive dependency to fix audit (#6074)
  package-lock.json
Due: none

fix: don't optimize `in` with `syntheticNamedExports` (#6052)
  src/ast/nodes/BinaryExpression.ts
  test/form/samples/namespace-optimization-in-operator-synthetic/_config.js
  test/form/samples/namespace-optimization-in-operator-synthetic/_expected.js
  test/form/samples/namespace-optimization-in-operator-synthetic/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.46.4
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

build: aggressively optimize wasm build, improve pipeline (#6053)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  package.json
  rust-toolchain.toml
  rust/Cargo.toml
  rust/bindings_napi/.cargo/config.toml
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/.cargo/config.toml
  rust/bindings_wasm/Cargo.toml
Due: none

build(rust): mimalloc-safe/no_opt_arch on aarch64 (#6072)
  rust/bindings_napi/Cargo.toml
Due: none

fix(types): add support for exactOptionalPropertyTypes (#6061)
  src/rollup/types.d.ts
  test/typescript/index.ts
Due: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix

4.47.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Revert "build: aggressively optimize wasm build, improve pipeline (#6053)" (#6077)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  package.json
  rust/Cargo.toml
  rust/bindings_napi/.cargo/config.toml
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/.cargo/config.toml
  rust/bindings_wasm/Cargo.toml
  rust/rust-toolchain.toml
Due: none

4.47.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#6080)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

fix(deps): update swc monorepo (major) (#6079)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Keep attributes for external dynamic imports (#6071)
  src/Chunk.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/BitFlags.ts
  src/ast/variables/LocalVariable.ts
  src/utils/logs.ts
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_config.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/amd/generated-foo.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/amd/main.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/cjs/generated-foo.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/cjs/main.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/es/generated-foo.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/es/main.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/system/generated-foo.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/_expected/system/main.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/foo.js
  test/chunking-form/samples/remove-attribute-declarations-for-internal-dynamic-imports/main.js
  test/form/samples/import-attributes/attribute-shapes/_expected.js
  test/form/samples/import-attributes/keep-attribute-declarations-for-external-dynamic-imports/_config.js
  test/form/samples/import-attributes/keep-attribute-declarations-for-external-dynamic-imports/_expected.js
  test/form/samples/import-attributes/keep-attribute-declarations-for-external-dynamic-imports/main.js
  test/function/samples/import-assertions/warn-unresolvable-assertions/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.48.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: handle whitespace according to JSX common practice (#6051)
  src/ast/nodes/JSXAttribute.ts
  src/ast/nodes/JSXText.ts
  src/ast/nodes/shared/JSXElementBase.ts
  src/utils/jsx.ts
  test/form/samples/jsx/transpiles-react-jsx/_expected.js
  test/form/samples/jsx/transpiles-react-jsx/jsx.js
Due: prettier --write, tslint --project . --fix

build: optimize pipeline take two (#6078)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  CONTRIBUTING.md
  package.json
  rust-toolchain.toml
  rust/Cargo.toml
  rust/bindings_napi/.cargo/config.toml
  rust/bindings_napi/src/lib.rs
  rust/bindings_wasm/.cargo/config.toml
  rust/bindings_wasm/Cargo.toml
Due: none

4.48.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Improve build pipeline performance (#6082)
  .github/actions/install-and-cache-node-deps/action.yml
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none

feat: Run external check in `cli/run/loadConfigFile.ts` as last in order to allow handling of e.g. workspace package imports in TS monorepos correctly (#6038)
  cli/run/loadConfigFile.ts
  test/cli/samples/config-ts-with-workspace-refs/_config.js
  test/cli/samples/config-ts-with-workspace-refs/_expected.js
  test/cli/samples/config-ts-with-workspace-refs/input.js
  test/cli/samples/config-ts-with-workspace-refs/node_modules/referenced-link
  test/cli/samples/config-ts-with-workspace-refs/packages/referenced/index.ts
  test/cli/samples/config-ts-with-workspace-refs/packages/referenced/package.json
  test/cli/samples/config-ts-with-workspace-refs/rollup.config.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
