Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

4.12.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix-typo
  docs/configuration-options/index.md
Due: none

chore(deps): lock file maintenance minor/patch updates (#5417)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_wasm/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

chore: fix typo (#5419)
  build-plugins/replace-browser-modules.ts
  src/ast/nodes/ArrayPattern.ts
Due: prettier --write, tslint --project . --fix

4.13.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5431)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Update license file
  LICENSE.md
Due: none

chore(deps): update dependency @vue/eslint-config-typescript to v13 (#5430)
  .gitignore
  docs/.vitepress/graphs/mermaid-66d62a8a.svg
  docs/.vitepress/graphs/mermaid-7a3058ce.svg
  docs/.vitepress/mermaid.ts
  docs/repl/components/ReplMain.vue
  package-lock.json
  package.json
  renovate.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5432)
  package-lock.json
  package.json
  rust/Cargo.lock
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

chore(deps): lock file maintenance minor/patch updates (#5436)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): lock file maintenance minor/patch updates (#5437)
  package-lock.json
  package.json
Due: none

Add support for linux s390x gnu (#5346)
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-s390x-gnu/README.md
  npm/linux-s390x-gnu/package.json
  package.json
Due: none

4.13.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Cache module info getters before output generation (#5438)
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/utils/getter.ts
Due: prettier --write, tslint --project . --fix

Add support for ppc64le (#5350)
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-ppc64le-gnu/README.md
  npm/linux-ppc64le-gnu/package.json
  package.json
Due: none

Use long cpu name as Rust needs it
  native.js
  npm/linux-powerpc64le-gnu/README.md
  npm/linux-powerpc64le-gnu/package.json
  npm/linux-ppc64le-gnu/README.md
  package.json
Due: none

4.13.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5447)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

docs: add `@shikiji/vitepress-twoslash` (#5445)
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/faqs/index.md
  docs/javascript-api/index.md
  docs/plugin-development/index.md
  docs/tools/index.md
  docs/troubleshooting/index.md
  docs/tsconfig.json
  docs/tutorial/index.md
  package-lock.json
  package.json
Due: none

feat: support explicit-resource-management (#5444)
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  rust/parse_ast/src/lib.rs
  src/ast/nodes/Identifier.ts
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/VariableDeclarator.ts
  src/ast/nodes/shared/VariableKinds.ts
  src/utils/convert-ast-strings.ts
  test/form/samples/support-using-keyword/_config.js
  test/form/samples/support-using-keyword/_expected.js
  test/form/samples/support-using-keyword/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

feat: show all cause in Error (#5422)
  cli/logging.ts
  test/cli/samples/handles-errors-cause/_config.js
  test/cli/samples/handles-errors-cause/main.js
  test/cli/samples/handles-errors-cause/rollup.config.mjs
Due: prettier --write, eslint --fix

4.14.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore: generate string constants from config (#5451)
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  scripts/generate-ast-converters.js
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-child-node-keys.js
  scripts/generate-rust-constants.js
  scripts/generate-string-constants.js
  scripts/helpers.js
  src/ast/bufferParsers.ts
  src/utils/astConverterHelpers.ts
  src/utils/bufferToAst.ts
  src/utils/convert-ast-strings.ts
Due: prettier --write, tslint --project . --fix

chore(deps): lock file maintenance minor/patch updates (#5452)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Remove inlining logic in AST (de-)serializer (#5455)
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/error_emit.rs
  rust/parse_ast/src/lib.rs
  scripts/ast-types.js
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-rust-constants.js
  src/ast/bufferParsers.ts
  src/ast/nodes/Program.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/Node.ts
  src/utils/astConverterHelpers.ts
  src/utils/bufferToAst.ts
Due: prettier --write, tslint --project . --fix

Improve error message when running on unsupported MUSL Linux (#5454)
  native.js
Due: none

4.14.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore: tweak the comment about files should not be edited (#5463)
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/string_constants.rs
  scripts/generate-buffer-parsers.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-child-node-keys.js
  scripts/generate-rust-constants.js
  scripts/generate-string-constants.js
  scripts/helpers.js
  src/ast/bufferParsers.ts
  src/ast/childNodeKeys.ts
  src/utils/bufferToAst.ts
  src/utils/convert-ast-strings.ts
Due: prettier --write, tslint --project . --fix

Fix ppc64le target (#5460)
  native.js
  npm/linux-powerpc64le-gnu/package.json
Due: none

Add high-level architecture documentation (#5456)
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
  src/Chunk.ts
  src/utils/executionOrder.ts
Due: prettier --write, tslint --project . --fix

chore(deps): lock file maintenance minor/patch updates (#5469)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/bindings_wasm/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): update dependency eslint-plugin-unicorn to v52 (#5468)
  build-plugins/add-cli-entry.ts
  build-plugins/copy-types.ts
  build-plugins/generate-license-file.ts
  build-plugins/replace-browser-modules.ts
  cli/run/commandPlugins.ts
  cli/run/getConfigPath.ts
  cli/run/loadConfigFile.ts
  docs/plugin-development/index.md
  docs/repl/examples/.eslintrc.json
  native.js
  package-lock.json
  package.json
  rollup.config.ts
  scripts/helpers.js
  scripts/prepublish.js
  scripts/publish-wasm-node-package.js
  scripts/update-snapshots.js
  src/watch/watch.ts
  test/browser/index.js
  test/chunking-form/index.js
  test/cli/index.js
  test/cli/samples/log-side-effects/_config.js
  test/cli/samples/logs/_config.js
  test/cli/samples/plugin/absolute-esm/_config.js
  test/cli/samples/plugin/absolute/_config.js
  test/cli/samples/warn-multiple/_config.js
  test/cli/samples/warn-plugin-loc/_config.js
  test/cli/samples/warn-plugin/_config.js
  test/cli/samples/warn-unknown-options/rollup.config.js
  test/form/index.js
  test/form/samples/guessed-global-names/_config.js
  test/form/samples/paths-relative/_config.js
  test/form/samples/relative-external-with-global/_config.js
  test/function/samples/max-parallel-file-operations/error/_config.js
  test/function/samples/relative-external-include-once-two-external/_config.js
  test/function/samples/validate-resolved-by-logic/_config.js
  test/function/samples/warn-misplaced-annotations/_config.js
  test/function/samples/warning-incorrect-sourcemap-location/_config.js
  test/utils.js
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Ensure reexported namespaces do not prevent creation of default export helpers (#5466)
  src/Chunk.ts
  test/function/samples/external-namespace-and-default-reexport-compat/_config.js
  test/function/samples/external-namespace-and-default-reexport-compat/main.js
  test/function/samples/external-namespace-and-default-reexport-compat2/_config.js
  test/function/samples/external-namespace-and-default-reexport-compat2/main.js
  test/function/samples/external-namespace-and-default-reexport-compat3/_config.js
  test/function/samples/external-namespace-and-default-reexport-compat3/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.14.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
