Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

[v3.0] Browser build (#4593)
  .github/workflows/tests.yml
  LICENSE.md
  browser/LICENSE.md
  browser/package.json
  build-plugins/add-cli-entry.ts
  build-plugins/clean-before-write.ts
  build-plugins/copy-types.ts
  build-plugins/generate-license-file.ts
  build-plugins/get-banner.ts
  docs/06-faqs.md
  package-lock.json
  package.json
  rollup.config.ts
  scripts/check-release.js
  scripts/colors.js
  scripts/find-config.js
  scripts/helpers.js
  scripts/perf-init.js
  scripts/perf.js
  scripts/release.js
  scripts/test-package.js
  scripts/update-git-commit.js
  scripts/update-snapshots.js
  test/browser/index.js
Due: prettier --write, eslint --fix

[v3.0] Show deprecation warning for maxParallelFileReads (#4575)
  src/utils/options/normalizeInputOptions.ts
  test/function/samples/deprecated/max-parallel-file-reads/infinity/_config.js
  test/function/samples/deprecated/max-parallel-file-reads/set/_config.js
  test/function/samples/deprecated/max-parallel-file-reads/with-plugin/_config.js
  test/misc/sanity-checks.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v3.0] Change default for preserveEntrySignatures to exports-only (#4576)
  docs/999-big-list-of-options.md
  package-lock.json
  package.json
  src/Chunk.ts
  src/utils/options/normalizeInputOptions.ts
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_config.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/amd/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/amd/generated-entry.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/amd/generated-main.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/cjs/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/cjs/generated-entry.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/cjs/generated-main.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/es/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/es/generated-entry.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/es/generated-main.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/system/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/system/generated-entry.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/_expected/system/generated-main.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/lib.js
  test/chunking-form/samples/preserve-entry-signatures/undefined-with-tainted-plugin-chunk/main.js
  test/function/samples/options-hook/_config.js
  test/function/samples/preserve-entry-signatures-empty-facade/_config.js
  test/function/samples/preserve-entry-signatures-empty-facade/dynamic.js
  test/function/samples/preserve-entry-signatures-empty-facade/lib.js
  test/function/samples/preserve-entry-signatures-empty-facade/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v3.0] Convert build scripts to ESM, update dependencies (#4558)
  package-lock.json
  package.json
  scripts/find-config.js
  scripts/load-perf-config.js
  scripts/package.json
  scripts/perf-debug.js
  scripts/perf-init.js
  scripts/perf.js
  scripts/test-package.js
  scripts/update-git-commit.js
  scripts/update-snapshots.js
Due: none

[v3.0] Restructure timings (#4566)
  src/Bundle.ts
  src/Chunk.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/rollup.ts
  src/utils/renderChunks.ts
  src/utils/timers.ts
Due: prettier --write, tslint --project . --fix

[v3.0] use compiler target ES2020 (#4651)
  tsconfig.json
Due: none

[v3.0] Better esm config file support (#4574)
  LICENSE.md
  cli/run/loadConfigFile.ts
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
  package-lock.json
  package.json
  scripts/perf-init.js
  scripts/perf.js
  test/cli/samples/config-no-module/_config.js
  test/cli/samples/config-no-module/rollup.config.js
  test/cli/samples/config-type-module/_config.js
  test/cli/samples/config-type-module/sub/main.js
  test/cli/samples/config-type-module/sub/package.json
  test/cli/samples/config-type-module/sub/rollup.config.js
  typings/declarations.d.ts
Due: prettier --write, tslint --project . --fix, eslint --fix

[v3.0] Run output plugins last (#3846)
  src/utils/PluginDriver.ts
  test/form/samples/runs-output-plugins-last/_config.js
  test/form/samples/runs-output-plugins-last/_expected.js
  test/form/samples/runs-output-plugins-last/main.js
  test/function/samples/options-in-renderstart/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v3.0] Custom awaiting watch emitter (#4609)
  docs/02-javascript-api.md
  src/Graph.ts
  src/rollup/types.d.ts
  src/watch/WatchEmitter.ts
  src/watch/watch.ts
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v3.0] Remove warning when using implicit default export mode (#4624)
  browser/package.json
  docs/999-big-list-of-options.md
  package-lock.json
  package.json
  scripts/release.js
  src/Chunk.ts
  src/utils/error.ts
  src/utils/getExportMode.ts
  test/form/samples/amd-keep-extension/_expected/system.js
  test/form/samples/supports-core-js/_expected.js
  test/function/samples/warn-implicit-cjs-auto/_config.js
  test/function/samples/warn-implicit-cjs-auto/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v3.0] Use named export for loadConfigFile (#4581)
  browser/package.json
  browser/src/crypto.ts
  browser/src/error.ts
  browser/src/fs.ts
  browser/src/hookActions.ts
  browser/src/path.ts
  browser/src/performance.ts
  browser/src/process.ts
  browser/src/resolveId.ts
  build-plugins/esm-dynamic-import.ts
  build-plugins/replace-browser-modules.ts
  cli/run/index.ts
  cli/run/loadConfigFile.ts
  cli/run/watch-cli.ts
  docs/02-javascript-api.md
  package-lock.json
  package.json
  rollup.config.ts
  scripts/perf.js
  scripts/release.js
  src/Chunk.ts
  src/utils/relativeId.ts
  test/load-config-file/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

[v3.0] Deprecate Node 12 (#4548)
  .github/workflows/tests.yml
  LICENSE.md
  package-lock.json
  package.json
  tsconfig.json
Due: none

Update dependencies
  browser/package.json
  package-lock.json
  package.json
  test/cli/samples/config-mjs-plugins/rollup.config.mjs
  test/form/samples/supports-core-js/_expected.js
Due: none

Fix build script
  scripts/release.js
Due: none

Add migration guide
  cli/help.md
  docs/00-introduction.md
  docs/01-command-line-reference.md
  docs/08-troubleshooting.md
  docs/09-migration.md
  docs/999-big-list-of-options.md
Due: none

Fix release script
  scripts/release.js
Due: none

3.0.0
  browser/package.json
  package.json
Due: none

Update changelog
  CHANGELOG.md
Due: none

Fix typo
  docs/09-migration.md
Due: none

fix: missing "node" causes run script error (#4662)
  package.json
Due: none

fix: remove lint:js:nofix script redundancy options (#4664)
  package.json
Due: none

Ensure the initializer of a destructuring declaration is always included if the id is included (#4663)
  src/ast/nodes/VariableDeclaration.ts
  test/function/samples/for-loop-parameter/_config.js
  test/function/samples/for-loop-parameter/main.js
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.0.1
  CHANGELOG.md
  browser/package.json
  package.json
Due: none

feat: support nested plugin (#4657)
  cli/run/commandPlugins.ts
  docs/999-big-list-of-options.md
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/options/options.ts
  src/utils/timers.ts
  test/function/samples/nested-plugin/_config.js
  test/function/samples/nested-plugin/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.1.0
  CHANGELOG.md
  browser/package.json
  package.json
Due: none

refactor: improve types (#4667)
  src/rollup/rollup.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/options/options.ts
Due: prettier --write, tslint --project . --fix

refactor: merge duplicate imports (#4669)
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/TemplateLiteral.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
Due: prettier --write, tslint --project . --fix

docs: fix minor typo in migration documentation (#4670)
  docs/09-migration.md
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
