Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Automatically force close Rollup when done (#4969)
  cli/cli.ts
  cli/run/index.ts
  cli/run/watch-cli.ts
  rollup.config.ts
Due: none

Reintroduce automatic force quite in rollup config until dependency update
  .eslintrc.js
  cli/cli.ts
  cli/logging.ts
  cli/run/watch-cli.ts
  rollup.config.ts
Due: none

3.21.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Handle shimming missing exports when preserving modules (#4971)
  src/Module.ts
  test/function/samples/missing-export-preserve-modules/_config.js
  test/function/samples/missing-export-preserve-modules/foo.js
  test/function/samples/missing-export-preserve-modules/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Configure Renovate (#4972)
  package-lock.json
  package.json
  renovate.json
Due: none

Update renovate config
  renovate.json
Due: none

3.21.4
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Keep leading comments on consecutive lines (#4975)
  src/ast/nodes/Program.ts
  src/utils/renderHelpers.ts
  test/form/samples/leading-comments/_config.js
  test/form/samples/leading-comments/_expected.js
  test/form/samples/leading-comments/dep.js
  test/form/samples/leading-comments/main.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/remove-treeshaken-banners/_expected.js
  test/form/samples/render-removed-statements/_expected.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Use correct scope in switch statements (#4979)
  package.json
  src/ast/nodes/SwitchStatement.ts
  test/function/samples/switch-scope/_config.js
  test/function/samples/switch-scope/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.21.5
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#4980)
  package-lock.json
  package.json
Due: none

auto-approve lockfile maintenance PRs
  renovate.json
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

docs: update plugin-development index.md
  docs/plugin-development/index.md
Due: none

Prevent exit before stdout is drained (#4983)
  cli/cli.ts
  test/cli/index.js
Due: prettier --write, eslint --fix

No longer force-close Rollup in config
  rollup.config.ts
Due: none

3.21.6
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

test: add options type for function tests (#4988)
  test/types.d.ts
Due: none

Properly quit on uncaught exceptions (#4987)
  cli/run/watch-cli.ts
  test/cli/samples/handles-uncaught-errors/_config.js
  test/cli/samples/handles-uncaught-errors/main.js
  test/cli/samples/handles-uncaught-errors/rollup.config.js
Due: prettier --write, eslint --fix

3.21.7
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Handle self-referencing namespaces (#4991)
  src/ast/variables/NamespaceVariable.ts
  test/function/samples/self-referencing-namespace/_config.js
  test/function/samples/self-referencing-namespace/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.21.8
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs: fix slugs-and-pages-by-legacy-slugs.json
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
Due: none

chore: setup lint on git hook [ci skip]
  .husky/pre-commit
  docs/command-line-interface/index.md
Due: none

3.22.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix renovate by removing auto-approve
  renovate.json
Due: none

Always enable auto-merge as we still need to approve anyway
  renovate.json
Due: none

chore(deps): update dependency eslint-plugin-unicorn to v47 (#5002)
  .eslintrc.js
  package-lock.json
  package.json
  src/utils/hookActions.ts
Due: prettier --write, tslint --project . --fix

chore(deps): update dependency @rollup/plugin-commonjs to v25 (#5001)
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5003)
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

Improve debug logging on failed watch tests
  test/watch/index.js
Due: prettier --write, eslint --fix

Reenable skipped test
  test/watch/index.js
Due: prettier --write, eslint --fix

Do not force quit Rollup or close stdout (#5004)
  cli/cli.ts
  rollup.config.ts
  src/utils/hookActions.ts
Due: prettier --write, tslint --project . --fix

Disable documentation update
  scripts/release.js
Due: none

3.22.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none
