Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

Make array and object prototype singletons immutable for now (#4142)
  src/ast/nodes/ArrayExpression.ts
  src/ast/nodes/shared/ArrayPrototype.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectPrototype.ts
  test/form/samples/object-expression/reassign-prop-without-proto/_config.js
  test/form/samples/object-expression/reassign-prop-without-proto/_expected.js
  test/form/samples/object-expression/reassign-prop-without-proto/main.js
  test/form/samples/object-expression/unknown-getter-no-side-effect/_config.js
  test/form/samples/object-expression/unknown-getter-no-side-effect/_expected.js
  test/form/samples/object-expression/unknown-getter-no-side-effect/main.js
  test/form/samples/object-expression/unknown-setter-no-side-effect/_config.js
  test/form/samples/object-expression/unknown-setter-no-side-effect/_expected.js
  test/form/samples/object-expression/unknown-setter-no-side-effect/main.js
  test/function/samples/array-double-spread/_config.js
  test/function/samples/array-double-spread/main.js
  test/function/samples/modify-this-via-getter/unknown-prop-getter/_config.js
  test/function/samples/object-deep-access-effect/_config.js
  test/function/samples/object-deep-access-effect/main.js
  test/function/samples/returned-array-mutation/_config.js
  test/function/samples/returned-array-mutation/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.52.1
  package-lock.json
  package.json
Due: none

Use TypeScript config and improve some types (#4144)
  build-plugins/add-cli-entry.ts
  build-plugins/conditional-fsevents-import.ts
  build-plugins/emit-module-package-file.ts
  build-plugins/esm-dynamic-import.ts
  build-plugins/generate-license-file.ts
  build-plugins/replace-browser-modules.ts
  docs/01-command-line-reference.md
  package-lock.json
  package.json
  rollup.config.ts
  src/rollup/types.d.ts
  src/utils/ensureArray.ts
  src/utils/renderChunk.ts
  tsconfig.json
  typings/declarations.d.ts
Due: prettier --write, tslint --project . --fix

2.52.2
  package-lock.json
  package.json
Due: none

Fix docs typo
  docs/01-command-line-reference.md
Due: none

Fix docs typos
  docs/01-command-line-reference.md
Due: none

Make sure the initializer of hoisted variables is deoptimized (#4149)
  .github/workflows/tests.yml
  package.json
  src/ast/nodes/Identifier.ts
  src/ast/scopes/BlockScope.ts
  src/ast/scopes/CatchScope.ts
  test/form/samples/deoptimize-var-in-hoisted-scopes/_config.js
  test/form/samples/deoptimize-var-in-hoisted-scopes/_expected.js
  test/form/samples/deoptimize-var-in-hoisted-scopes/main.js
  test/function/samples/correct-var-before-declaration-deopt/_config.js
  test/function/samples/correct-var-before-declaration-deopt/_expected.js
  test/function/samples/correct-var-before-declaration-deopt/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.52.3
  package-lock.json
  package.json
Due: none

Only run REPL build on internal branches or when specific label is set (#4156)
  .github/labels.json
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
Due: none

Use issue forms (#4152)
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/DOCS.md
  .github/ISSUE_TEMPLATE/FEATURE.md
  .github/ISSUE_TEMPLATE/MODIFICATION.md
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/docs.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/ISSUE_TEMPLATE/modification.yaml
  .github/labels.json
Due: none

remove manual wrapping in bug issue form (#4157)
  .github/ISSUE_TEMPLATE/bug.yaml
Due: none

Remove some unused labels
  .github/labels.json
Due: none

Fix label name
  .github/labels.json
  .github/workflows/repl-artefacts.yml
Due: none

Properly handle double reexports from external namespaces (#4159)
  src/Module.ts
  test/function/samples/double-namespace-reexport/_config.js
  test/function/samples/double-namespace-reexport/first.js
  test/function/samples/double-namespace-reexport/main.js
  test/function/samples/double-namespace-reexport/second.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.52.4
  package-lock.json
  package.json
Due: none

fix: max stack call error is caught on locate (#4160)
  src/Module.ts
  test/misc/misc.js
Due: prettier --write, tslint --project . --fix

2.52.5
  package-lock.json
  package.json
Due: none

Deoptimize awaited expressions (#4162)
  src/ast/ExecutionContext.ts
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/YieldExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  test/form/samples/async-function-effects/main.js
  test/form/samples/ignore-property-access-side-effects/main.js
  test/function/samples/track-awaited-object/_config.js
  test/function/samples/track-awaited-object/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.52.6
  package-lock.json
  package.json
Due: none

Deoptimize return values of async functions (#4163)
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  test/function/samples/track-async-arrow-function-return-value/_config.js
  test/function/samples/track-async-arrow-function-return-value/main.js
  test/function/samples/track-async-function-return-value/_config.js
  test/function/samples/track-async-function-return-value/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.52.7
  package-lock.json
  package.json
Due: none

2.52.8
  package-lock.json
  package.json
Due: none

Limit parallel file reads to prevent "EMFILE: too many open files" error (#4170)
  docs/999-big-list-of-options.md
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/fs.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/queue.ts
  test/function/samples/max-parallel-file-reads-default/1.js
  test/function/samples/max-parallel-file-reads-default/2.js
  test/function/samples/max-parallel-file-reads-default/3.js
  test/function/samples/max-parallel-file-reads-default/4.js
  test/function/samples/max-parallel-file-reads-default/5.js
  test/function/samples/max-parallel-file-reads-default/_config.js
  test/function/samples/max-parallel-file-reads-default/main.js
  test/function/samples/max-parallel-file-reads-error/_config.js
  test/function/samples/max-parallel-file-reads-error/dep.js
  test/function/samples/max-parallel-file-reads-infinity/1.js
  test/function/samples/max-parallel-file-reads-infinity/2.js
  test/function/samples/max-parallel-file-reads-infinity/3.js
  test/function/samples/max-parallel-file-reads-infinity/4.js
  test/function/samples/max-parallel-file-reads-infinity/5.js
  test/function/samples/max-parallel-file-reads-infinity/_config.js
  test/function/samples/max-parallel-file-reads-infinity/main.js
  test/function/samples/max-parallel-file-reads-set/1.js
  test/function/samples/max-parallel-file-reads-set/2.js
  test/function/samples/max-parallel-file-reads-set/3.js
  test/function/samples/max-parallel-file-reads-set/4.js
  test/function/samples/max-parallel-file-reads-set/5.js
  test/function/samples/max-parallel-file-reads-set/_config.js
  test/function/samples/max-parallel-file-reads-set/main.js
  test/function/samples/options-hook/_config.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.53.0
  package-lock.json
  package.json
Due: none

Generates namespace objects when not tree-shaking (#4175)
  src/Module.ts
  test/form/samples/no-treeshake-namespace-object/_config.js
  test/form/samples/no-treeshake-namespace-object/_expected.js
  test/form/samples/no-treeshake-namespace-object/main.js
  test/form/samples/no-treeshake-namespace-object/namespace.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.53.1
  package-lock.json
  package.json
Due: none

Correctly create outside variable when shadowed by catch parameter (#4178)
  src/ast/nodes/CatchClause.ts
  src/ast/scopes/CatchScope.ts
  test/function/samples/catch-scope-shadowing/_config.js
  test/function/samples/catch-scope-shadowing/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Fix additional let/var init bugs (#4177)
  docs/999-big-list-of-options.md
  src/ast/nodes/Identifier.ts
  src/ast/scopes/TrackingScope.ts
  test/cli/samples/treeshake-preset-override/_expected.js
  test/form/samples/tdz-common/_expected.js
  test/form/samples/tdz-common/main.js
  test/form/samples/treeshake-presets/preset-with-override/_expected.js
  test/form/samples/treeshake-presets/recommended/_expected.js
  test/form/samples/treeshake-presets/smallest/_expected.js
  test/form/samples/treeshake-presets/true/_expected.js
  test/function/samples/use-var-before-decl/main.js
Due: prettier --write, tslint --project . --fix

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
