Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

chore(deps): lock file maintenance minor/patch updates (#5049)
  package-lock.json
  package.json
Due: none

Add ability to filter logs via CLI option or environment variable (#5035)
  build-plugins/copy-types.ts
  cli/help.md
  cli/run/batchWarnings.ts
  cli/run/loadConfigFile.ts
  cli/run/loadConfigFromCommand.ts
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  package.json
  rollup.config.ts
  src/utils/getLogFilter.ts
  src/utils/getLogFilterType.d.ts
  src/utils/options/mergeOptions.ts
  test/cli/samples/filter-logs/_config.js
  test/cli/samples/filter-logs/main.js
  test/cli/samples/filter-logs/rollup.config.mjs
  test/cli/samples/filter-logs/wrapper.js
  test/cli/samples/watch/filter-logs/_config.js
  test/cli/samples/watch/filter-logs/main.js
  test/cli/samples/watch/filter-logs/rollup.config.mjs
  test/cli/samples/watch/filter-logs/wrapper.js
  test/misc/deprecations.js
  test/misc/get-log-filter.js
  test/misc/index.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.26.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

docs(cn): resolve conflicts
  docs/command-line-interface/index.md
  docs/javascript-api/index.md
Due: none

@rollup/browser: fix types export map entry (#5051)
  browser/package.json
Due: none

3.26.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: improve error for manualChunks' modules that are resolved as an external module (#5050)
  src/Bundle.ts
  src/ModuleLoader.ts
  src/utils/logs.ts
  test/function/samples/manual-chunks-include-external-modules/_config.js
  test/function/samples/manual-chunks-include-external-modules/external.js
  test/function/samples/manual-chunks-include-external-modules/main.js
  test/function/samples/manual-chunks-include-external-modules2/_config.js
  test/function/samples/manual-chunks-include-external-modules2/external.js
  test/function/samples/manual-chunks-include-external-modules2/main.js
  test/function/samples/manual-chunks-include-external-modules3/_config.js
  test/function/samples/manual-chunks-include-external-modules3/external.js
  test/function/samples/manual-chunks-include-external-modules3/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.26.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5056)
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

translate a part of `onLog` content to Chinese
  docs/configuration-options/index.md
Due: none

fix: don't pass external modules to the manualChunks function (#5068)
  src/Bundle.ts
  test/form/samples/external-modules-could-not-be-passed-to-the-manualChunks/_config.js
  test/form/samples/external-modules-could-not-be-passed-to-the-manualChunks/_expected.js
  test/form/samples/external-modules-could-not-be-passed-to-the-manualChunks/main.js
  test/function/samples/manual-chunks-include-external-modules2/_config.js
  test/function/samples/manual-chunks-include-external-modules2/external.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore(config): migrate renovate config (#5059)
  renovate.json
Due: none

chore(deps): update dependency prettier to v3 (#5064)
  docs/repl/components/ReplMain.vue
  docs/tutorial/index.md
  package-lock.json
  package.json
  src/Graph.ts
  src/ast/nodes/shared/ObjectMember.ts
  src/utils/commondir.ts
Due: prettier --write, tslint --project . --fix

chore(deps): update typescript-eslint monorepo to v6 (major) (#5065)
  .eslintrc.js
  docs/repl/components/ReplEditor.vue
  docs/repl/components/ReplModule.vue
  docs/repl/components/SelectOption.vue
  package-lock.json
  package.json
Due: none

3.26.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix issue number
  CHANGELOG.md
Due: none

docs(tutorial): change the .js extension to .mjs (#5071)
  docs/tutorial/index.md
Due: none

chore(deps): lock file maintenance minor/patch updates (#5070)
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @vue/eslint-config-prettier to v8 (#5078)
  package-lock.json
  package.json
Due: none

Add known globals (#5072)
  src/ast/nodes/shared/knownGlobals.ts
  test/form/samples/tree-shake-object-with-sideeffctful-getter/_config.js
  test/form/samples/tree-shake-object-with-sideeffctful-getter/_expected.js
  test/form/samples/tree-shake-object-with-sideeffctful-getter/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore(deps): lock file maintenance minor/patch updates (#5079)
  package-lock.json
  package.json
Due: none

3.27.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs: sync
  docs/tutorial/index.md
Due: none

应当提供Vite的中文官网
  docs/index.md
Due: none

Exclude rollup-swc from REPL artefacts for now
  .github/workflows/repl-artefacts.yml
Due: none

Add codecov token
  .github/workflows/tests.yml
Due: none

perf(sourcemap): lazy compute decoded mappings (#5075)
  src/Module.ts
  src/rollup/types.d.ts
  src/utils/collapseSourcemaps.ts
  src/utils/decodedSourcemap.ts
  src/utils/getOriginalLocation.ts
Due: prettier --write, tslint --project . --fix

Update gitignore
  .gitignore
Due: none

3.27.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Revert perf(sourcemap): lazy compute decoded mappings (#5075)
  src/Module.ts
  src/rollup/types.d.ts
  src/utils/collapseSourcemaps.ts
  src/utils/decodedSourcemap.ts
  src/utils/getOriginalLocation.ts
Due: prettier --write, tslint --project . --fix

3.27.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

perf(sourcemaps): add back lazy sourcemap decode and handling nullish mappings (#5087)
  src/Module.ts
  src/rollup/types.d.ts
  src/utils/collapseSourcemaps.ts
  src/utils/decodedSourcemap.ts
  src/utils/getOriginalLocation.ts
Due: prettier --write, tslint --project . --fix

fix: the type of RenderedModule.code is readonly (#5091)
  src/rollup/types.d.ts
  test/typescript/index.ts
Due: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix

feat: add `preliminaryFileName` to `OutputChunk` (#5086)
  docs/javascript-api/index.md
  docs/plugin-development/index.md
  src/Chunk.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  test/chunking-form/samples/render-chunk-transform/_config.js
  test/function/samples/emit-file/prebuilt-chunk/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
