Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

2.0.0
  package-lock.json
  package.json
Due: none

Fix conditional exports in Node 13.0 - 13.7 (#3428)
  package-lock.json
  package.json
Due: none

Update changelog
  CHANGELOG.md
Due: none

2.0.1
  package-lock.json
  package.json
Due: none

Fix conditional exports again for ESM (#3430)
  package-lock.json
  package.json
Due: none

2.0.2
  package-lock.json
  package.json
Due: none

Detail how return values from `augmentChunkHash` are used (#3432)
  docs/05-plugin-development.md
Due: none

Add missing type declaration for getCombinedSourcemap (#3431)
  docs/05-plugin-development.md
  src/rollup/types.d.ts
  src/utils/transform.ts
Due: prettier --write, tslint --project . --fix

Use strict types with PluginDriver (#3426)
  src/ast/nodes/MetaProperty.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/PluginDriver.ts
  src/utils/renderChunk.ts
  src/utils/transform.ts
Due: prettier --write, tslint --project . --fix

chore(deps): switch to yargs-parser lib (#3377)
  LICENSE.md
  cli/index.ts
  package-lock.json
  package.json
  src/watch/watch.ts
Due: prettier --write, tslint --project . --fix

2.0.3
  package-lock.json
  package.json
Due: none

fix(deconflictChunk): Deconflict multiple `index` imports for ES format using nested export star statements (#3435)
  src/utils/deconflictChunk.ts
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/_virtual/_external_commonjs-external
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/_virtual/other.js_commonjs-proxy
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/commonjs.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_config.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_expected/amd/module-a/v1/index.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_expected/amd/module-b/v1/index.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_expected/cjs/main.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_expected/cjs/module-a/v1/index.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_expected/cjs/module-b/v1/index.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_expected/es/module-a/v1/index.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_expected/es/module-b/v1/index.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_expected/system/module-a/v1/index.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/_expected/system/module-b/v1/index.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/main.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/module-a/index.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/module-a/v1/index.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/module-b/index.js
  test/chunking-form/samples/preserve-modules-nested-barrel-es-export/module-b/v1/index.js
  test/chunking-form/samples/side-effect-free-dependencies/avoid-imports-preserve-modules/_expected/es/main.js
  test/chunking-form/samples/side-effect-free-dependencies/avoid-imports-preserve-modules/_expected/es/one.js
  test/misc/bundle-information.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.0.4
  package-lock.json
  package.json
Due: none

Make sure logical expressions always check the left argument for side-effects (#3438)
  src/ast/nodes/LogicalExpression.ts
  test/function/samples/reassigned-return-expression/_config.js
  test/function/samples/reassigned-return-expression/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.0.5
  package-lock.json
  package.json
Due: none

Use correct file names when writing sourcemaps for multiple outputs (#3440)
  src/Chunk.ts
  src/utils/collapseSourcemaps.ts
  test/cli/samples/config-multiple-source-maps/_config.js
  test/cli/samples/config-multiple-source-maps/_expected/main-cjs.js
  test/cli/samples/config-multiple-source-maps/_expected/main-cjs.js.map
  test/cli/samples/config-multiple-source-maps/_expected/main-es.js
  test/cli/samples/config-multiple-source-maps/_expected/main-es.js.map
  test/cli/samples/config-multiple-source-maps/main.js
  test/cli/samples/config-multiple-source-maps/rollup.config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.0.6
  package-lock.json
  package.json
Due: none

Correctly specify type of writeBundle hook in docs (#3441)
  docs/05-plugin-development.md
Due: none

Add optional `importer` parameter to `this.emitFile` (#3442)
  LICENSE.md
  docs/05-plugin-development.md
  package-lock.json
  package.json
  src/Graph.ts
  src/ModuleLoader.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/PluginContext.ts
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_config.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/amd/generated-lib.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/amd/generated-lib2.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/amd/main.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/cjs/generated-lib.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/cjs/generated-lib2.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/es/generated-lib.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/es/generated-lib2.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/es/main.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/system/generated-lib.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/system/generated-lib2.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/system/main.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/lib.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/main.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/nested/lib.js
  test/function/samples/resolve-relative-external-id/_config.js
  test/function/samples/resolve-relative-external-id/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Updage changelog
  CHANGELOG.md
Due: none

2.1.0
  package-lock.json
  package.json
Due: none

fix(types): watch accepts single or array config (#3453)
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

docs: fix SystemJS url in tutorial (#3456)
  docs/04-tutorial.md
Due: none

Avoid the assumption of Buffer in browser envs (#3452)
  CHANGELOG.md
  docs/02-javascript-api.md
  docs/05-plugin-development.md
  src/utils/FileEmitter.ts
  test/form/index.js
  test/form/samples/emit-uint8array-no-buffer/_config.js
  test/form/samples/emit-uint8array-no-buffer/_expected/amd.js
  test/form/samples/emit-uint8array-no-buffer/_expected/assets/asset-52cbd095
  test/form/samples/emit-uint8array-no-buffer/_expected/assets/asset-c568a840
  test/form/samples/emit-uint8array-no-buffer/_expected/assets/asset-dc5cb674
  test/form/samples/emit-uint8array-no-buffer/_expected/cjs.js
  test/form/samples/emit-uint8array-no-buffer/_expected/es.js
  test/form/samples/emit-uint8array-no-buffer/_expected/iife.js
  test/form/samples/emit-uint8array-no-buffer/_expected/system.js
  test/form/samples/emit-uint8array-no-buffer/_expected/umd.js
  test/form/samples/emit-uint8array-no-buffer/main.js
  test/function/samples/deprecated/emit-asset/asset-source-missing-3/_config.js
  test/function/samples/emit-file/asset-source-invalid/_config.js
  test/function/samples/emit-file/asset-source-invalid2/_config.js
  test/function/samples/emit-file/asset-source-invalid3/_config.js
  test/function/samples/emit-file/asset-source-invalid4/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

feat(watch): add `skipWrite` option (#3454)
  docs/01-command-line-reference.md
  docs/02-javascript-api.md
  docs/999-big-list-of-options.md
  src/rollup/types.d.ts
  src/watch/watch.ts
  test/watch/index.js
  test/watch/samples/skip-writes/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.2.0
  package-lock.json
  package.json
Due: none

Don't Use esm Output Format (Alias) (#3468)
  docs/04-tutorial.md
  docs/05-plugin-development.md
Due: none

2.3.0
  package-lock.json
  package.json
  test/cli/samples/watch/clearScreen/_config.js
  test/cli/samples/watch/no-clearScreen/_config.js
Due: prettier --write, eslint --fix

Fix support for async functions as config (#3472)
  cli/run/loadConfigFile.ts
  test/cli/samples/config-async-function/_config.js
  test/cli/samples/config-async-function/_expected.js
  test/cli/samples/config-async-function/main.js
  test/cli/samples/config-async-function/rollup.config.js
Due: prettier --write, eslint --fix

2.3.1
  package-lock.json
  package.json
Due: none
