Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Align CI Node versions
  .github/workflows/build-and-tests.yml
Due: none

fix: keep import attributes for cjs format (#5781)
  docs/configuration-options/index.md
  src/Chunk.ts
  src/ExternalChunk.ts
  test/form/samples/import-attributes/keep-dynamic-assertions/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes/_expected/cjs.js
Due: prettier --write, tslint --project . --fix

feat: use picocolors instead of colorette (#5780)
  LICENSE.md
  cli/run/batchWarnings.ts
  package-lock.json
  package.json
  scripts/colors.js
  scripts/perf-report/index.js
  src/utils/colors.ts
Due: prettier --write, tslint --project . --fix

4.29.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): resolve conflicts
  docs/configuration-options/index.md
Due: none

Improve CI caching for node_modules (#5783)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
Due: none

feat: enhance the treehshaking for unary expression (#5775)
  src/ast/nodes/UnaryExpression.ts
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/amd/dep2.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/cjs/dep2.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/es/dep2.js
  test/chunking-form/samples/missing-export-reused-deconflicting/_expected/system/dep2.js
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
  test/form/samples/treeshake-unary/_config.js
  test/form/samples/treeshake-unary/_expected.js
  test/form/samples/treeshake-unary/main.js
  test/form/samples/unary-expressions/_expected.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.30.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: consider that literals cannot following switch case. (#5786)
  src/ast/nodes/SwitchCase.ts
  src/ast/nodes/UnaryExpression.ts
  test/form/samples/switch-cases/missing-space/_config.js
  test/form/samples/switch-cases/missing-space/_expected.js
  test/form/samples/switch-cases/missing-space/main.js
  test/form/samples/treeshake-unary/_expected.js
  test/form/samples/treeshake-unary/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.30.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#5793)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): lock file maintenance (#5794)
  rust/Cargo.lock
Due: none

fix(deps): update rust crate swc_compiler_base to v8 (#5792)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

fix(deps): lock file maintenance minor/patch updates (#5802)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_wasm/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): update dependency eslint-config-prettier to v10 (#5801)
  package-lock.json
  package.json
Due: none

Support watch mode in yarn, gradle and containers (#5803)
  cli/run/watch-cli.ts
  test/cli/index.js
  test/cli/samples/unfulfilled-hook-actions-error/_config.js
  test/cli/samples/watch/close-stdin/_config.js
  test/cli/samples/watch/close-stdin/wrapper.js
  test/cli/samples/watch/signal-close-watcher/_config.js
  test/cli/samples/watch/watch-config-no-update/_config.js
  test/types.d.ts
Due: prettier --write, eslint --fix

fix: strip all BOMs (#5806)
  src/ModuleLoader.ts
  src/utils/stripBom.ts
  test/function/samples/strip-bom-2/_config.js
  test/function/samples/strip-bom-2/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.31.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency vite to v6.0.9 [security] (#5808)
  package-lock.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#5811)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Feature/watch on invalidate (#5799)
  docs/configuration-options/index.md
  docs/plugin-development/index.md
  src/rollup/types.d.ts
  src/watch/watch.ts
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore(deps): update dependency @shikijs/vitepress-twoslash to v2 (#5810)
  package-lock.json
  package.json
Due: none

fix: avoid duplicate rollupjs.org prefix (#5809)
  cli/run/batchWarnings.ts
  test/cli/samples/logs/_config.js
Due: prettier --write, eslint --fix

4.32.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Update index.md
  docs/configuration-options/index.md
Due: none

Update index.md
  docs/plugin-development/index.md
Due: none

fix: set hasDeoptimizedCache to true as early as possible (#5804)
  src/ast/nodes/LogicalExpression.ts
  test/function/samples/deoptimize-logical-expressions-2/_config.js
  test/function/samples/deoptimize-logical-expressions-2/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Disable smoke test for ppc64le for now
  .github/workflows/build-and-tests.yml
Due: none

Fix typo (#5813)
  docs/configuration-options/index.md
Due: none

4.32.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

feat: optimize the literal value of unary expressions (#5812)
  src/ast/nodes/UnaryExpression.ts
  test/form/samples/nested-member-access/_expected.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/unary-expressions-literal-value/_config.js
  test/form/samples/unary-expressions-literal-value/_expected.js
  test/form/samples/unary-expressions-literal-value/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix(deps): update swc monorepo (major) (#5816)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

fix(deps): lock file maintenance minor/patch updates (#5817)
  .github/workflows/build-and-tests.yml
  package-lock.json
  package.json
  renovate.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Return UnknownValue if getLiteralValueAtPath is called recursively within logical expressions (#5819)
  src/ast/nodes/LogicalExpression.ts
  test/function/samples/logical-expressions-literal-value/_config.js
  test/function/samples/logical-expressions-literal-value/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

support for changing the attributes key for dynamic imports (#5818)
  src/Chunk.ts
  src/ExternalChunk.ts
  src/ast/nodes/ImportExpression.ts
  src/utils/renderHelpers.ts
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_config.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_expected/amd.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_expected/es.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_expected/iife.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_expected/system.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/_expected/umd.js
  test/form/samples/import-attributes/keep-dynamic-attributes-assert/main.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_config.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/amd.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/es.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/iife.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/system.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/_expected/umd.js
  test/form/samples/import-attributes/keep-dynamic-attributes-default/main.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_config.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_expected/amd.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_expected/cjs.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_expected/es.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_expected/iife.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_expected/system.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/_expected/umd.js
  test/form/samples/import-attributes/keep-dynamic-attributes-with/main.js
  test/form/samples/import-attributes/keep-dynamic-attributes/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

return null (#5820)
  docs/configuration-options/index.md
Due: none

4.33.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

4.34.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none
