Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

Sort warnings before comparing in tests
  test/utils.js
Due: prettier --write, eslint --fix

3.14.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Add mastodon social link
  docs/.vitepress/config.ts
Due: none

fixed the logo link (#4843)
  README.md
Due: none

Fix type in docs
  docs/configuration-options/index.md
Due: none

Update index.md (#4844)
  docs/plugin-development/index.md
Due: none

docs: fix style (#4845)
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

Add script to update docs
  package.json
Due: none

Refine release script
  package.json
Due: none

Improve error logging in REPL
  docs/repl/stores/rollupOutput.ts
Due: none

fix: add this option to context.ignore (#4842)
  src/ast/ExecutionContext.ts
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/variables/ThisVariable.ts
  test/form/samples/side-effects-this/_config.js
  test/form/samples/side-effects-this/_expected.js
  test/form/samples/side-effects-this/main.js
  test/function/samples/this-side-effect/_config.js
  test/function/samples/this-side-effect/_expected.js
  test/function/samples/this-side-effect/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.15.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Ignore worktree branch
  .gitignore
Due: none

Update magic-string and adjust types. (#4846)
  build-plugins/add-cli-entry.ts
  build-plugins/conditional-fsevents-import.ts
  package-lock.json
  package.json
  src/rollup/types.d.ts
  src/utils/collapseSourcemaps.ts
Due: prettier --write, tslint --project . --fix

Improve test stability
  test/utils.js
Due: prettier --write, eslint --fix

simplify code in includeStatements (#4856)
  src/Graph.ts
Due: prettier --write, tslint --project . --fix

docs: make api params more readable (#4852)
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

Introduce `sourcemapIgnoreList` predicate. (#4848)
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/renderChunks.ts
  test/function/samples/invalid-ignore-list-function/_config.js
  test/function/samples/invalid-ignore-list-function/main.js
  test/misc/optionList.js
  test/sourcemaps/samples/ignore-list-source-files/_config.js
  test/sourcemaps/samples/ignore-list-source-files/lib1.js
  test/sourcemaps/samples/ignore-list-source-files/lib2.js
  test/sourcemaps/samples/ignore-list-source-files/main.js
  test/sourcemaps/samples/ignore-list-sourcemap-path/_config.js
  test/sourcemaps/samples/ignore-list-sourcemap-path/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Allow to pass "true" to InputOptions.cache (#4859)
  docs/configuration-options/index.md
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
Due: prettier --write, tslint --project . --fix

3.16.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

3.17.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

feat: export loadConfigFile type (#4853)
  build-plugins/copy-types.ts
  cli/run/batchWarnings.ts
  cli/run/build.ts
  cli/run/index.ts
  cli/run/loadConfigFile.ts
  cli/run/loadConfigFileType.d.ts
  cli/run/loadConfigFromCommand.ts
  cli/run/watch-cli.ts
  package.json
  rollup.config.ts
Due: none

Do not mark variable access in files without side effects as TDZ (#4866)
  src/ast/nodes/Identifier.ts
  test/form/samples/super-class-no-side-effects/_config.js
  test/form/samples/super-class-no-side-effects/_expected.js
  test/form/samples/super-class-no-side-effects/main.js
  test/form/samples/super-class-no-side-effects/other.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.17.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

feat: add known globals (#4323)
  src/ast/nodes/shared/knownGlobals.ts
Due: prettier --write, tslint --project . --fix

Add `needsCodeReference` property to `EmittedAsset` (#4868)
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

Include side effects of re-exporters unless they have moduleSideEffects: false (#4867)
  src/Module.ts
  test/function/samples/module-side-effect-reexport/_config.js
  test/function/samples/module-side-effect-reexport/foo.js
  test/function/samples/module-side-effect-reexport/index.js
  test/function/samples/module-side-effect-reexport/main.js
  test/function/samples/module-side-effect-reexport/reexport-effect.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.17.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: style optimization in dark mode (#4870)
  docs/repl/components/BundleOptions.vue
Due: none

fix: wrong params of the transform hook (#4876)
  docs/plugin-development/index.md
Due: none

Improve test stability (#4878)
  test/cli/index.js
  test/cli/samples/watch/watch-event-hooks/_config.js
Due: prettier --write, eslint --fix

Fix transformation of `import.meta.url` in CommonJS (#4875)
  src/ast/nodes/MetaProperty.ts
  test/chunking-form/samples/asset-needs-code-reference/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/emit-chunk-with-importer/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/emit-chunk-worker/_expected/cjs/chunks/nested.js
  test/chunking-form/samples/emit-file/emit-chunk-worker/_expected/cjs/chunks/worker-proxy.js
  test/chunking-form/samples/emit-file/emit-chunk-worker/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/emit-chunk-worklet/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/reference-files/_expected/cjs/main.js
  test/chunking-form/samples/emit-file/reference-files/_expected/cjs/nested/chunk.js
  test/chunking-form/samples/emit-file/set-asset-source/_expected/cjs/main.js
  test/chunking-form/samples/import-meta-numeric-paths/_expected/cjs/0/1/nested.js
  test/chunking-form/samples/import-meta-url/_expected/cjs/main.js
  test/chunking-form/samples/import-meta-url/_expected/cjs/nested/chunk.js
  test/chunking-form/samples/render-chunk/_expected/cjs/chunk-dep2-8d89c265.js
  test/chunking-form/samples/render-chunk/_expected/cjs/chunk-dep2-d1b4d6a3.js
  test/chunking-form/samples/render-chunk/_expected/cjs/entry-main1-5be92ae4.js
  test/chunking-form/samples/render-chunk/_expected/cjs/entry-main1-7c0fb7d4.js
  test/chunking-form/samples/render-chunk/_expected/cjs/entry-main2-20c5a0f4.js
  test/chunking-form/samples/render-chunk/_expected/cjs/entry-main2-51ea6de1.js
  test/chunking-form/samples/resolve-file-url/_expected/cjs/main.js
  test/form/samples/configure-file-url/_expected/cjs.js
  test/form/samples/configure-file-url/_expected/umd.js
  test/form/samples/deconflict-format-specific-globals/_expected/cjs.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/emit-asset-file/_expected/cjs.js
  test/form/samples/emit-asset-file/_expected/umd.js
  test/form/samples/emit-uint8array-no-buffer/_expected/cjs.js
  test/form/samples/emit-uint8array-no-buffer/_expected/umd.js
  test/form/samples/import-meta-url/_expected/cjs.js
  test/form/samples/import-meta-url/_expected/umd.js
  test/form/samples/import-meta/_expected/cjs.js
  test/form/samples/import-meta/_expected/umd.js
  test/form/samples/resolve-import-meta-url/_expected/cjs.js
  test/form/samples/resolve-import-meta-url/_expected/umd.js
  test/function/samples/emit-file/file-references-in-bundle/My%2FFile.js
  test/function/samples/emit-file/file-references-in-bundle/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.17.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

build: use @rollup/plugin-replace to replace chokidar fsevents (#4880)
  build-plugins/conditional-fsevents-import.ts
  build-plugins/fs-events-replacement.ts
  rollup.config.ts
Due: none

feat: mark files in a `node_modules` as ignore-listed by default (#4877)
  docs/configuration-options/index.md
  src/rollup/types.d.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/renderChunks.ts
  test/sourcemaps/samples/ignore-list-default/_config.js
  test/sourcemaps/samples/ignore-list-default/main.js
  test/sourcemaps/samples/ignore-list-default/node_modules/lib.js
  test/sourcemaps/samples/ignore-list-false/_config.js
  test/sourcemaps/samples/ignore-list-false/main.js
  test/sourcemaps/samples/ignore-list-false/node_modules/lib.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Add experimental logging for side effects (#4871)
  browser/package.json
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/plugin-development/index.md
  package-lock.json
  package.json
  scripts/test-options.js
  src/ast/nodes/Program.ts
  src/ast/nodes/shared/Node.ts
  src/rollup/types.d.ts
  src/utils/getCodeFrame.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  test/cli/samples/log-side-effects/_config.js
  test/cli/samples/log-side-effects/_expected.js
  test/cli/samples/log-side-effects/dep-long-line.js
  test/cli/samples/log-side-effects/dep-mapped.js
  test/cli/samples/log-side-effects/main.js
  test/cli/samples/log-side-effects/rollup.config.mjs
  test/function/samples/options-hook/_config.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Refactor (#4887)
  build-plugins/replace-browser-modules.ts
  src/utils/renderChunks.ts
Due: prettier --write, tslint --project . --fix

3.18.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
