Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Rework tree-shaking support for optional chaining (#4812)
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ChainExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/Node.ts
  test/form/samples/optional-chaining-namespace/_config.js
  test/form/samples/optional-chaining-namespace/_expected.js
  test/form/samples/optional-chaining-namespace/main.js
  test/form/samples/optional-chaining-namespace/util.js
  test/form/samples/optional-chaining/_expected.js
  test/form/samples/optional-chaining/main.js
  test/function/samples/optional-chaining-side-effect/_config.js
  test/function/samples/optional-chaining-side-effect/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.10.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Try to use Netlify preview for REPL artefacts
  .github/workflows/repl-artefacts.yml
Due: none

Use Netlify preview for REPL artefacts
  .github/workflows/repl-artefacts.yml
Due: none

Add running environment for release file
  .github/workflows/deploy-website.yml
  scripts/release.js
Due: none

Use branch for documentation deployment
  .github/workflows/deploy-website.yml
  scripts/release.js
Due: none

Update scripts
  .github/workflows/deploy-website.yml
  .github/workflows/repl-artefacts.yml
Due: none

Update version
  .github/workflows/deploy-website.yml
Due: none

Use different deployment action
  .github/workflows/deploy-website.yml
Due: none

Say "latest" when fetching an unknown Rollup version
  docs/repl/components/RollupVersion.vue
Due: none

Do not display warning markers in REPL output
  docs/repl/components/ReplEditor.vue
Due: none

Improve display of locations in REPL warnings
  docs/repl/components/StatusMessage.vue
Due: none

Flatten options list
  docs/repl/components/BundleOptions.vue
Due: none

feat: add needsCodeReference field to EmittedAsset (#4805)
  docs/plugin-development/index.md
  src/Bundle.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/outputBundle.ts
  test/chunking-form/samples/asset-needs-code-reference/_config.js
  test/chunking-form/samples/asset-needs-code-reference/_expected/amd/logo2.svg
  test/chunking-form/samples/asset-needs-code-reference/_expected/amd/main.js
  test/chunking-form/samples/asset-needs-code-reference/_expected/cjs/logo2.svg
  test/chunking-form/samples/asset-needs-code-reference/_expected/cjs/main.js
  test/chunking-form/samples/asset-needs-code-reference/_expected/es/logo2.svg
  test/chunking-form/samples/asset-needs-code-reference/_expected/es/main.js
  test/chunking-form/samples/asset-needs-code-reference/_expected/system/logo2.svg
  test/chunking-form/samples/asset-needs-code-reference/_expected/system/main.js
  test/chunking-form/samples/asset-needs-code-reference/logo.svg
  test/chunking-form/samples/asset-needs-code-reference/logo2.svg
  test/chunking-form/samples/asset-needs-code-reference/main.js
  test/function/samples/sourcemap-true-generatebundle/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Introduce timeout-minutes in Github actions ci (#4820)
  .github/workflows/tests.yml
  rollup.config.ts
Due: none

web-publisher: Update docs/faqs/index.md (#4816)
  docs/faqs/index.md
Due: none

Replace fs-extra with built-ins (#4819)
  build-plugins/clean-before-write.ts
  build-plugins/copy-types.ts
  build-plugins/replace-browser-modules.ts
  scripts/perf-init.js
  test/utils.js
  test/watch/index.js
Due: prettier --write, eslint --fix

Tweak document landing page (#4822)
  docs/.vitepress/theme/custom.css
  docs/public/rollup-logo.svg
Due: none

Minor migration guide improvements (#4823)
  docs/migration/index.md
Due: none

3.11.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix slash in thank you notice link
  .github/workflows/repl-artefacts.yml
Due: none

Use old namespace reexport code pattern for better Node support (#4826)
  package.json
  src/finalisers/shared/getExportBlock.ts
  test/form/samples/generated-code-compact/const-bindings-false/_expected/amd.js
  test/form/samples/generated-code-compact/const-bindings-false/_expected/cjs.js
  test/form/samples/generated-code-compact/const-bindings-false/_expected/iife.js
  test/form/samples/generated-code-compact/const-bindings-false/_expected/umd.js
  test/form/samples/generated-code-compact/const-bindings-true/_expected/amd.js
  test/form/samples/generated-code-compact/const-bindings-true/_expected/cjs.js
  test/form/samples/generated-code-compact/const-bindings-true/_expected/iife.js
  test/form/samples/generated-code-compact/const-bindings-true/_expected/umd.js
  test/form/samples/generated-code/const-bindings-true/_expected/amd.js
  test/form/samples/generated-code/const-bindings-true/_expected/cjs.js
  test/form/samples/generated-code/const-bindings-true/_expected/iife.js
  test/form/samples/generated-code/const-bindings-true/_expected/umd.js
  test/form/samples/no-external-live-bindings-compact/_expected/amd.js
  test/form/samples/no-external-live-bindings-compact/_expected/cjs.js
  test/form/samples/no-external-live-bindings-compact/_expected/iife.js
  test/form/samples/no-external-live-bindings-compact/_expected/umd.js
  test/form/samples/no-external-live-bindings/_expected/amd.js
  test/form/samples/no-external-live-bindings/_expected/cjs.js
  test/form/samples/no-external-live-bindings/_expected/iife.js
  test/form/samples/no-external-live-bindings/_expected/umd.js
Due: prettier --write, tslint --project . --fix

Try to exclude browser types explicitly
  tsconfig.json
Due: none

3.12.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: use the original class name in the class body (#4827)
  src/Chunk.ts
  src/ast/nodes/ClassDeclaration.ts
  src/ast/nodes/Identifier.ts
  src/ast/variables/Variable.ts
  src/utils/renderHelpers.ts
  test/form/samples/use-class-name-in-static-block/_config.js
  test/form/samples/use-class-name-in-static-block/_expected/amd.js
  test/form/samples/use-class-name-in-static-block/_expected/cjs.js
  test/form/samples/use-class-name-in-static-block/_expected/es.js
  test/form/samples/use-class-name-in-static-block/_expected/iife.js
  test/form/samples/use-class-name-in-static-block/_expected/system.js
  test/form/samples/use-class-name-in-static-block/_expected/umd.js
  test/form/samples/use-class-name-in-static-block/main.js
  test/form/samples/use-class-name-in-static-block/test1.js
  test/form/samples/use-class-name-in-static-block/test2.js
  test/function/samples/use-class-name-in-static-block/_config.js
  test/function/samples/use-class-name-in-static-block/main.js
  test/function/samples/use-class-name-in-static-block/test1.js
  test/function/samples/use-class-name-in-static-block/test2.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Improve and fix cross-chunk-reexport warning (#4829)
  src/Chunk.ts
  src/utils/error.ts
  test/function/samples/circular-missed-reexports/_config.js
  test/function/samples/circular-namespace-reexport-manual-chunks/_config.js
  test/function/samples/circular-namespace-reexport-manual-chunks/formatters.js
  test/function/samples/circular-namespace-reexport-manual-chunks/index.js
  test/function/samples/circular-namespace-reexport-manual-chunks/main.js
  test/function/samples/circular-namespace-reexport-manual-chunks/types.js
  test/function/samples/circular-namespace-reexport-preserve-modules/_config.js
  test/function/samples/circular-namespace-reexport-preserve-modules/formatters.js
  test/function/samples/circular-namespace-reexport-preserve-modules/index.js
  test/function/samples/circular-namespace-reexport-preserve-modules/main.js
  test/function/samples/circular-namespace-reexport-preserve-modules/types.js
  test/function/samples/circular-preserve-modules/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Add Algolia doc search (#4830)
  docs/.vitepress/config.ts
  docs/vite.config.ts
  package-lock.json
  package.json
Due: none

Add warning not to add assets directly to the bundle (#4831)
  docs/plugin-development/index.md
Due: none

3.12.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs: Fix typo (#4833)
  docs/configuration-options/index.md
Due: none

Tables in docs (#4835)
  docs/.vitepress/config.ts
  docs/.vitepress/create-examples.ts
  docs/.vitepress/helpers.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/transpose-tables.ts
  docs/configuration-options/index.md
  docs/plugin-development/index.md
  docs/vite.config.ts
Due: none

Fix lint issues
  .eslintrc.js
  docs/repl/components/ReplOutput.vue
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/UpdateExpression.ts
Due: prettier --write, tslint --project . --fix

3.13.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix REPL colors
  docs/.vitepress/theme/custom.css
  docs/repl/components/BundleOptions.vue
  docs/repl/helpers/editor.ts
Due: none

fix: correct incorrect assertions (#4839)
  src/ast/variables/LocalVariable.ts
Due: prettier --write, tslint --project . --fix

Add flag to re-enable deep dynamic chunk optimization (#4837)
  docs/configuration-options/index.md
  src/Bundle.ts
  src/rollup/types.d.ts
  src/utils/chunkAssignment.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix
