Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

2.53.2
  package-lock.json
  package.json
Due: none

Avoid memory issues with hoisted variables (#4183)
  src/ast/nodes/Identifier.ts
  src/ast/scopes/BlockScope.ts
  src/ast/variables/LocalVariable.ts
  test/form/samples/deep-switch-declarations/_config.js
  test/form/samples/deep-switch-declarations/_expected.js
  test/form/samples/deep-switch-declarations/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.53.3
  package-lock.json
  package.json
Due: none

Fix typo in renderHelpers.ts (#4188)
  src/utils/renderHelpers.ts
Due: prettier --write, tslint --project . --fix

Fix typo in docs
  docs/02-javascript-api.md
Due: none

Fix UMD import.meta.url inside web workers (#4186)
  src/ast/nodes/MetaProperty.ts
  test/form/samples/configure-file-url/_expected/umd.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/deprecated/configure-asset-url/_expected/umd.js
  test/form/samples/deprecated/emit-asset/_expected/umd.js
  test/form/samples/emit-asset-file/_expected/umd.js
  test/form/samples/emit-uint8array-no-buffer/_expected/umd.js
  test/form/samples/import-meta-url/_expected/umd.js
  test/form/samples/import-meta/_expected/umd.js
  test/form/samples/resolve-import-meta-url/_expected/umd.js
Due: prettier --write, tslint --project . --fix

Move long path recursion prevention to MemberExpression (#4189)
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/ObjectMember.ts
  src/ast/variables/LocalVariable.ts
  test/form/samples/deep-properties-access/_config.js
  test/form/samples/deep-properties-access/_expected.js
  test/form/samples/deep-properties-access/main.js
  test/form/samples/deep-properties/_config.js
  test/form/samples/deep-properties/_expected.js
  test/form/samples/deep-properties/main.js
  test/form/samples/recursive-property-call/_config.js
  test/form/samples/recursive-property-call/_expected.js
  test/form/samples/recursive-property-call/main.js
  test/form/samples/static-method-deoptimization/_config.js
  test/form/samples/static-method-deoptimization/_expected.js
  test/form/samples/static-method-deoptimization/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Stop recommending node-builtins (#4190)
  cli/run/batchWarnings.ts
  docs/08-troubleshooting.md
  src/finalisers/shared/warnOnBuiltins.ts
  test/cli/samples/warn-multiple/_config.js
  test/misc/misc.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.54.0
  package-lock.json
  package.json
Due: none

Fix incorrect watcher event documentation (#4191)
  docs/02-javascript-api.md
Due: none

2.55.0
  package-lock.json
  package.json
Due: none

Align batch warning for UNUSED_EXTERNAL_IMPORT to individual warning (#4194)
  cli/run/batchWarnings.ts
  test/cli/samples/warn-import-export/_config.js
Due: prettier --write, eslint --fix

2.55.1
  package-lock.json
  package.json
Due: none

Fix typo in docs (#4197)
  docs/999-big-list-of-options.md
Due: none

Restrict parallel execution of load hook as well. (#4200)
  src/ModuleLoader.ts
  test/function/samples/max-parallel-file-reads-with-plugin/1.js
  test/function/samples/max-parallel-file-reads-with-plugin/2.js
  test/function/samples/max-parallel-file-reads-with-plugin/3.js
  test/function/samples/max-parallel-file-reads-with-plugin/4.js
  test/function/samples/max-parallel-file-reads-with-plugin/5.js
  test/function/samples/max-parallel-file-reads-with-plugin/_config.js
  test/function/samples/max-parallel-file-reads-with-plugin/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.56.0
  package-lock.json
  package.json
Due: none

Fix incorrect rendering of export declarations in SystemJS (#4202)
  src/ast/nodes/VariableDeclaration.ts
  test/form/samples/simplified-initializer/_config.js
  test/form/samples/simplified-initializer/_expected/amd.js
  test/form/samples/simplified-initializer/_expected/cjs.js
  test/form/samples/simplified-initializer/_expected/es.js
  test/form/samples/simplified-initializer/_expected/iife.js
  test/form/samples/simplified-initializer/_expected/system.js
  test/form/samples/simplified-initializer/_expected/umd.js
  test/form/samples/simplified-initializer/main.js
  test/function/samples/max-parallel-file-reads-with-plugin/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.56.1
  package-lock.json
  package.json
Due: none

Do not create invalid code when simplifying object pattern assignments (#4204)
  src/ast/nodes/AssignmentExpression.ts
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ClassExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/ExportDefaultDeclaration.ts
  src/ast/nodes/FunctionExpression.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/SequenceExpression.ts
  src/ast/nodes/VariableDeclarator.ts
  src/utils/renderHelpers.ts
  test/function/samples/function-expressions-simplified-to-statement/main.js
  test/function/samples/simplify-with-destructuring/_config.js
  test/function/samples/simplify-with-destructuring/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.56.2
  package-lock.json
  package.json
Due: none

Format markdown with prettier and prepare SVG graphs for hooks (#4206)
  .github/ISSUE_TEMPLATE/SUPPORT.md
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierignore
  .prettierrc
  .prettierrc.json
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE-CORE.md
  README.md
  docs/00-introduction.md
  docs/01-command-line-reference.md
  docs/02-javascript-api.md
  docs/03-es-module-syntax.md
  docs/04-tutorial.md
  docs/05-plugin-development.md
  docs/06-faqs.md
  docs/07-tools.md
  docs/08-troubleshooting.md
  docs/999-big-list-of-options.md
  docs/build-hooks.mmd
  docs/hooks-legend.html
  docs/output-generation-hooks.mmd
  package-lock.json
  package.json
Due: none

ModuleInfo.importedIds does not crash in moduleParsed (#4208)
  docs/05-plugin-development.md
  src/Module.ts
  src/ModuleLoader.ts
  test/function/samples/module-parsed-imported-ids/_config.js
  test/function/samples/module-parsed-imported-ids/dynamic.js
  test/function/samples/module-parsed-imported-ids/main.js
  test/function/samples/module-parsed-imported-ids/static.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.56.3
  package-lock.json
  package.json
Due: none

chore: remove unused ambient types (#4212)
  typings/declarations.d.ts
Due: prettier --write, tslint --project . --fix

chore: use forceConsistentCasingInFileNames in ts-config (#4220)
  tsconfig.json
Due: none

chore: bump rollup typescript, remove unused micromatch (#4219)
  LICENSE.md
  package-lock.json
  package.json
  rollup.config.ts
  src/Module.ts
  src/watch/fsevents-importer.ts
  src/watch/watch.ts
  tsconfig.json
Due: prettier --write, tslint --project . --fix

fix: prevent UnhandledPromiseRejectionWarning when module resolution/parsing fails (#4228)
  src/ModuleLoader.ts
  test/function/samples/es5-class-called-without-new/main.js
  test/function/samples/object-deep-access-effect/_config.js
  test/function/samples/object-deep-access-effect/main.js
  test/function/samples/warn-on-top-level-this/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
