Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

4.42.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

feat(options): Add an option for overriding the file system module in the JS API (#5944)
  .github/workflows/build-and-tests.yml
  browser/src/fs.ts
  browser/src/resolveId.ts
  build-plugins/replace-browser-modules.ts
  docs/.vitepress/config.ts
  docs/browser/index.md
  docs/configuration-options/index.md
  docs/faqs/index.md
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
  docs/javascript-api/index.md
  docs/plugin-development/index.md
  package-lock.json
  package.json
  scripts/prepare-release.js
  src/ModuleLoader.ts
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/logs.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/resolveId.ts
  test/browser/samples/missing-default-fs/_config.js
  test/browser/samples/missing-dependency-resolution/_config.js
  test/browser/samples/missing-dependency-resolution/_expected/main.js
  test/browser/samples/missing-entry-resolution/_config.js
  test/browser/samples/provide-fs/_config.js
  test/browser/samples/provide-fs/_expected/main.js
  test/chunking-form/samples/max-parallel-file-operations/_config.js
  test/function/samples/max-parallel-file-operations/default/_config.js
  test/function/samples/max-parallel-file-operations/error/_config.js
  test/function/samples/max-parallel-file-operations/infinity/_config.js
  test/function/samples/max-parallel-file-operations/set/_config.js
  test/function/samples/options-hook/_config.js
  test/misc/fs-override.js
  test/misc/index.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.43.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): resolve conflicts
  docs/.vitepress/config.ts
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/faqs/index.md
  docs/plugin-development/index.md
Due: none

docs(cn): browser doc
  docs/browser/index.md
Due: none

chore: update slugs
  docs/guide/en/slugs-and-pages-by-legacy-slugs.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#5984)
  .github/workflows/build-and-tests.yml
  browser/package.json
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
  rust/parse_ast/src/lib.rs
Due: none

Improve approximation of coarse sourcemap segments (#5985)
  src/utils/collapseSourcemaps.ts
  src/utils/getOriginalLocation.ts
  test/sourcemaps/samples/combined-sourcemap-2/_config.js
  test/sourcemaps/samples/warning-with-coarse-sourcemap/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Remove limit on max parallel file ops (#5986)
  docs/configuration-options/index.md
  src/utils/options/normalizeInputOptions.ts
  test/function/samples/options-hook/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.44.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#5988)
  package-lock.json
  package.json
  rollup.config.ts
  src/ast/nodes/Identifier.ts
  src/browser-entry.ts
  src/watch/fsevents-importer.ts
  tsconfig.json
  typings/declarations.ts
  typings/fsevents.ts
  typings/package.json.ts
Due: prettier --write, tslint --project . --fix

docs(cn): resolve conflicts
  docs/configuration-options/index.md
Due: none

Set maxParallelFileOps to 1000 (#5992)
  docs/configuration-options/index.md
  src/utils/options/normalizeInputOptions.ts
  test/function/samples/options-hook/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.44.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#6004)
  CHANGELOG.md
  LICENSE.md
  docs/configuration-options/index.md
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): update dependency vite to v7 (#6002)
  package-lock.json
  package.json
Due: none

Support @__PURE__ when nested after new in constructor invocations (#5998)
  rust/parse_ast/src/ast_nodes/new_expression.rs
  rust/parse_ast/src/convert_ast/converter.rs
  test/form/samples/pure-comment-scenarios-simple/main.js
Due: none

Add location info for closing brace of block statement (#5999)
  src/ast/nodes/BlockStatement.ts
  test/chunking-form/samples/chunking-source-maps/_expected/amd/main1.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/amd/main2.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/cjs/main1.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/cjs/main2.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/es/main1.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/es/main2.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/system/main1.js.map
  test/chunking-form/samples/chunking-source-maps/_expected/system/main2.js.map
  test/sourcemaps/samples/combined-sourcemap-2/_config.js
  test/sourcemaps/samples/combined-sourcemap-3/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

List included PRs before release
  scripts/prepare-release.js
Due: none

4.44.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Correct the parent scope for static blocks (#6001)
  scripts/ast-types.js
  scripts/generate-buffer-parsers.js
  src/ast/bufferParsers.ts
  test/function/samples/class-static-block-tree-shaking/_config.js
  test/function/samples/class-static-block-tree-shaking/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix: export field order prefer esm (#6005)
  browser/package.json
  package.json
Due: none

feat: improve get literal value for conditional expression (#6000)
  src/ast/nodes/ConditionalExpression.ts
  test/form/samples/treeshake-if-statement/_expected.js
  test/form/samples/treeshake-if-statement/main.js
Due: prettier --write, tslint --project . --fix

4.45.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs: format
  docs/configuration-options/index.md
Due: none

Add hasDeoptimizedCache flag for ConditionalExpression (#6009)
  src/ast/nodes/ConditionalExpression.ts
  test/function/samples/conditional-expression-literal-value/_config.js
  test/function/samples/conditional-expression-literal-value/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.45.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @vue/language-server to v3 (#6014)
  package-lock.json
  package.json
Due: none

chore(deps): update dependency vue-tsc to v3 (#6015)
  package-lock.json
  package.json
  renovate.json
Due: none

fix(deps): update swc monorepo (major) (#6016)
  rust/Cargo.lock
Due: none

fix(deps): lock file maintenance minor/patch updates (#6017)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Update eslint-plugin-unicorn to resolve vulnerability (#6028)
  package-lock.json
  package.json
Due: none

Make const reassignments only a warning (#6020)
  src/ast/nodes/AssignmentExpression.ts
  test/function/samples/error-const-reassign/_config.js
  test/function/samples/warning-const-reassign/_config.js
  test/function/samples/warning-const-reassign/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix(deps): lock file maintenance minor/patch updates (#6034)
  .github/workflows/build-and-tests.yml
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Throw descriptive error message for used export is not defined (#6023)
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/variables/NamespaceVariable.ts
  src/utils/logs.ts
  test/function/samples/exports-are-not-defined/_config.js
  test/function/samples/exports-are-not-defined/main.js
  test/function/samples/exports-are-not-defined/module.js
Due: prettier --write, tslint --project . --fix, eslint --fix

feat: upgrade to NAPI-RS 3 stable (#6027)
  .github/workflows/build-and-tests.yml
  native.d.ts
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/bindings_napi/src/lib.rs
Due: none

Fix package name for ppc64 architecture
  native.js
  npm/linux-ppc64-gnu/README.md
  npm/linux-ppc64-gnu/package.json
Due: none

4.45.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none
