Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

4.4.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Allow functions to redeclare vars and functions in function scopes (#5248)
  src/ast/scopes/CatchBodyScope.ts
  src/ast/scopes/FunctionBodyScope.ts
  src/ast/scopes/ParameterScope.ts
  src/ast/scopes/Scope.ts
  test/function/samples/ast-validations/redeclare-block-function-function/_config.js
  test/function/samples/ast-validations/redeclare-block-function-function/main.js
  test/function/samples/ast-validations/redeclare-top-level-function-function/_config.js
  test/function/samples/ast-validations/redeclare-top-level-function-function/main.js
  test/function/samples/ast-validations/redeclare-top-level-var-function/_config.js
  test/function/samples/ast-validations/redeclare-top-level-var-function/main.js
  test/function/samples/ast-validations/redeclare-var-function/_config.js
  test/function/samples/ast-validations/redeclare-var-function/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.4.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5253)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  scripts/prepare-release.js
  src/Bundle.ts
  src/Chunk.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/MetaProperty.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/finalisers/system.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/options/options.ts
  test/form/index.js
  test/function/index.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

doc fix import assertions to attributes in API plugin development page (#5251)
  docs/plugin-development/index.md
Due: none

Error for armv7 musl build (#5255)
  .github/workflows/build-and-tests.yml
  .github/workflows/repl-artefacts.yml
  native.js
Due: none

4.5.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix graphs in docs, improve REPL colors (#5257)
  docs/repl/components/ReplModule.vue
  docs/repl/helpers/editor.ts
  package-lock.json
  package.json
Due: none

Allow function expression parameters to shadow the function id (#5262)
  .github/PULL_REQUEST_TEMPLATE.md
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/BlockStatement.ts
  src/ast/nodes/CatchClause.ts
  src/ast/nodes/ClassBody.ts
  src/ast/nodes/ForInStatement.ts
  src/ast/nodes/ForOfStatement.ts
  src/ast/nodes/ForStatement.ts
  src/ast/nodes/FunctionExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/StaticBlock.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/scopes/BlockScope.ts
  src/ast/scopes/CatchBodyScope.ts
  src/ast/scopes/ClassBodyScope.ts
  src/ast/scopes/FunctionBodyScope.ts
  src/ast/scopes/FunctionScope.ts
  src/ast/scopes/ParameterScope.ts
  test/form/samples/function-id-as-parameter/_config.js
  test/form/samples/function-id-as-parameter/_expected.js
  test/form/samples/function-id-as-parameter/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.5.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: strip BOM before calling transform hook (#5268)
  src/Module.ts
  src/ModuleLoader.ts
  test/function/samples/strip-bom-1/_config.js
  test/function/samples/strip-bom-1/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore(deps): lock file maintenance minor/patch updates (#5269)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
  test/form/samples/supports-core-js/_expected.js
Due: none

4.5.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): 修改docs/plugin-development/index.md
  docs/plugin-development/index.md
Due: none

Add friendly error for npm bug (#5267)
  native.js
Due: none

Debug deployed graphs (#5272)
  docs/.vitepress/mermaid.ts
Due: none

Allow this.addWatchFile in all hooks (#5270)
  docs/plugin-development/index.md
  src/rollup/rollup.ts
  src/utils/PluginContext.ts
  src/utils/logs.ts
  src/watch/watch.ts
  test/function/samples/add-watch-file-generate/_config.js
  test/function/samples/add-watch-file-generate/main.js
  test/function/samples/add-watch-file-generate/watched.js
  test/utils.js
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Retry flaky test
  test/cli/samples/watch/watch-config-initial-error/_config.js
Due: prettier --write, eslint --fix

Update documentation only after successful release
  scripts/postpublish.js
  scripts/prepare-release.js
Due: none

4.6.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Actually update documentation branch
  scripts/postpublish.js
  scripts/prepare-release.js
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

Allow to redeclare parameters multiple times in nested scopes (#5276)
  src/ast/scopes/BlockScope.ts
  test/function/samples/ast-validations/redeclare-var-parameter-nested/_config.js
  test/function/samples/ast-validations/redeclare-var-parameter-nested/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Add TNG as special sponsor (#5275)
  README.md
Due: none

4.6.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5278)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_wasm/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

Add logs and experimentalLogSideEffects to REPL (#5281)
  LICENSE.md
  docs/repl/components/OutputStatus.vue
  docs/repl/components/ReplEditor.vue
  docs/repl/components/ReplMain.vue
  docs/repl/helpers/editor.ts
  docs/repl/stores/options.ts
  docs/repl/stores/rollupOutput.ts
Due: none

chore(deps): update dependency vite to v5.0.5 [security] (#5285)
  package-lock.json
Due: none

Add friendly error for missing MSVC redistributable (#5284)
  native.js
Due: none

Add support for linux riscv64 gnu (#5288)
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-riscv64-gnu/README.md
  npm/linux-riscv64-gnu/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5290)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  test/form/samples/supports-core-js/_expected.js
Due: none

4.7.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Find more merge targets for experimentalMinChunkSize (#5294)
  browser/LICENSE.md
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/dynamic-import/_expected/amd/chunks/main.js
  test/chunking-form/samples/dynamic-import/_expected/amd/chunks/other.js
  test/chunking-form/samples/dynamic-import/_expected/cjs/chunks/main.js
  test/chunking-form/samples/dynamic-import/_expected/cjs/chunks/other.js
  test/chunking-form/samples/dynamic-import/_expected/es/chunks/main.js
  test/chunking-form/samples/dynamic-import/_expected/es/chunks/other.js
  test/chunking-form/samples/dynamic-import/_expected/system/chunks/main.js
  test/chunking-form/samples/dynamic-import/_expected/system/chunks/other.js
  test/chunking-form/samples/dynamic-import/main.js
  test/chunking-form/samples/dynamic-import/other.js
  test/chunking-form/samples/improved-dynamic-chunks/chained-dynamic-with-shared/_expected/amd/generated-dynamic1.js
  test/chunking-form/samples/improved-dynamic-chunks/chained-dynamic-with-shared/_expected/amd/generated-dynamic2.js
  test/chunking-form/samples/improved-dynamic-chunks/chained-dynamic-with-shared/_expected/cjs/generated-dynamic1.js
  test/chunking-form/samples/improved-dynamic-chunks/chained-dynamic-with-shared/_expected/cjs/generated-dynamic2.js
  test/chunking-form/samples/improved-dynamic-chunks/chained-dynamic-with-shared/_expected/es/generated-dynamic1.js
  test/chunking-form/samples/improved-dynamic-chunks/chained-dynamic-with-shared/_expected/es/generated-dynamic2.js
  test/chunking-form/samples/improved-dynamic-chunks/chained-dynamic-with-shared/_expected/system/generated-dynamic1.js
  test/chunking-form/samples/improved-dynamic-chunks/chained-dynamic-with-shared/_expected/system/generated-dynamic2.js
  test/chunking-form/samples/min-chunk-size/merge-dynamic-imports/_config.js
  test/chunking-form/samples/min-chunk-size/merge-dynamic-imports/_expected/amd/generated-small2.js
  test/chunking-form/samples/min-chunk-size/merge-dynamic-imports/_expected/amd/main.js
  test/chunking-form/samples/min-chunk-size/merge-dynamic-imports/_expected/cjs/generated-small2.js
  test/chunking-form/samples/min-chunk-size/merge-dynamic-imports/_expected/cjs/main.js
  test/chunking-form/samples/min-chunk-size/merge-dynamic-imports/_expected/es/generated-small2.js
  test/chunking-form/samples/min-chunk-size/merge-dynamic-imports/_expected/es/main.js
  test/chunking-form/samples/min-chunk-size/merge-dynamic-imports/_expected/system/generated-small2.js
  test/chunking-form/samples/min-chunk-size/merge-dynamic-imports/_expected/system/main.js
  test/chunking-form/samples/min-chunk-size/merge-with-entry-side-effect/_config.js
  test/chunking-form/samples/min-chunk-size/merge-with-entry-side-effect/_expected/amd/main.js
  test/chunking-form/samples/min-chunk-size/merge-with-entry-side-effect/_expected/cjs/main.js
  test/chunking-form/samples/min-chunk-size/merge-with-entry-side-effect/_expected/es/main.js
  test/chunking-form/samples/min-chunk-size/merge-with-entry-side-effect/_expected/system/main.js
  test/chunking-form/samples/min-chunk-size/merge-with-entry-side-effect/dynamic-1.js
  test/chunking-form/samples/min-chunk-size/merge-with-entry-side-effect/dynamic-2.js
  test/chunking-form/samples/min-chunk-size/merge-with-entry-side-effect/main.js
  test/chunking-form/samples/min-chunk-size/merge-with-entry-side-effect/shared-1.js
  test/chunking-form/samples/min-chunk-size/merge-with-entry-side-effect/shared-2.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.8.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Do not assume setTimeout return type (#5296)
  src/watch/watch.ts
Due: prettier --write, tslint --project . --fix

4.9.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5300)
  browser/src/performance.ts
  docs/configuration-options/index.md
  docs/repl/components/OutputStatus.vue
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
  scripts/prepare-release.js
  src/Bundle.ts
  src/Chunk.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/MetaProperty.ts
  src/ast/nodes/shared/Node.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/finalisers/es.ts
  src/finalisers/system.ts
  src/finalisers/umd.ts
  src/utils/generateCodeSnippets.ts
  src/utils/interopHelpers.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/options/options.ts
  src/utils/parseImportAttributes.ts
  src/utils/renderHelpers.ts
  test/form/index.js
  test/function/index.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix: use a new includedLabels in the body of the LabeledStatement (#5297)
  .eslintrc.js
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/LabeledStatement.ts
  src/ast/nodes/SwitchStatement.ts
  test/form/samples/break-control-flow/break-statement-labels/_expected.js
  test/form/samples/break-control-flow/break-statement-labels/main.js
Due: prettier --write, tslint --project . --fix

4.9.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none
