Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

fix(deps): update rust crate swc_compiler_base to v18 (#5926)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

fix(deps): lock file maintenance minor/patch updates (#5936)
  .github/workflows/build-and-tests.yml
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

fix(assetFileNames): reduce max hash size to 21 (#5921)
  src/utils/FileEmitter.ts
  src/utils/hashPlaceholders.ts
  test/chunking-form/samples/hashing/hash-size/_config.js
  test/chunking-form/samples/hashing/hash-size/_expected/amd/test-C4X7hChnUe0FjTUb3j4Hh.txt
  test/chunking-form/samples/hashing/hash-size/_expected/cjs/test-C4X7hChnUe0FjTUb3j4Hh.txt
  test/chunking-form/samples/hashing/hash-size/_expected/es/test-C4X7hChnUe0FjTUb3j4Hh.txt
  test/chunking-form/samples/hashing/hash-size/_expected/system/test-C4X7hChnUe0FjTUb3j4Hh.txt
Due: prettier --write, tslint --project . --fix, eslint --fix

chore: add new `./package.json` entry (#5931)
  package.json
Due: none

Avoid chunks TLA dynamic import circular when TLA dynamic import used in non-entry modules (#5930)
  src/utils/chunkAssignment.ts
  test/chunking-form/samples/top-level-await-import-2/_config.js
  test/chunking-form/samples/top-level-await-import-2/_expected/es/generated-foo-prefix.js
  test/chunking-form/samples/top-level-await-import-2/_expected/es/generated-foo.js
  test/chunking-form/samples/top-level-await-import-2/_expected/es/main.js
  test/chunking-form/samples/top-level-await-import-2/_expected/system/generated-foo-prefix.js
  test/chunking-form/samples/top-level-await-import-2/_expected/system/generated-foo.js
  test/chunking-form/samples/top-level-await-import-2/_expected/system/main.js
  test/chunking-form/samples/top-level-await-import-2/foo-prefix.js
  test/chunking-form/samples/top-level-await-import-2/foo.js
  test/chunking-form/samples/top-level-await-import-2/lib.js
  test/chunking-form/samples/top-level-await-import-2/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix: generate the separate chunk for the entry module with explicated chunk filename or name (#5923)
  src/Chunk.ts
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_config.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/amd/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/amd/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/amd/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/cjs/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/cjs/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/cjs/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/es/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/es/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/es/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/system/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/system/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/_expected/system/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/lib1.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/lib2.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-file-name/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_config.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/amd/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/amd/otherEntry.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/cjs/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/cjs/otherEntry.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/es/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/es/otherEntry.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/system/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/_expected/system/otherEntry.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/main.js
  test/chunking-form/samples/allow-extension-exports-with-explicat-name-In-input-options/otherEntry.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.40.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

consider TLA imports have higher execution priority (#5937)
  src/ast/ExecutionContext.ts
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/shared/BitFlags.ts
  src/utils/executionOrder.ts
  test/form/samples/cycles-dependency-with-TLA-await-import/_config.js
  test/form/samples/cycles-dependency-with-TLA-await-import/_expected.js
  test/form/samples/cycles-dependency-with-TLA-await-import/lib.js
  test/form/samples/cycles-dependency-with-TLA-await-import/main.js
  test/form/samples/no-treeshake/_expected.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore(deps): update dependency vite to v6.3.4 [security] (#5940)
  package-lock.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#5942)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

fix(deps): lock file maintenance minor/patch updates (#5943)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): update dependency eslint-plugin-unicorn to v59 (#5941)
  package-lock.json
  package.json
Due: none

fix(exports): avoid "exports is not defined" `ReferenceError` (#5934)
  src/finalisers/amd.ts
  src/finalisers/iife.ts
  src/finalisers/umd.ts
  test/form/samples/deconflict-format-specific-globals/_expected/amd.js
  test/form/samples/deconflict-format-specific-globals/_expected/iife.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/export-default-binding/_config.js
  test/form/samples/export-default-binding/_expected/amd.js
  test/form/samples/export-default-binding/_expected/cjs.js
  test/form/samples/export-default-binding/_expected/es.js
  test/form/samples/export-default-binding/_expected/iife.js
  test/form/samples/export-default-binding/_expected/system.js
  test/form/samples/export-default-binding/_expected/umd.js
  test/form/samples/export-default-binding/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix: watch mode input should not be an output subpath (#5939)
  src/watch/watch-proxy.ts
  test/cli/samples/watch/watch-output-contain-input/_config.js
  test/cli/samples/watch/watch-output-contain-input/main.js
  test/cli/samples/watch/watch-output-contain-input/rollup.config.mjs
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.40.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5953)
  package-lock.json
  package.json
  rust/Cargo.lock
Due: none

chore(deps): update dependency pretty-bytes to v7 (#5951)
  package-lock.json
  package.json
Due: none

fix(deps): update swc monorepo (major) (#5952)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): update dependency lint-staged to v16 (#5957)
  package-lock.json
  package.json
  renovate.json
  rust/Cargo.lock
  rust/bindings_wasm/Cargo.toml
Due: none

fix(deps): lock file maintenance minor/patch updates (#5959)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

enhance tree-shaking for dynamic imports (#5954)
  src/ast/nodes/ImportExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/utils/identifyNode.ts
  src/ast/variables/LocalVariable.ts
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/main.js
Due: prettier --write, tslint --project . --fix

fix(deps): update rust crate swc_compiler_base to v20 (#5958)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
  rust/parse_ast/src/lib.rs
  scripts/check-release.js
Due: none

ci: use node 24 (#5949)
  .github/workflows/build-and-tests.yml
  .github/workflows/performance-report.yml
  .github/workflows/repl-artefacts.yml
  cli/run/loadConfigFile.ts
  package.json
Due: none

4.41.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#5964)
  .github/workflows/build-and-tests.yml
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/xxhash/Cargo.toml
Due: none

fix(deps): update swc monorepo (major) (#5963)
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Avoid recursively calling a plugin's resolveId hook with same id and importer (#5945)
  docs/plugin-development/index.md
  src/utils/resolveIdViaPlugins.ts
  test/function/samples/resolveid-recursive-call/_config.js
  test/function/samples/resolveid-recursive-call/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.41.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): resolve conflicts
  docs/plugin-development/index.md
Due: none

chore(deps): lock file maintenance minor/patch updates (#5970)
  package-lock.json
  package.json
  rust/Cargo.lock
Due: none

chore(deps): lock file maintenance (#5971)
  package-lock.json
Due: none

chore(deps): update dependency yargs-parser to v22 (#5969)
  renovate.json
Due: none

fix(deps): lock file maintenance minor/patch updates (#5981)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

fix: consider function expression in thenable when tree-shaking dynamic imports (#5977)
  src/ast/utils/identifyNode.ts
  src/ast/variables/LocalVariable.ts
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/main.js
Due: prettier --write, tslint --project . --fix

fix: preserve constant identifiers in unary expressions instead of magic numbers (#5968)
  src/ast/nodes/UnaryExpression.ts
  test/form/samples/unary-expressions-preserve-constants/_config.js
  test/form/samples/unary-expressions-preserve-constants/_expected.js
  test/form/samples/unary-expressions-preserve-constants/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update README.md (#5976)
  README.md
Due: none

Debug/fix watch pipeline (#5982)
  test/cli/index.js
  test/cli/samples/watch/watch-event-hooks-error/_config.js
  test/types.d.ts
Due: prettier --write, eslint --fix

4.41.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

feat: watch mode add `allowInputInsideOutputPath` option (#5966)
  cli/help.md
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  src/rollup/types.d.ts
  src/watch/watch-proxy.ts
  test/cli/samples/watch/watch-output-contain-input-allowInputInsideOutputPath/_config.js
  test/cli/samples/watch/watch-output-contain-input-allowInputInsideOutputPath/output/main.js
  test/cli/samples/watch/watch-output-contain-input-allowInputInsideOutputPath/output/out.js
  test/cli/samples/watch/watch-output-contain-input-allowInputInsideOutputPath/rollup.config.mjs
Due: prettier --write, tslint --project . --fix, eslint --fix

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
