Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

chore(deps): update actions/download-artifact action to v4 (#5309)
  .github/workflows/build-and-tests.yml
Due: none

Add JSDoc types to internal scripts (#5305)
  package-lock.json
  package.json
  scripts/declarations.d.ts
  scripts/find-config.js
  scripts/helpers.js
  scripts/perf-init.js
  scripts/perf.js
  scripts/postpublish.js
  scripts/prepare-release.js
  scripts/publish-wasm-node-package.js
  scripts/release-helpers.js
  scripts/test-options.js
  scripts/tsconfig.json
  typings/declarations.d.ts
  typings/fsevents.d.ts
Due: prettier --write, tslint --project . --fix

docs(cn): resolve conflicts
  .vscode/settings.json
  README.md
  docs/plugin-development/index.md
  docs/repl/components/OutputStatus.vue
  scripts/test-options.js
Due: none

Remove rollup-plugin-thatworks from devDeps (#5312)
  package-lock.json
  package.json
  test/cli/samples/config-mjs-plugins/nested/plugin.mjs
  test/cli/samples/config-mjs-plugins/rollup.config.mjs
Due: none

chode: add node badge (#5311)
  README.md
Due: none

chore(deps): update dependency eslint-plugin-unicorn to v50 (#5318)
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5319)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
  rust/xxhash/Cargo.toml
  test/form/samples/supports-core-js/_expected.js
Due: none

Do not handle declarations in modules without side effects as TDZ (#5322)
  src/ast/nodes/Identifier.ts
  test/form/samples/tree-shake-nested-call-no-module-side-effects/_config.js
  test/form/samples/tree-shake-nested-call-no-module-side-effects/_expected.js
  test/form/samples/tree-shake-nested-call-no-module-side-effects/alpha.js
  test/form/samples/tree-shake-nested-call-no-module-side-effects/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.9.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Update README.md
  README.md
Due: none

fix: Add estree.Program type to rollup.d.ts (#5323)
  browser/package.json
  package-lock.json
  package.json
  scripts/perf.js
  src/Graph.ts
  src/Module.ts
  src/rollup/types.d.ts
  src/utils/convert-ast.ts
Due: prettier --write, tslint --project . --fix

docs: fix grammar (#5326)
  docs/configuration-options/index.md
Due: none

docs(cn): fix typo
  docs/configuration-options/index.md
Due: none

chore(deps): update dependency @vue/eslint-config-prettier to v9 (#5329)
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5330)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

4.9.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore: 解决冲突
  docs/configuration-options/index.md
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

Correctly handling number key (#5328)
  src/utils/identifierHelpers.ts
  test/form/samples/index-key/_config.js
  test/form/samples/index-key/_expected/amd.js
  test/form/samples/index-key/_expected/cjs.js
  test/form/samples/index-key/_expected/es.js
  test/form/samples/index-key/_expected/iife.js
  test/form/samples/index-key/_expected/system.js
  test/form/samples/index-key/_expected/umd.js
  test/form/samples/index-key/main.js
  test/form/samples/index-key/x.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Handle pure annotations that are separated by a comment (#5332)
  rust/parse_ast/src/convert_ast/annotations.rs
  rust/parse_ast/src/convert_ast/converter/utf16_positions.rs
  test/form/samples/pure-comment-not-first/_config.js
  test/form/samples/pure-comment-not-first/_expected.js
  test/form/samples/pure-comment-not-first/main.js
Due: prettier --write, eslint --fix

4.9.4
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix typo in commondir.ts (#5334)
  src/utils/commondir.ts
Due: prettier --write, tslint --project . --fix

build: static link msvc runtime on Windows x64 platform (#5335)
  .github/workflows/build-and-tests.yml
Due: none

chore(deps): lock file maintenance minor/patch updates (#5338)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_wasm/Cargo.toml
  rust/parse_ast/Cargo.toml
  rust/xxhash/Cargo.toml
Due: none

4.9.5
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Generate AST transformers from config (#5337)
  .github/workflows/build-and-tests.yml
  package-lock.json
  package.json
  rust/parse_ast/src/convert_ast/converter.rs
  rust/parse_ast/src/convert_ast/converter/ast_constants.rs
  rust/parse_ast/src/convert_ast/converter/node_types.rs
  rust/parse_ast/src/error_emit.rs
  scripts/ast-types.js
  scripts/generate-ast-converters.js
  scripts/generate-buffer-to-ast.js
  scripts/generate-rust-constants.js
  scripts/helpers.js
  src/ast/nodes/shared/Node.ts
  src/utils/buffer-to-ast.ts
  src/utils/convert-ast.ts
  src/utils/logs.ts
  src/utils/parseAst.ts
  test/form/samples/hoisted-vars-in-dead-branches/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/function/samples/plugin-parse-ast-remove-sourcemapping/main.js
Due: prettier --write, tslint --project . --fix

Also type-check d.ts files (#5340)
  docs/tsconfig.json
  package-lock.json
  package.json
  scripts/tsconfig.json
  test/typescript/tsconfig.json
  tsconfig.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5348)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_wasm/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): update dependency vite to v5.0.12 [security] (#5351)
  package-lock.json
Due: none

Track mutations of elements pushed into arrays (#5352)
  rollup.config.ts
  src/ast/nodes/shared/ArrayPrototype.ts
  src/ast/nodes/shared/MethodTypes.ts
  test/function/samples/deoptimize-pushed-array-element/_config.js
  test/function/samples/deoptimize-pushed-array-element/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.9.6
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update actions/cache action to v4 (#5359)
  .github/workflows/build-and-tests.yml
  .github/workflows/repl-artefacts.yml
Due: none

chore(deps): update dependency pretty-ms to v9 (#5360)
  package-lock.json
  package.json
Due: none

docs(cn): fix typo in configuration-options
  docs/configuration-options/index.md
Due: none

chore(deps): update peter-evans/create-or-update-comment action to v4 (#5367)
  .github/workflows/repl-artefacts.yml
Due: none
