Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Add linux arm musl build (#5471)
  .github/workflows/build-and-tests.yml
  native.js
  npm/linux-arm-musleabihf/README.md
  npm/linux-arm-musleabihf/package.json
  package-lock.json
  package.json
  rust/Cargo.toml
Due: none

4.14.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5475)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

Try to run emulated smoke tests for Linux environments (#5477)
  .github/workflows/build-and-tests.yml
Due: none

Add ImportAttributesKey to choose keyword ("with" | "assert") (#5474)
  cli/help.md
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  docs/repl/stores/options.ts
  src/finalisers/es.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_config.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/system.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-assert/main.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_config.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/system.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-default/main.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_config.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/amd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/cjs.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/es.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/iife.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/system.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/_expected/umd.js
  test/form/samples/import-attributes/keeps-static-attributes-key-with/main.js
  test/function/samples/output-options-hook/_config.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.15.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

4.16.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: conditional/logical expression should request a new tree-shaking (#5481)
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/LogicalExpression.ts
  test/form/samples/request-tree-shaking-before-render/_config.js
  test/form/samples/request-tree-shaking-before-render/_expected.js
  test/form/samples/request-tree-shaking-before-render/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.16.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Add libc field to armv7 packages (#5479)
  npm/linux-arm-gnueabihf/package.json
  npm/linux-arm-musleabihf/package.json
Due: none

fix: function parameter reassigned update (#5482)
  src/ast/variables/ParameterVariable.ts
  test/function/samples/reassigned-parameter/main.js
Due: prettier --write, tslint --project . --fix

4.16.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: only optimize annoymous iife (#5486)
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/FunctionExpression.ts
  src/ast/nodes/shared/FunctionBase.ts
  test/form/samples/tree-shake-literal-parameter/iife/_expected.js
  test/form/samples/tree-shake-literal-parameter/iife/main.js
  test/function/samples/acorn-walk/_config.js
  test/function/samples/acorn-walk/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.16.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

4.16.4
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Create FUNDING.json (#5489)
  FUNDING.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5492)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): lock file maintenance minor/patch updates (#5493)
  package-lock.json
  package.json
Due: none

Use opt-level=z for browser wasm (#5494)
  package-lock.json
  package.json
  wasm/bindings_wasm.d.ts
  wasm/bindings_wasm_bg.wasm.d.ts
Due: none

Report performance in CI (#5488)
  .github/workflows/performance-report.yml
  package.json
  scripts/perf-report/index.js
  scripts/perf-report/report-collector.js
  scripts/perf-report/rollup-artefacts.js
Due: none

Explicitly specify both Mac targets as runners switched arch
  .github/workflows/build-and-tests.yml
Due: none

4.17.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): fix typo
  docs/configuration-options/index.md
Due: none

fix: parameter variable infinite recursion error (#5500)
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  test/function/samples/recursive-parameter-assignments/main.js
  test/function/samples/recursive-parameter-binding/_config.js
  test/function/samples/recursive-parameter-binding/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.17.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): tweak words
  docs/configuration-options/index.md
Due: none

docs(cn): resolve conflicts
  README.md
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/javascript-api/index.md
  docs/plugin-development/index.md
Due: none

Update javascript-api/index.md
  docs/javascript-api/index.md
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

Slightly improve perf report (#5501)
  .github/workflows/performance-report.yml
  package.json
  scripts/perf-report/index.js
  scripts/perf-report/report-collector.js
  src/utils/timers.ts
Due: prettier --write, tslint --project . --fix

fix: rest element should deoptimize parameter values (#5503)
  src/ast/nodes/shared/FunctionBase.ts
  test/function/samples/rest-element-argument/_config.js
  test/function/samples/rest-element-argument/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.17.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Auto generate node index (#5504)
  scripts/generate-ast-converters.js
  scripts/generate-node-index.js
  scripts/generate-node-types.js
  src/ast/nodes/NodeType.ts
  src/ast/nodes/index.ts
Due: prettier --write, tslint --project . --fix

chore(deps): lock file maintenance minor/patch updates (#5507)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): lock file maintenance minor/patch updates (#5514)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/bindings_wasm/Cargo.toml
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): update dependency builtin-modules to v4 (#5512)
  package-lock.json
  package.json
  src/finalisers/shared/warnOnBuiltins.ts
Due: prettier --write, tslint --project . --fix
