Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Update changelog
  CHANGELOG.md
Due: none

2.45.0
  package-lock.json
  package.json
Due: none

Do not fail when returning null or undefined from an async options hook (#4039)
  src/rollup/rollup.ts
  test/function/samples/aync-options/_config.js
  test/function/samples/aync-options/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.45.1
  package-lock.json
  package.json
Due: none

Prioritize manual chunk name over dynamic entry id (#4040)
  src/Chunk.ts
  test/chunking-form/samples/single-file-manual-chunk/_config.js
  test/chunking-form/samples/single-file-manual-chunk/_expected/amd/generated-first.js
  test/chunking-form/samples/single-file-manual-chunk/_expected/amd/generated-second.js
  test/chunking-form/samples/single-file-manual-chunk/_expected/amd/main.js
  test/chunking-form/samples/single-file-manual-chunk/_expected/cjs/generated-first.js
  test/chunking-form/samples/single-file-manual-chunk/_expected/cjs/generated-second.js
  test/chunking-form/samples/single-file-manual-chunk/_expected/cjs/main.js
  test/chunking-form/samples/single-file-manual-chunk/_expected/es/generated-first.js
  test/chunking-form/samples/single-file-manual-chunk/_expected/es/generated-second.js
  test/chunking-form/samples/single-file-manual-chunk/_expected/es/main.js
  test/chunking-form/samples/single-file-manual-chunk/_expected/system/generated-first.js
  test/chunking-form/samples/single-file-manual-chunk/_expected/system/generated-second.js
  test/chunking-form/samples/single-file-manual-chunk/_expected/system/main.js
  test/chunking-form/samples/single-file-manual-chunk/a.js
  test/chunking-form/samples/single-file-manual-chunk/b.js
  test/chunking-form/samples/single-file-manual-chunk/c.js
  test/chunking-form/samples/single-file-manual-chunk/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.45.2
  package-lock.json
  package.json
Due: none

Use Github actions only (#4042)
  .circleci/config.yml
  .github/workflows/node-windows.yml
  .github/workflows/pr-comment.yml
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
  scripts/post-comment.js
Due: none

Fix REPL artefact branch reference (#4045)
  .github/workflows/repl-artefacts.yml
Due: none

Use codecov action for coverage (#4046)
  .github/workflows/tests.yml
  package-lock.json
  package.json
Due: none

Add to `UNUSED_EXTERNAL_IMPORT` warning information about the origin of the problem (#4054)
  src/ExternalModule.ts
  test/function/samples/unused-import/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Add sanitizeFileName option (#4058)
  cli/help.md
  docs/01-command-line-reference.md
  docs/02-javascript-api.md
  docs/999-big-list-of-options.md
  src/Bundle.ts
  src/Chunk.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/PluginContext.ts
  src/utils/PluginDriver.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/relativeId.ts
  src/utils/renderNamePattern.ts
  test/chunking-form/samples/custom-sanitizer/_config.js
  test/chunking-form/samples/custom-sanitizer/_expected/amd/_sset.txt
  test/chunking-form/samples/custom-sanitizer/_expected/amd/m_in.js
  test/chunking-form/samples/custom-sanitizer/_expected/cjs/_sset.txt
  test/chunking-form/samples/custom-sanitizer/_expected/cjs/m_in.js
  test/chunking-form/samples/custom-sanitizer/_expected/es/_sset.txt
  test/chunking-form/samples/custom-sanitizer/_expected/es/m_in.js
  test/chunking-form/samples/custom-sanitizer/_expected/system/_sset.txt
  test/chunking-form/samples/custom-sanitizer/_expected/system/m_in.js
  test/chunking-form/samples/custom-sanitizer/main.js
  test/function/samples/deprecated/emit-asset/invalid-asset-name/_config.js
  test/function/samples/emit-file/invalid-asset-name/_config.js
  test/function/samples/emit-file/invalid-asset-name2/_config.js
  test/function/samples/emit-file/invalid-asset-name2/main.js
  test/function/samples/emit-file/invalid-asset-name3/_config.js
  test/function/samples/emit-file/non-invalid-asset-name/_config.js
  test/function/samples/emit-file/non-invalid-asset-name/main.js
  test/function/samples/invalid-pattern/_config.js
  test/function/samples/invalid-pattern/main.js
  test/function/samples/pattern-encodings/_config.js
  test/function/samples/pattern-encodings/main.js
  test/hooks/index.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.46.0
  package-lock.json
  package.json
Due: none

2.47.0
  package-lock.json
  package.json
Due: none

chore: remove unused dependencies (#4072)
  package-lock.json
  package.json
Due: none

Update dependencies (#4073)
  .husky/.gitignore
  LICENSE.md
  package-lock.json
  package.json
  src/utils/options/normalizeInputOptions.ts
  test/cli/node_modules/bar/lib/config.js
  test/cli/node_modules/rollup-config-foo/lib/config.js
  test/cli/node_modules_rename_me/bar/lib/config.js
  test/cli/node_modules_rename_me/rollup-config-foo/lib/config.js
  test/cli/samples/config-cwd-case-insensitive/rollup.config.js
  test/cli/samples/config-env-multiple/rollup.config.js
  test/cli/samples/config-env/rollup.config.js
  test/cli/samples/config-es6/rollup.config.js
  test/cli/samples/config-function-modify-command/rollup.config.js
  test/cli/samples/config-function/rollup.config.js
  test/cli/samples/config-json/rollup.config.js
  test/cli/samples/config-mjs-plugins/rollup.config.mjs
  test/cli/samples/config-mjs/rollup.config.mjs
  test/cli/samples/config-override/rollup.config.js
  test/cli/samples/config-promise-cjs/rollup.config.cjs
  test/cli/samples/config-promise-mjs/rollup.config.mjs
  test/cli/samples/config-true/rollup.config.js
  test/cli/samples/config/rollup.config.js
  test/cli/samples/merge-deprecations/rollup.config.js
  test/cli/samples/symlinked-config/rollup.config.symlinked
  test/cli/samples/symlinked-named-config/rollup.config.symlinked
  test/cli/samples/wait-for-bundle-input-object/rollup.config.js
  test/cli/samples/wait-for-bundle-input/rollup.config.js
  test/cli/samples/warn-unknown-options/rollup.config.js
  test/form/samples/supports-core-js/_expected.js
  test/function/samples/options-hook/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore: add node.js v16 support (#4071)
  .github/workflows/tests.yml
Due: none

ignore invalid trailing pure annotations (#4068)
  src/Graph.ts
  src/utils/pureComments.ts
  test/form/samples/pure-comment-line-break/_expected.js
  test/form/samples/pure-comment-line-break/main.js
  test/form/samples/pure-comments-disabled/_expected.js
  test/form/samples/pure-comments-disabled/main.js
Due: prettier --write, tslint --project . --fix

🐛 fix: undefined `deoptimizePath` when the first element is empty string (#4070)
  src/ast/variables/NamespaceVariable.ts
  test/function/samples/deoptimize-missing-namespace-members/_config.js
  test/function/samples/deoptimize-missing-namespace-members/main.js
  test/function/samples/deoptimize-missing-namespace-members/other.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix comment regarding invalid annotation handling (#4081)
  src/utils/pureComments.ts
Due: prettier --write, tslint --project . --fix

Added Rollup logo in README.md (#4080)
  README.md
  package-lock.json
Due: none

Add assetExtname replacement in entryFileNames (#4077)
  docs/999-big-list-of-options.md
  src/Chunk.ts
  test/chunking-form/samples/preserve-modules-filename-pattern/_config.js
  test/chunking-form/samples/preserve-modules-filename-pattern/_expected/amd/entry-lorem-amd-str.str.str.js
  test/chunking-form/samples/preserve-modules-filename-pattern/_expected/amd/entry-main-amd-ts.ts.js
  test/chunking-form/samples/preserve-modules-filename-pattern/_expected/cjs/entry-lorem-cjs-str.str.str.js
  test/chunking-form/samples/preserve-modules-filename-pattern/_expected/cjs/entry-main-cjs-ts.ts.js
  test/chunking-form/samples/preserve-modules-filename-pattern/_expected/es/entry-lorem-es-str.str.str.js
  test/chunking-form/samples/preserve-modules-filename-pattern/_expected/es/entry-main-es-ts.ts.js
  test/chunking-form/samples/preserve-modules-filename-pattern/_expected/system/entry-lorem-system-str.str.str.js
  test/chunking-form/samples/preserve-modules-filename-pattern/_expected/system/entry-main-system-ts.ts.js
  test/chunking-form/samples/preserve-modules-filename-pattern/src/lorem.str
  test/chunking-form/samples/preserve-modules-filename-pattern/src/main.ts
Due: prettier --write, tslint --project . --fix, eslint --fix

2.48.0
  package-lock.json
  package.json
Due: none

2.49.0
  package-lock.json
  package.json
Due: none

Drop unused last sequence element (#4087)
  src/ast/nodes/SequenceExpression.ts
  test/form/samples/pure-comment-line-break/_expected.js
  test/form/samples/treeshake-sequence-expressions/_config.js
  test/form/samples/treeshake-sequence-expressions/_expected.js
  test/form/samples/treeshake-sequence-expressions/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Prevent crash for recursive "this" deoptimization (#4091)
  src/ast/variables/ThisVariable.ts
  test/form/samples/recursive-this-deoptimization/_config.js
  test/form/samples/recursive-this-deoptimization/_expected.js
  test/form/samples/recursive-this-deoptimization/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.50.0
  package-lock.json
  package.json
Due: none

Correctly associate pure annotations and remove invalid ones (#4095)
  src/Graph.ts
  src/Module.ts
  src/ast/keys.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/shared/Node.ts
  src/rollup/types.d.ts
  src/utils/pureComments.ts
  src/utils/sourceMappingURL.ts
  src/utils/treeshakeNode.ts
  test/form/samples/nested-pure-comments/_config.js
  test/form/samples/nested-pure-comments/_expected.js
  test/form/samples/nested-pure-comments/main.js
  test/form/samples/pure-comment-line-break/_expected.js
  test/form/samples/pure-comment-line-break/main.js
  test/form/samples/pure-comment-scenarios-complex/_expected.js
  test/form/samples/pure-comment-scenarios-simple/_expected.js
  test/form/samples/pure-comments-disabled/_expected.js
  test/form/samples/remove-invalid-pure-comments/_config.js
  test/form/samples/remove-invalid-pure-comments/_expected.js
  test/form/samples/remove-invalid-pure-comments/main.js
  test/form/samples/remove-tree-shaken-pure-comments/_config.js
  test/form/samples/remove-tree-shaken-pure-comments/_expected.js
  test/form/samples/remove-tree-shaken-pure-comments/main.js
  test/function/samples/uses-supplied-ast/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Wrap leading function expression iifes in conditionals (#4099)
  src/ast/nodes/BinaryExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/LogicalExpression.ts
  test/function/samples/simplify-with-function-iife/_config.js
  test/function/samples/simplify-with-function-iife/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.50.1
  package-lock.json
  package.json
Due: none
