Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Add git push to post-publish
  package.json
Due: none

Allow to safely probe external namespaces (#3999)
  src/ast/nodes/MemberExpression.ts
  test/form/samples/deconflict-reserved-words/_config.js
  test/form/samples/deconflict-reserved-words/_expected.js
  test/form/samples/deconflict-reserved-words/main.js
  test/form/samples/early-bind-member-expressions/_expected.js
  test/form/samples/external-imports/_expected/amd.js
  test/form/samples/external-imports/_expected/cjs.js
  test/form/samples/external-imports/_expected/es.js
  test/form/samples/external-imports/_expected/iife.js
  test/form/samples/external-imports/_expected/system.js
  test/form/samples/external-imports/_expected/umd.js
  test/form/samples/import-external-namespace-and-default/_expected/amd.js
  test/form/samples/import-external-namespace-and-default/_expected/cjs.js
  test/form/samples/import-external-namespace-and-default/_expected/es.js
  test/form/samples/import-external-namespace-and-default/_expected/iife.js
  test/form/samples/import-external-namespace-and-default/_expected/system.js
  test/form/samples/import-external-namespace-and-default/_expected/umd.js
  test/form/samples/import-namespace/_expected/es.js
  test/form/samples/import-namespace/_expected/iife.js
  test/form/samples/import-namespace/_expected/system.js
  test/form/samples/import-namespace/_expected/umd.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/amd.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/cjs.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/es.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/iife.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/system.js
  test/form/samples/namespace-tostring/external-namespaces/_expected/umd.js
  test/form/samples/no-treeshake/_expected.js
  test/form/samples/probe-external-namespace/_config.js
  test/form/samples/probe-external-namespace/_expected/amd.js
  test/form/samples/probe-external-namespace/_expected/cjs.js
  test/form/samples/probe-external-namespace/_expected/es.js
  test/form/samples/probe-external-namespace/_expected/iife.js
  test/form/samples/probe-external-namespace/_expected/system.js
  test/form/samples/probe-external-namespace/_expected/umd.js
  test/form/samples/probe-external-namespace/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.41.4
  package-lock.json
  package.json
Due: none

Do not count accessing members of an external namespace as side-effects. (#4001)
  src/ast/variables/ExternalVariable.ts
  test/form/samples/treeshake-namespace-access/_config.js
  test/form/samples/treeshake-namespace-access/_expected/amd.js
  test/form/samples/treeshake-namespace-access/_expected/cjs.js
  test/form/samples/treeshake-namespace-access/_expected/es.js
  test/form/samples/treeshake-namespace-access/_expected/iife.js
  test/form/samples/treeshake-namespace-access/_expected/system.js
  test/form/samples/treeshake-namespace-access/_expected/umd.js
  test/form/samples/treeshake-namespace-access/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.41.5
  package-lock.json
  package.json
Due: none

Break infinite loops in this.resolve (#4000)
  browser/resolveId.ts
  docs/05-plugin-development.md
  src/ModuleLoader.ts
  src/utils/PluginContext.ts
  src/utils/PluginDriver.ts
  src/utils/resolveId.ts
  src/utils/resolveIdViaPlugins.ts
  test/function/samples/prevent-context-resolve-loop/_config.js
  test/function/samples/prevent-context-resolve-loop/dep.js
  test/function/samples/prevent-context-resolve-loop/main.js
  test/function/samples/prevent-context-resolve-loop/other1.js
  test/function/samples/prevent-context-resolve-loop/other2.js
  test/function/samples/prevent-context-resolve-loop/other3.js
  test/function/samples/prevent-context-resolve-loop/other4.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.42.0
  package-lock.json
  package.json
Due: none

Fixed unhandled promise rejections #3876 (#4004)
  src/utils/timers.ts
Due: prettier --write, tslint --project . --fix

2.42.1
  package-lock.json
  package.json
Due: none

Use correct import.meta.url in config files (#4005)
  cli/run/loadConfigFile.ts
  test/cli/samples/config-import-meta/_config.js
  test/cli/samples/config-import-meta/_expected.js
  test/cli/samples/config-import-meta/main.js
  test/cli/samples/config-import-meta/plugin/plugin.js
  test/cli/samples/config-import-meta/plugin/test.txt
  test/cli/samples/config-import-meta/rollup.config.js
Due: prettier --write, eslint --fix

2.42.2
  package-lock.json
  package.json
Due: none

Tree-shake pure call expressions with optional chaining (#4007)
  src/utils/pureComments.ts
  test/cli/samples/watch/watch-config-initial-error/_config.js
  test/form/samples/tree-shake-pure-optional-chaining/_config.js
  test/form/samples/tree-shake-pure-optional-chaining/_expected.js
  test/form/samples/tree-shake-pure-optional-chaining/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.42.3
  package-lock.json
  package.json
Due: none

Return hook result inside promise with async timer end (#4010)
  src/utils/timers.ts
Due: prettier --write, tslint --project . --fix

2.42.4
  package-lock.json
  package.json
Due: none

fix `sourcemap` reference in docs (#4012)
  docs/08-troubleshooting.md
Due: none

Use SIGTERM instead of SIGINT to kill test child processes (#4015)
  test/cli/index.js
Due: prettier --write, eslint --fix

Disable pessimistic object deoptimization for calls when the called function doesn't ref this (#4011)
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/ThisExpression.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/Node.ts
  src/ast/values.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/Variable.ts
  test/form/samples/getter-return-values/_expected.js
  test/form/samples/object-expression/method-side-effects/_expected.js
  test/form/samples/object-expression/method-side-effects/main.js
  test/form/samples/object-expression/return-expressions/_expected.js
  test/form/samples/object-literal-property-overwrites/_expected.js
  test/form/samples/property-setters-and-getters/early-access-getter-return/_expected.js
  test/form/samples/recursive-calls/_expected.js
  test/form/samples/side-effects-object-literal-calls/_expected.js
Due: prettier --write, tslint --project . --fix

2.43.0
  package-lock.json
  package.json
Due: none

Make test more resilient
  test/cli/samples/watch/watch-config-initial-error/_config.js
Due: prettier --write, eslint --fix

Add explanation for "iife" (#4020)
  docs/999-big-list-of-options.md
Due: none

Handle recursive this mutation detection (#4025)
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/Node.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/Variable.ts
  test/form/samples/recursive-property-call/_config.js
  test/form/samples/recursive-property-call/_expected.js
  test/form/samples/recursive-property-call/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.43.1
  package-lock.json
  package.json
Due: none

chore: fix vscode launch config (change tdd to bdd) (#4026)
  .vscode/launch.json
Due: none

Post comment for PRs from forks (#4027)
  .github/workflows/pr-comment.yml
Due: none

Deoptimize ObjectExpression when a __proto__ property is present (#4019)
  src/ast/nodes/ObjectExpression.ts
  test/form/samples/object-expression/proto-property/_config.js
  test/form/samples/object-expression/proto-property/_expected.js
  test/form/samples/object-expression/proto-property/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Expose rendered module code to generateBundle hook (#4028)
  docs/02-javascript-api.md
  docs/05-plugin-development.md
  src/Chunk.ts
  src/rollup/types.d.ts
  test/misc/bundle-information.js
Due: prettier --write, tslint --project . --fix

Improve absolute path handling (#4021)
  docs/05-plugin-development.md
  docs/999-big-list-of-options.md
  src/Chunk.ts
  src/ExternalModule.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  test/form/samples/make-absolute-externals-relative/make-relative-false/_config.js
  test/form/samples/make-absolute-externals-relative/make-relative-false/_expected.js
  test/form/samples/make-absolute-externals-relative/make-relative-false/main.js
  test/form/samples/make-absolute-externals-relative/make-relative-false/nested/nested.js
  test/form/samples/make-absolute-externals-relative/make-relative-relative/_config.js
  test/form/samples/make-absolute-externals-relative/make-relative-relative/_expected.js
  test/form/samples/make-absolute-externals-relative/make-relative-relative/main.js
  test/form/samples/make-absolute-externals-relative/make-relative-relative/nested/nested.js
  test/form/samples/make-absolute-externals-relative/make-relative-relative/relativeExisting.js
  test/form/samples/make-absolute-externals-relative/make-relative-true/_config.js
  test/form/samples/make-absolute-externals-relative/make-relative-true/_expected.js
  test/form/samples/make-absolute-externals-relative/make-relative-true/main.js
  test/form/samples/make-absolute-externals-relative/make-relative-true/nested/nested.js
  test/form/samples/make-absolute-externals-relative/make-relative-true/relativeExisting.js
  test/form/samples/quote-id/_expected/amd.js
  test/form/samples/quote-id/_expected/cjs.js
  test/form/samples/quote-id/_expected/es.js
  test/form/samples/quote-id/_expected/system.js
  test/form/samples/quote-id/_expected/umd.js
  test/function/samples/options-hook/_config.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.44.0
  package-lock.json
  package.json
Due: none

feat: add support for private class methods (#4034)
  LICENSE.md
  package-lock.json
  package.json
  src/utils/options/normalizeInputOptions.ts
  test/form/samples/class-fields/_expected.js
  test/form/samples/class-fields/main.js
  test/function/samples/options-hook/_config.js
  typings/declarations.d.ts
Due: prettier --write, tslint --project . --fix, eslint --fix
