Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

fix: remove unnecessary property descriptor spread (#4403)
  src/ExternalModule.ts
  src/Module.ts
Due: prettier --write, tslint --project . --fix

Fix a typo in 'Direct plugin communication' code example (#4406)
  docs/05-plugin-development.md
Due: none

Document how resolveId is cached (#4407)
  docs/05-plugin-development.md
  docs/build-hooks.mmd
Due: none

Update changelog
  CHANGELOG.md
Due: none

2.67.3
  package-lock.json
  package.json
Due: none

refactor: use map for declarations and name suggestions (#4410)
  src/ExternalModule.ts
  src/Module.ts
Due: prettier --write, tslint --project . --fix

refactor: use includes where appropriate (#4412)
  browser/path.ts
  cli/run/index.ts
  docs/05-plugin-development.md
  src/Chunk.ts
  src/finalisers/iife.ts
  src/utils/getExportMode.ts
  src/utils/options/mergeOptions.ts
  src/utils/path.ts
  src/watch/watch.ts
  test/browser/index.js
  test/chunking-form/index.js
  test/cli/samples/external-modules-auto-global/_config.js
  test/cli/samples/external-modules/_config.js
  test/form/index.js
  test/function/samples/function-directive-not-first/_config.js
  test/function/samples/member-expression-assignment-in-function/_config.js
  test/function/samples/preload-cyclic-module/_config.js
  test/function/samples/relative-external-include-once-two-external/_config.js
  test/function/samples/transparent-dynamic-inlining/_config.js
  test/misc/iife.js
  test/misc/umd.js
  test/sourcemaps/samples/existing-external-sourcemaps-combined/_config.js
  test/sourcemaps/samples/existing-inline-sourcemaps-combined/_config.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Add Typescript 4.5 nodenext node12 module resolution support (#4416)
  package.json
Due: none

refactor: use map for namespace reexports by name (#4411)
  src/Module.ts
  test/function/samples/recursive-reexports/_config.js
  test/function/samples/recursive-reexports/main.js
  test/function/samples/recursive-reexports/other.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Add resolved sources to shouldTransformCachedModule (#4414)
  docs/05-plugin-development.md
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  test/function/samples/plugin-error-should-transform/_config.js
  test/function/samples/plugin-error-should-transform/main.js
  test/incremental/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.68.0
  package-lock.json
  package.json
Due: none

refactor: some code and type fixes (#4413)
  cli/run/batchWarnings.ts
  cli/run/index.ts
  cli/run/timings.ts
  src/Bundle.ts
  src/Chunk.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/MetaProperty.ts
  src/ast/values.ts
  src/rollup/rollup.ts
  src/utils/FileEmitter.ts
  src/utils/PluginContext.ts
  src/utils/PluginDriver.ts
  src/utils/hookActions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/relativeId.ts
  src/utils/renderNamePattern.ts
  src/watch/watch.ts
Due: prettier --write, tslint --project . --fix

chore: bump deps (#4418)
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
Due: none

Properly handle upper directories as external dependencies (#4419)
  build-plugins/esm-dynamic-import.ts
  src/Chunk.ts
  src/ExternalModule.ts
  src/utils/path.ts
  src/utils/relativeId.ts
  test/cli/samples/custom-frame/_config.js
  test/cli/samples/watch/no-config-file/_config.js
  test/cli/samples/watch/node-config-file/_config.js
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/cli/samples/watch/watch-config-error/_config.js
  test/cli/samples/watch/watch-config-no-update/_config.js
  test/function/samples/external-directory-import/_config.js
  test/function/samples/external-directory-import/main.js
  test/misc/misc.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Improve the error prompt and output the error file name (#4421)
  src/Chunk.ts
  test/function/samples/invalid-top-level-await/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update 999-big-list-of-options.md (#4423)
  docs/999-big-list-of-options.md
Due: none

2.69.0
  package-lock.json
  package.json
Due: none

fix(sourcemap): fall back to low-resolution line mapping (#4334)
  src/utils/collapseSourcemaps.ts
  src/utils/getOriginalLocation.ts
  test/function/samples/warning-low-resolution-location/_config.js
  test/function/samples/warning-low-resolution-location/main.js
  test/sourcemaps/samples/transform-low-resolution/_config.js
  test/sourcemaps/samples/transform-low-resolution/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.69.1
  package-lock.json
  package.json
Due: none

feat: add object-known-globals (#4429)
  src/ast/nodes/shared/knownGlobals.ts
Due: prettier --write, tslint --project . --fix

Treat unknown prototype props as unknown (#4428)
  src/ast/nodes/shared/ObjectPrototype.ts
  test/cli/samples/watch/watch-config-initial-error/_config.js
  test/form/samples/avoid-unnecessary-conditional-deopt/_expected.js
  test/form/samples/avoid-unnecessary-conditional-deopt/main.js
  test/form/samples/class-method-access/_expected.js
  test/form/samples/class-method-access/main.js
  test/form/samples/minimal-this-mutation/_expected.js
  test/form/samples/minimal-this-mutation/main.js
  test/form/samples/object-expression/nested-literal-assignment-without-access-side-effect/_config.js
  test/form/samples/object-expression/nested-literal-assignment-without-access-side-effect/_expected.js
  test/form/samples/object-expression/nested-literal-assignment-without-access-side-effect/main.js
  test/form/samples/object-expression/nested-literal-value-without-access-side-effect/_config.js
  test/form/samples/object-expression/nested-literal-value-without-access-side-effect/_expected.js
  test/form/samples/object-expression/nested-literal-value-without-access-side-effect/main.js
  test/form/samples/optional-chaining/main.js
  test/form/samples/side-effects-class-getters-setters/_expected.js
  test/form/samples/super-classes/super-class-prototype-values/_expected.js
  test/form/samples/super-classes/super-class-prototype-values/main.js
  test/form/samples/undefined-properties/_config.js
  test/form/samples/undefined-properties/_expected.js
  test/form/samples/undefined-properties/main.js
  test/function/samples/retain-unknown-prototype-access/_config.js
  test/function/samples/retain-unknown-prototype-access/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.69.2
  package-lock.json
  package.json
Due: none

Do not abort watch mode on errors in watchChange (#4427)
  cli/run/watch-cli.ts
  docs/05-plugin-development.md
  docs/build-hooks.mmd
  package.json
  scripts/update-git-commit.js
  src/Graph.ts
  src/rollup/types.d.ts
  src/utils/PluginDriver.ts
  src/watch/WatchEmitter.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.70.0
  package-lock.json
  package.json
Due: none

Adjust hook order in graph
  docs/build-hooks.mmd
Due: none

Track unfinished hook actions as regular errors (#4434)
  browser/hookActions.ts
  src/rollup/rollup.ts
  src/utils/PluginDriver.ts
  src/utils/hookActions.ts
  test/cli/samples/unfulfilled-hook-actions-error/_config.js
  test/cli/samples/unfulfilled-hook-actions-error/build.mjs
  test/cli/samples/unfulfilled-hook-actions-manual-exit/_config.js
  test/cli/samples/unfulfilled-hook-actions-manual-exit/_expected.js
  test/cli/samples/unfulfilled-hook-actions-manual-exit/a.js
  test/cli/samples/unfulfilled-hook-actions-manual-exit/b.js
  test/cli/samples/unfulfilled-hook-actions-manual-exit/c.js
  test/cli/samples/unfulfilled-hook-actions-manual-exit/index.js
  test/cli/samples/unfulfilled-hook-actions-manual-exit/rollup.config.js
  test/cli/samples/unfulfilled-hook-actions/_config.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update package.json (#4436)
  package.json
Due: none

2.70.1
  package-lock.json
  package.json
Due: none

use void for options hook instead of undefined (#4463)
  package-lock.json
  package.json
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  test/form/samples/supports-core-js/_expected.js
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.70.2
  package-lock.json
  package.json
Due: none

Fix: tsc did not build (#4471)
  cli/run/loadConfigFile.ts
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
