Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

2.38.2
  package-lock.json
  package.json
Due: none

Upgrade chokidar and fsevents for Apple M1 compatibility (#3945)
  package-lock.json
  package.json
Due: none

Make sure default exports snapshot synthetic named exports (#3946)
  src/Module.ts
  src/ast/variables/ExportDefaultVariable.ts
  src/ast/variables/SyntheticNamedExportVariable.ts
  test/chunking-form/samples/synthetic-named-exports/chained-default-reexport/lib-reexport.js
  test/chunking-form/samples/synthetic-named-exports/chained-default-reexport/lib-reexport2.js
  test/function/samples/synthetic-named-exports/circular-synthetic-exports/_config.js
  test/function/samples/synthetic-named-exports/circular-synthetic-exports/dep.js
  test/function/samples/synthetic-named-exports/circular-synthetic-exports2/_config.js
  test/function/samples/synthetic-named-exports/circular-synthetic-exports2/dep1.js
  test/function/samples/synthetic-named-exports/circular-synthetic-exports2/dep2.js
  test/function/samples/synthetic-named-exports/circular-synthetic-exports2/main.js
  test/function/samples/synthetic-named-exports/synthetic-named-export-as-default/_config.js
  test/function/samples/synthetic-named-exports/synthetic-named-export-as-default/dep.js
  test/function/samples/synthetic-named-exports/synthetic-named-export-as-default/main.js
  test/function/samples/synthetic-named-exports/synthetic-named-export-as-default/synthetic.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.38.3
  package-lock.json
  package.json
Due: none

Do not tear apart declarations in loop or if bodies (#3947)
  CHANGELOG.md
  build-plugins/conditional-fsevents-import.js
  src/ast/nodes/DoWhileStatement.ts
  src/ast/nodes/ForInStatement.ts
  src/ast/nodes/ForOfStatement.ts
  src/ast/nodes/ForStatement.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/VariableDeclarator.ts
  src/ast/nodes/WhileStatement.ts
  src/ast/nodes/shared/Node.ts
  test/function/samples/unused-do-while-loop-declaration/_config.js
  test/function/samples/unused-do-while-loop-declaration/main.js
  test/function/samples/unused-for-in-loop-declaration/_config.js
  test/function/samples/unused-for-in-loop-declaration/main.js
  test/function/samples/unused-for-loop-body-declaration/_config.js
  test/function/samples/unused-for-loop-body-declaration/main.js
  test/function/samples/unused-for-loop-init-declaration/_config.js
  test/function/samples/unused-for-loop-init-declaration/main.js
  test/function/samples/unused-for-of-loop-declaration/_config.js
  test/function/samples/unused-for-of-loop-declaration/main.js
  test/function/samples/unused-if-statement-declaration/_config.js
  test/function/samples/unused-if-statement-declaration/main.js
  test/function/samples/unused-while-loop-declaration/_config.js
  test/function/samples/unused-while-loop-declaration/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.38.4
  package-lock.json
  package.json
Due: none

2.38.5
  package-lock.json
  package.json
Due: none

Make sure uninitialised exports turn up via .hasOwnProperty for non-ES formats (#3957)
  src/ast/nodes/VariableDeclaration.ts
  src/ast/nodes/VariableDeclarator.ts
  src/utils/reassignedExportsMember.ts
  test/form/samples/assignment-to-exports/_expected/amd.js
  test/form/samples/assignment-to-exports/_expected/cjs.js
  test/form/samples/assignment-to-exports/_expected/es.js
  test/form/samples/assignment-to-exports/_expected/iife.js
  test/form/samples/assignment-to-exports/_expected/system.js
  test/form/samples/assignment-to-exports/_expected/umd.js
  test/form/samples/assignment-to-exports/main.js
  test/form/samples/render-named-export-declarations/_expected/amd.js
  test/form/samples/render-named-export-declarations/_expected/cjs.js
  test/form/samples/render-named-export-declarations/_expected/iife.js
  test/form/samples/render-named-export-declarations/_expected/umd.js
  test/function/samples/create-undefined-export-property-compact/_config.js
  test/function/samples/create-undefined-export-property-compact/main.js
  test/function/samples/create-undefined-export-property/_config.js
  test/function/samples/create-undefined-export-property/main.js
  test/function/samples/destructuring-loop/_config.js
  test/function/samples/destructuring-loop/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

implement `validate` output option and `--validate` CLI option (#3952)
  cli/help.md
  docs/01-command-line-reference.md
  docs/02-javascript-api.md
  docs/999-big-list-of-options.md
  src/Bundle.ts
  src/rollup/types.d.ts
  src/utils/error.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/chunking-form/index.js
  test/cli/samples/validate/_config.js
  test/cli/samples/validate/main.js
  test/form/index.js
  test/function/samples/output-options-hook/_config.js
  test/function/samples/validate-output/_config.js
  test/function/samples/validate-output/main.js
  test/misc/misc.js
  test/misc/optionList.js
  test/test.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Allow overriding individual exports of reexported external namespaces (#3959)
  src/finalisers/shared/getExportBlock.ts
  test/chunking-form/samples/chunking-star-external/_expected/amd/main1.js
  test/chunking-form/samples/chunking-star-external/_expected/amd/main2.js
  test/chunking-form/samples/chunking-star-external/_expected/cjs/main1.js
  test/chunking-form/samples/chunking-star-external/_expected/cjs/main2.js
  test/form/samples/export-all-before-named/_expected/amd.js
  test/form/samples/export-all-before-named/_expected/cjs.js
  test/form/samples/export-all-before-named/_expected/iife.js
  test/form/samples/export-all-before-named/_expected/umd.js
  test/form/samples/export-all-multiple/_expected/amd.js
  test/form/samples/export-all-multiple/_expected/cjs.js
  test/form/samples/export-all-multiple/_expected/iife.js
  test/form/samples/export-all-multiple/_expected/umd.js
  test/form/samples/no-external-live-bindings-compact/_expected/amd.js
  test/form/samples/no-external-live-bindings-compact/_expected/cjs.js
  test/form/samples/no-external-live-bindings-compact/_expected/iife.js
  test/form/samples/no-external-live-bindings-compact/_expected/umd.js
  test/form/samples/no-external-live-bindings/_expected/amd.js
  test/form/samples/no-external-live-bindings/_expected/cjs.js
  test/form/samples/no-external-live-bindings/_expected/iife.js
  test/form/samples/no-external-live-bindings/_expected/umd.js
  test/form/samples/override-external-namespace/_config.js
  test/form/samples/override-external-namespace/_expected/amd.js
  test/form/samples/override-external-namespace/_expected/cjs.js
  test/form/samples/override-external-namespace/_expected/es.js
  test/form/samples/override-external-namespace/_expected/iife.js
  test/form/samples/override-external-namespace/_expected/system.js
  test/form/samples/override-external-namespace/_expected/umd.js
  test/form/samples/override-external-namespace/main.js
  test/form/samples/reexport-external-default-and-namespace/_expected/iife.js
  test/form/samples/reexport-external-namespace/_expected/amd.js
  test/form/samples/reexport-external-namespace/_expected/cjs.js
  test/form/samples/reexport-external-namespace/_expected/umd.js
  test/function/samples/no-external-live-bindings-compact/_config.js
  test/function/samples/no-external-live-bindings/_config.js
  test/function/samples/override-external-namespace/_config.js
  test/function/samples/override-external-namespace/main.js
  test/function/samples/override-static-external-namespace/_config.js
  test/function/samples/override-static-external-namespace/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Make sure system exports are valid JavaScript (#3960)
  cli/run/batchWarnings.ts
  docs/999-big-list-of-options.md
  src/Bundle.ts
  src/ast/nodes/AssignmentExpression.ts
  src/ast/nodes/UpdateExpression.ts
  src/utils/pureComments.ts
  test/cli/samples/validate/_config.js
  test/cli/samples/warn-multiple/_config.js
  test/form/index.js
  test/form/samples/system-export-compact/_expected.js
  test/form/samples/system-export-compact/main.js
  test/form/samples/system-export-destructuring-assignment/_expected.js
  test/form/samples/system-multiple-export-bindings/_expected.js
  test/form/samples/system-multiple-export-bindings/main.js
  test/function/samples/validate-output/_config.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.39.0
  package-lock.json
  package.json
Due: none

Avoid conflicts with local variables named Symbol, Object, Promise (#3971)
  src/Chunk.ts
  test/form/samples/supports-core-js/_expected.js
  test/function/samples/name-conflict-object/_config.js
  test/function/samples/name-conflict-object/main.js
  test/function/samples/name-conflict-promise/_config.js
  test/function/samples/name-conflict-promise/dep.js
  test/function/samples/name-conflict-promise/main.js
  test/function/samples/name-conflict-symbol/_config.js
  test/function/samples/name-conflict-symbol/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Remove extra word (#3964)
  docs/999-big-list-of-options.md
Due: none

2.39.1
  package-lock.json
  package.json
Due: none

Add soft breaks to guide to improve mobile experience (#3976)
  docs/01-command-line-reference.md
  docs/05-plugin-development.md
  docs/08-troubleshooting.md
  docs/999-big-list-of-options.md
Due: none

Don't allow `:` in file names. (#3972)
  src/utils/sanitizeFileName.ts
  test/chunking-form/samples/sanitize-chunk-names/_config.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/_virtual-entry-1.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/_virtual-entry-2.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/_virtual_entry-1.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/amd/_virtual_entry-2.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/_virtual-entry-1.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/_virtual-entry-2.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/_virtual_entry-1.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/cjs/_virtual_entry-2.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/_virtual-entry-1.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/_virtual-entry-2.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/_virtual_entry-1.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/es/_virtual_entry-2.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/system/_virtual_entry-1.js
  test/chunking-form/samples/sanitize-chunk-names/_expected/system/_virtual_entry-2.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.40.0
  package-lock.json
  package.json
Due: none

Revert soft-breaks in favour of better maintainability
  docs/01-command-line-reference.md
  docs/05-plugin-development.md
  docs/999-big-list-of-options.md
Due: none

Move pure comment annotation to Graph.contextParse (#3981)
  src/Graph.ts
  src/Module.ts
  src/ast/keys.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/shared/Node.ts
  src/utils/PluginContext.ts
  src/utils/pureComments.ts
  src/utils/treeshakeNode.ts
  test/function/samples/call-marked-pure-with-plugin-parse-ast/_config.js
  test/function/samples/call-marked-pure-with-plugin-parse-ast/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

implement --treeshake.propertyReadSideEffects=always (#3985)
  docs/999-big-list-of-options.md
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/Property.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  test/cli/samples/propertyReadSideEffects-always/_config.js
  test/cli/samples/propertyReadSideEffects-always/_expected.js
  test/cli/samples/propertyReadSideEffects-always/main.js
  test/function/samples/propertyReadSideEffects-always/_config.js
  test/function/samples/propertyReadSideEffects-always/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.41.0
  package-lock.json
  package.json
Due: none

Add browser sourcemap and remove log (#3990)
  package.json
  src/Module.ts
Due: prettier --write, tslint --project . --fix

2.41.1
  package-lock.json
  package.json
Due: none

Change removal of sourcemap comment (#3987)
  src/Module.ts
  src/utils/sourceMappingURL.ts
  test/function/samples/plugin-parse-ast-receives-comments/_config.js
  test/function/samples/plugin-parse-ast-receives-comments/main.js
  test/function/samples/plugin-parse-ast-remove-sourcemapping/_config.js
  test/function/samples/plugin-parse-ast-remove-sourcemapping/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.41.2
  package-lock.json
  package.json
Due: none

Do not create invalid code if a function argument is an empty object pattern (#3998)
  src/ast/scopes/ParameterScope.ts
  test/function/samples/unused-parameter-side-effects/_config.js
  test/function/samples/unused-parameter-side-effects/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.41.3
  package-lock.json
  package.json
Due: none
