Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

3.28.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix CI npm versions
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
Due: none

chore(deps): lock file maintenance minor/patch updates (#5094)
  cli/run/watch-cli.ts
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

chore(deps): update dependency eslint-config-prettier to v9 (#5093)
  package-lock.json
  package.json
Due: none

docs(cn): resolve conflicts
  docs/javascript-api/index.md
Due: none

docs(cn): fix punctuation
  docs/tutorial/index.md
Due: none

Fix resolution of relative external files outside target directory (#5099)
  src/utils/relativeId.ts
  test/chunking-form/samples/relative-external-outside-output/_config.js
  test/chunking-form/samples/relative-external-outside-output/_expected/amd/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/amd/nested/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/cjs/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/cjs/nested/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/es/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/es/nested/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/system/main.js
  test/chunking-form/samples/relative-external-outside-output/_expected/system/nested/main.js
  test/chunking-form/samples/relative-external-outside-output/main.js
  test/chunking-form/samples/relative-external-outside-output/nested/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

chore(deps): update dependency lint-staged to v14 (#5101)
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5102)
  docs/package.json
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

Comment out codecov token for now
  .github/workflows/tests.yml
Due: none

3.28.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5108)
  .gitignore
  package-lock.json
  package.json
Due: none

Docs: load full path of rollup.browser.js for Rollup V4 (#5109)
  docs/repl/stores/rollup.ts
Due: none

feat(types): add generic type for plugin api (#5112)
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

chore(deps): lock file maintenance minor/patch updates (#5115)
  package-lock.json
  package.json
  renovate.json
Due: none

Deoptimize custom event detail (#5123)
  src/ast/nodes/shared/knownGlobals.ts
  test/form/samples/custom-event-detail/_config.js
  test/form/samples/custom-event-detail/_expected.js
  test/form/samples/custom-event-detail/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.29.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update actions/checkout action to v4 (#5125)
  .github/workflows/clean-cache.yml
  .github/workflows/repl-artefacts.yml
  .github/workflows/tests.yml
Due: none

chore(deps): lock file maintenance minor/patch updates (#5126)
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

re-enbale repl-artefacts workflow for rollup-swc branch (#5129)
  .github/workflows/repl-artefacts.yml
Due: none

fix(perf): avoid superfluous timer wrappings in watch mode (#5114)
  src/utils/timers.ts
Due: prettier --write, tslint --project . --fix

fix: access document.currentScript at the top level (#5118)
  src/Chunk.ts
  src/ast/nodes/MetaProperty.ts
  src/utils/interopHelpers.ts
  src/utils/renderHelpers.ts
  test/chunking-form/samples/import-meta-numeric-paths/_expected/cjs/0/1/nested.js
  test/chunking-form/samples/import-meta-url/_expected/cjs/main.js
  test/chunking-form/samples/import-meta-url/_expected/cjs/nested/chunk.js
  test/form/samples/deconflict-format-specific-globals/_expected/cjs.js
  test/form/samples/deconflict-format-specific-globals/_expected/iife.js
  test/form/samples/deconflict-format-specific-globals/_expected/umd.js
  test/form/samples/import-meta-url/_expected/cjs.js
  test/form/samples/import-meta-url/_expected/iife.js
  test/form/samples/import-meta-url/_expected/umd.js
  test/form/samples/import-meta/_expected/cjs.js
  test/form/samples/import-meta/_expected/iife.js
  test/form/samples/import-meta/_expected/umd.js
  test/form/samples/resolve-import-meta-url/_expected/cjs.js
  test/form/samples/resolve-import-meta-url/_expected/iife.js
  test/form/samples/resolve-import-meta-url/_expected/umd.js
  test/function/samples/import-meta-url-b/_config.js
  test/function/samples/import-meta-url-b/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Ignore wasm files when linting
  .eslintrc.js
Due: none

3.29.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs: steps to enable symlinks on windows (#5134)
  CONTRIBUTING.md
Due: none

fix: exports `TreeshakingPreset` (#5131)
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

chore(deps): lock file maintenance minor/patch updates (#5137)
  package-lock.json
  package.json
Due: none

3.29.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Adapt branches in REPL workflow
  .github/workflows/repl-artefacts.yml
Due: none

docs: improve the docs repl appearance in the light mode (#5145)
  docs/repl/components/ReplModule.vue
  docs/repl/helpers/editor.ts
Due: none

chore(deps): lock file maintenance minor/patch updates (#5149)
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @vue/eslint-config-typescript to v12 (#5148)
  package-lock.json
  package.json
Due: none

Fully deoptimize first level path when deoptimizing nested parameter paths (#5153)
  src/ast/variables/ParameterVariable.ts
  test/function/samples/track-mutated-in-callback/_config.js
  test/function/samples/track-mutated-in-callback/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.29.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): resolve conflicts
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

Deoptimize all parameters when losing track of a function (#5158)
  src/ast/nodes/shared/FunctionBase.ts
  test/function/samples/mutate-via-parameter/_config.js
  test/function/samples/mutate-via-parameter/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.29.4
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5160)
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
