Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Update changelog
  CHANGELOG.md
Due: none

2.18.0
  package-lock.json
  package.json
Due: none

Strip rollup-plugin prefix to find named plugin exports, throw when export cannot be found (#3647)
  cli/run/commandPlugins.ts
  docs/01-command-line-reference.md
  package-lock.json
  package.json
  rollup.config.js
  test/cli/samples/plugin/export-not-found/_config.js
  test/cli/samples/plugin/export-not-found/_expected.js
  test/cli/samples/plugin/export-not-found/my-missing-plugin.js
  test/cli/samples/plugin/named-export/_config.js
  test/cli/samples/plugin/named-export/_expected/cjs.js
  test/cli/samples/plugin/named-export/_expected/es.js
  test/cli/samples/plugin/named-export/main.js
  test/cli/samples/plugin/named-export/rollup.config.js
  test/cli/samples/plugin/relative-camelized/_config.js
  test/cli/samples/plugin/relative-camelized/_expected.js
  test/cli/samples/plugin/relative-camelized/plugins/@rollup/plugin-supreme.js
  test/cli/samples/plugin/relative-camelized/plugins/my-super-plugin1.js
  test/cli/samples/plugin/relative-camelized/plugins/rollup-plugin-
  test/cli/samples/plugin/relative-camelized/plugins/rollup-plugin-my-super-plugin2.js
Due: prettier --write, eslint --fix

2.18.1
  package-lock.json
  package.json
Due: none

Do not tree-shake arguments that contain a spread element (#3654)
  src/ast/scopes/ParameterScope.ts
  test/function/samples/spread-arguments-unused/_config.js
  test/function/samples/spread-arguments-unused/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.18.2
  package-lock.json
  package.json
Due: none

feat: make options hook async (#3660)
  docs/05-plugin-development.md
  src/rollup/rollup.ts
  test/function/samples/options-async-hook/_config.js
  test/function/samples/options-async-hook/file.txt
  test/function/samples/options-async-hook/unused.js
  test/function/samples/options-async-hook/used.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.19.0
  package-lock.json
  package.json
Due: none

Add ability to use a function that returns a pattern string in all places where you could use a pattern string before (#3658)
  docs/05-plugin-development.md
  docs/999-big-list-of-options.md
  src/Bundle.ts
  src/Chunk.ts
  src/rollup/types.d.ts
  src/utils/FileEmitter.ts
  src/utils/PluginDriver.ts
  src/utils/renderNamePattern.ts
  test/chunking-form/samples/emit-file/filenames-function-patterns/_config.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/amd/chunk-deb-c542d45b-amd.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/amd/entry-main-ed305cc7-amd.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/amd/txt/7468331f-test.txt
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/cjs/chunk-deb-19c947c3-cjs.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/cjs/entry-main-9f49db65-cjs.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/cjs/txt/7468331f-test.txt
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/es/chunk-deb-607fe03f-es.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/es/entry-main-137667a0-es.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/es/txt/7468331f-test.txt
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/system/chunk-deb-3a28869f-system.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/system/entry-main-e573b571-system.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/_expected/system/txt/7468331f-test.txt
  test/chunking-form/samples/emit-file/filenames-function-patterns/deb.js
  test/chunking-form/samples/emit-file/filenames-function-patterns/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Add referenced files to bundle (#3661)
  docs/02-javascript-api.md
  docs/05-plugin-development.md
  src/Bundle.ts
  src/Chunk.ts
  src/ast/nodes/MetaProperty.ts
  src/rollup/types.d.ts
  test/function/samples/emit-file/emit-from-output-options/buildStart1.js
  test/function/samples/emit-file/emit-from-output-options/buildStart2.js
  test/function/samples/emit-file/file-references-in-bundle/_config.js
  test/function/samples/emit-file/file-references-in-bundle/main.js
  test/function/samples/emit-file/file-references-in-bundle/ref.js
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.20.0
  package-lock.json
  package.json
Due: none

Disable treeshaking per module (#3663)
  docs/05-plugin-development.md
  docs/999-big-list-of-options.md
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/transform.ts
  test/chunking-form/index.js
  test/chunking-form/samples/empty-module-no-treeshake/_config.js
  test/chunking-form/samples/empty-module-no-treeshake/_expected/amd/generated-emptyTransformed.js
  test/chunking-form/samples/empty-module-no-treeshake/_expected/amd/main1.js
  test/chunking-form/samples/empty-module-no-treeshake/_expected/amd/main2.js
  test/chunking-form/samples/empty-module-no-treeshake/_expected/cjs/generated-emptyTransformed.js
  test/chunking-form/samples/empty-module-no-treeshake/_expected/cjs/main1.js
  test/chunking-form/samples/empty-module-no-treeshake/_expected/cjs/main2.js
  test/chunking-form/samples/empty-module-no-treeshake/_expected/es/generated-emptyTransformed.js
  test/chunking-form/samples/empty-module-no-treeshake/_expected/es/main1.js
  test/chunking-form/samples/empty-module-no-treeshake/_expected/es/main2.js
  test/chunking-form/samples/empty-module-no-treeshake/_expected/system/generated-emptyTransformed.js
  test/chunking-form/samples/empty-module-no-treeshake/_expected/system/main1.js
  test/chunking-form/samples/empty-module-no-treeshake/_expected/system/main2.js
  test/chunking-form/samples/empty-module-no-treeshake/main1.js
  test/chunking-form/samples/empty-module-no-treeshake/main2.js
  test/file-hashes/index.js
  test/form/index.js
  test/form/samples/module-no-treeshake/_config.js
  test/form/samples/module-no-treeshake/_expected.js
  test/form/samples/module-no-treeshake/main.js
  test/function/index.js
  test/sourcemaps/index.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.21.0
  package-lock.json
  package.json
Due: none

docs(troubleshooting): add troubleshooting section about handling EMFILE errors on macOS. Fixes #3662 (#3667)
  docs/08-troubleshooting.md
Due: none

Warn when implicitly using default export mode (#3659)
  cli/run/batchWarnings.ts
  docs/999-big-list-of-options.md
  rollup.config.js
  src/Chunk.ts
  src/utils/error.ts
  src/utils/getExportMode.ts
  src/utils/options/normalizeOutputOptions.ts
  test/chunking-form/index.js
  test/cli/samples/config-async-function/rollup.config.js
  test/cli/samples/config-mjs-plugins/rollup.config.mjs
  test/cli/samples/config-multiple-getfilename/rollup.config.js
  test/cli/samples/context/_expected.js
  test/cli/samples/context/main.js
  test/cli/samples/multiple-configs/rollup.config.js
  test/cli/samples/multiple-targets-different-plugins/rollup.config.js
  test/cli/samples/multiple-targets-shared-config/rollup.config.js
  test/cli/samples/multiple-targets/rollup.config.js
  test/cli/samples/warn-import-export/_config.js
  test/cli/samples/warn-mixed-exports-multiple/_config.js
  test/form/index.js
  test/function/index.js
  test/function/samples/deprecated/preserveModules/mixed-exports/_config.js
  test/function/samples/export-type-mismatch-b/_config.js
  test/function/samples/output-options-hook/_config.js
  test/function/samples/preserve-modules/mixed-exports/_config.js
  test/function/samples/warn-implicit-cjs-auto/_config.js
  test/function/samples/warn-implicit-cjs-auto/main.js
  test/function/samples/warn-on-auto-named-default-exports/_config.js
  test/hooks/index.js
  test/misc/acorn-plugins.js
  test/sourcemaps/index.js
  test/utils.js
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.22.0
  package-lock.json
  package.json
Due: none

Allow treeshaking of arguments of functions that are returned by conditional expressions (#3680)
  src/ast/nodes/ConditionalExpression.ts
  test/form/samples/tree-shake-arguments-conditional/_config.js
  test/form/samples/tree-shake-arguments-conditional/_expected.js
  test/form/samples/tree-shake-arguments-conditional/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.22.1
  package-lock.json
  package.json
Due: none

Include all relevant modules to generate reexports for implicit dependencies (#3688)
  package-lock.json
  package.json
  src/Module.ts
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_config.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_expected/amd/generated-button.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_expected/amd/generated-core.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_expected/amd/main.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_expected/cjs/generated-button.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_expected/cjs/generated-core.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_expected/cjs/main.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_expected/es/generated-button.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_expected/es/generated-core.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_expected/es/main.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_expected/system/generated-button.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_expected/system/generated-core.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/_expected/system/main.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/button.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/core.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/main.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/shared/button.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-no-side-effect/shared/core.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-reexport/_config.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-reexport/_expected/amd/generated-implicit.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-reexport/_expected/amd/main.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-reexport/_expected/cjs/generated-implicit.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-reexport/_expected/cjs/main.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-reexport/_expected/es/generated-implicit.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-reexport/_expected/es/main.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-reexport/_expected/system/generated-implicit.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-reexport/_expected/system/main.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-reexport/implicit.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-reexport/main.js
  test/chunking-form/samples/implicit-dependencies/shared-dependency-reexport/shared.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.22.2
  package-lock.json
  package.json
Due: none

2.23.0
  package-lock.json
  package.json
Due: none

Acknowledge that the `input` option is conditionally required (#3696)
  docs/01-command-line-reference.md
  docs/02-javascript-api.md
  docs/999-big-list-of-options.md
Due: none

Properly construct namespace when dynamically importing chunks with facades in default export mode (#3709)
  src/Chunk.ts
  test/function/samples/dynamic-import-default-mode-facade/_config.js
  test/function/samples/dynamic-import-default-mode-facade/bar.js
  test/function/samples/dynamic-import-default-mode-facade/foo.js
  test/function/samples/dynamic-import-default-mode-facade/main.js
  test/function/samples/dynamic-import-default-mode-facade/square.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.23.1
  package-lock.json
  package.json
Due: none

Handle super in static class fields (#3720)
  LICENSE.md
  package-lock.json
  package.json
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/_virtual/_external_commonjs-external
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/commonjs.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/other.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/_virtual/_external_commonjs-external
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/commonjs.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/other.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/_virtual/_external_commonjs-external
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/commonjs.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/other.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/_virtual/_external_commonjs-external
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/commonjs.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/other.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/_virtual/_external_commonjs-external
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/commonjs.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/other.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/_virtual/_external_commonjs-external
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/commonjs.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/other.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/_virtual/_external_commonjs-external
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/commonjs.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/other.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/_virtual/_external_commonjs-external
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/commonjs.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/other.js
  test/form/samples/class-fields/_expected.js
  test/form/samples/class-fields/main.js
Due: none
