Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

Do not track side-effect-free array methods as side effects (#4103)
  src/ast/nodes/shared/ArrayPrototype.ts
  src/ast/nodes/shared/MethodTypes.ts
  test/form/samples/builtin-prototypes/side-effect-free-array-expression/_config.js
  test/form/samples/builtin-prototypes/side-effect-free-array-expression/_expected.js
  test/form/samples/builtin-prototypes/side-effect-free-array-expression/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Fix crash when using inlineDynamicImports with no-treeshake (#4104)
  src/Module.ts
  test/function/samples/inline-dynamic-no-treeshake/_config.js
  test/function/samples/inline-dynamic-no-treeshake/dep.js
  test/function/samples/inline-dynamic-no-treeshake/reexport.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.50.2
  package-lock.json
  package.json
Due: none

Correctly handle catch declarations (#4108)
  src/ast/nodes/CatchClause.ts
  src/ast/scopes/CatchScope.ts
  test/function/samples/catch-block-scope/_config.js
  test/function/samples/catch-block-scope/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Invalid sequence expression simplification (#4110)
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/SequenceExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  test/form/samples/conditional-expression/_expected.js
  test/function/samples/sequence-expressions-template-tag/_config.js
  test/function/samples/sequence-expressions-template-tag/main.js
  test/function/samples/simplify-sequence-expressions/_config.js
  test/function/samples/simplify-sequence-expressions/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.50.3
  package-lock.json
  package.json
Due: none

Always request a new tree-shaking pass when deoptimizations of a node are first included (#4111)
  src/Module.ts
  src/ast/nodes/AssignmentExpression.ts
  src/ast/nodes/AssignmentPattern.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ForInStatement.ts
  src/ast/nodes/ForOfStatement.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/Property.ts
  src/ast/nodes/RestElement.ts
  src/ast/nodes/SpreadElement.ts
  src/ast/nodes/UnaryExpression.ts
  src/ast/nodes/UpdateExpression.ts
  src/ast/nodes/YieldExpression.ts
  test/function/samples/deoptimize-request-treeshaking-pass/_config.js
  test/function/samples/deoptimize-request-treeshaking-pass/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Actually set the prototype when using a __proto__ property (#4112)
  src/ast/nodes/ObjectExpression.ts
  test/form/samples/proto-null/_config.js
  test/form/samples/proto-null/_expected.js
  test/form/samples/proto-null/main.js
  test/function/samples/proto-accessors/_config.js
  test/function/samples/proto-accessors/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Track access side effects when using object spread operator (#4113)
  src/ast/nodes/SpreadElement.ts
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/function/samples/object-spread-side-effect/_config.js
  test/function/samples/object-spread-side-effect/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.50.4
  package-lock.json
  package.json
Due: none

fix: use `colorette` instead of `turbocolor` #3391 (#4114)
  scripts/perf.js
Due: none

Tracks side effects of thenables (#4115)
  src/ast/nodes/AwaitExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/knownGlobals.ts
  test/form/samples/async-function-effects/_config.js
  test/form/samples/async-function-effects/_expected.js
  test/form/samples/async-function-effects/main.js
  test/form/samples/promises/_config.js
  test/form/samples/promises/_expected.js
  test/form/samples/promises/_expected/amd.js
  test/form/samples/promises/_expected/cjs.js
  test/form/samples/promises/_expected/es.js
  test/form/samples/promises/_expected/iife.js
  test/form/samples/promises/_expected/system.js
  test/form/samples/promises/_expected/umd.js
  test/form/samples/side-effects-await/main.js
  test/form/samples/supports-es6-shim/_expected.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.50.5
  package-lock.json
  package.json
Due: none

Respect propertyReadSideEffects in spread elements (#4119)
  src/ast/nodes/SpreadElement.ts
  test/form/samples/ignore-property-access-side-effects/main.js
  test/form/samples/keep-property-access-side-effects/_expected.js
  test/form/samples/keep-property-access-side-effects/main.js
Due: prettier --write, tslint --project . --fix

Detect async arrow thenable side effects (#4120)
  src/ast/nodes/ArrowFunctionExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  test/form/samples/async-function-effects/_config.js
  test/form/samples/async-function-effects/_expected.js
  test/form/samples/async-function-effects/main.js
  test/form/samples/ignore-property-access-side-effects/main.js
  test/form/samples/keep-property-access-side-effects/_expected.js
  test/form/samples/keep-property-access-side-effects/main.js
  test/function/samples/async-function-return/_config.js
  test/function/samples/async-function-return/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.50.6
  package-lock.json
  package.json
Due: none

feat: Export defineConfig defines the auxiliary function of the configuration (#4127)
  docs/01-command-line-reference.md
  src/rollup/rollup.ts
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

perf: User Map to optimize performance (#4122)
  src/utils/collapseSourcemaps.ts
Due: prettier --write, tslint --project . --fix

2.51.0
  package-lock.json
  package.json
Due: none

Fix broken links
  docs/05-plugin-development.md
Due: none

fix: export `rollup.defineConfig` at runtime (#4134)
  package.json
  src/browser-entry.ts
  src/node-entry.ts
  test/cli/samples/config-defineConfig-cjs/_config.js
  test/cli/samples/config-defineConfig-cjs/main.js
  test/cli/samples/config-defineConfig-cjs/rollup.config.js
  test/cli/samples/config-defineConfig-mjs/_config.js
  test/cli/samples/config-defineConfig-mjs/main.js
  test/cli/samples/config-defineConfig-mjs/rollup.config.mjs
Due: prettier --write, tslint --project . --fix, eslint --fix

Add clarifying note to PR template (#4128)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

2.51.1
  package-lock.json
  package.json
Due: none

Includes all dependencies from modules with no-treeshake (#4138)
  src/Module.ts
  src/ModuleLoader.ts
  test/chunking-form/samples/no-treeshake-imports/_config.js
  test/chunking-form/samples/no-treeshake-imports/_expected/amd/generated-empty.js
  test/chunking-form/samples/no-treeshake-imports/_expected/amd/main1.js
  test/chunking-form/samples/no-treeshake-imports/_expected/amd/main2.js
  test/chunking-form/samples/no-treeshake-imports/_expected/cjs/generated-empty.js
  test/chunking-form/samples/no-treeshake-imports/_expected/cjs/main1.js
  test/chunking-form/samples/no-treeshake-imports/_expected/cjs/main2.js
  test/chunking-form/samples/no-treeshake-imports/_expected/es/generated-empty.js
  test/chunking-form/samples/no-treeshake-imports/_expected/es/main1.js
  test/chunking-form/samples/no-treeshake-imports/_expected/es/main2.js
  test/chunking-form/samples/no-treeshake-imports/_expected/system/generated-empty.js
  test/chunking-form/samples/no-treeshake-imports/_expected/system/main1.js
  test/chunking-form/samples/no-treeshake-imports/_expected/system/main2.js
  test/chunking-form/samples/no-treeshake-imports/empty.js
  test/chunking-form/samples/no-treeshake-imports/main1.js
  test/chunking-form/samples/no-treeshake-imports/main2.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.51.2
  package-lock.json
  package.json
Due: none

add typescript config support (#3835)
  cli/run/commandPlugins.ts
  cli/run/getConfigPath.ts
  cli/run/loadConfigFile.ts
  docs/01-command-line-reference.md
  package-lock.json
  package.json
  rollup.config.js
  src/utils/options/mergeOptions.ts
  test/cli/samples/config-ts/_config.js
  test/cli/samples/config-ts/main.js
  test/cli/samples/config-ts/rollup.config.ts
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update dependencies (#4141)
  LICENSE.md
  cli/run/loadConfigFromCommand.ts
  package-lock.json
  package.json
  src/Chunk.ts
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/MetaProperty.ts
  src/ast/nodes/ObjectPattern.ts
  src/ast/nodes/shared/ArrayPrototype.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectPrototype.ts
  src/ast/values.ts
  src/ast/variables/LocalVariable.ts
  src/rollup/rollup.ts
  src/utils/FileEmitter.ts
  src/utils/PluginContext.ts
  src/utils/chunkAssignment.ts
  src/utils/executionOrder.ts
  src/utils/identifierHelpers.ts
  src/utils/options/normalizeInputOptions.ts
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/form/samples/supports-core-js/_expected.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/misc/bundle-information.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Add option to deoptimize var declarations for tree-shaking (#4139)
  docs/999-big-list-of-options.md
  src/ast/nodes/Identifier.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  test/cli/samples/treeshake-preset-override/main.js
  test/form/samples/treeshake-presets/preset-with-override/_config.js
  test/form/samples/treeshake-presets/preset-with-override/main.js
  test/form/samples/treeshake-presets/recommended/_config.js
  test/form/samples/treeshake-presets/recommended/main.js
  test/form/samples/treeshake-presets/safest/_config.js
  test/form/samples/treeshake-presets/safest/_expected.js
  test/form/samples/treeshake-presets/safest/main.js
  test/form/samples/treeshake-presets/smallest/_config.js
  test/form/samples/treeshake-presets/smallest/main.js
  test/form/samples/treeshake-presets/true/_config.js
  test/form/samples/treeshake-presets/true/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.52.0
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
