Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

Fix documentation
  docs/01-command-line-reference.md
Due: none

feat: Call namespace error as a warning (#3475)
  .prettierrc
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  test/function/samples/cannot-call-external-namespace/_config.js
  test/function/samples/cannot-call-external-namespace/main.js
  test/function/samples/cannot-call-internal-namespace/_config.js
  test/function/samples/cannot-call-internal-namespace/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Store locations for removed comments in cache (#3476)
  src/Module.ts
  src/rollup/types.d.ts
  src/utils/transform.ts
  test/misc/misc.js
  test/sourcemaps/samples/existing-external-sourcemaps-combined/_config.js
  test/sourcemaps/samples/existing-external-sourcemaps-combined/main.js
  test/sourcemaps/samples/existing-external-sourcemaps-combined/main.js.map
  test/sourcemaps/samples/existing-external-sourcemaps-combined/other.js
  test/sourcemaps/samples/existing-external-sourcemaps-combined/other.js.map
  test/sourcemaps/samples/existing-inline-sourcemaps-combined/_config.js
  test/sourcemaps/samples/existing-inline-sourcemaps-combined/main.js
  test/sourcemaps/samples/existing-inline-sourcemaps-combined/other.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.3.2
  package-lock.json
  package.json
Due: none

output.{compact,esModule} doc: move `Default` to newline (#3483)
  docs/999-big-list-of-options.md
Due: none

feat: support external star exports on namespace objects (#3474)
  src/Module.ts
  src/ast/variables/NamespaceVariable.ts
  test/form/samples/compact/_expected/amd.js
  test/form/samples/compact/_expected/cjs.js
  test/form/samples/compact/_expected/es.js
  test/form/samples/compact/_expected/iife.js
  test/form/samples/compact/_expected/system.js
  test/form/samples/compact/_expected/umd.js
  test/form/samples/namespace-tostringtag/_expected/amd.js
  test/form/samples/namespace-tostringtag/_expected/cjs.js
  test/form/samples/namespace-tostringtag/_expected/es.js
  test/form/samples/namespace-tostringtag/_expected/iife.js
  test/form/samples/namespace-tostringtag/_expected/system.js
  test/form/samples/namespace-tostringtag/_expected/umd.js
  test/form/samples/ns-external-star-reexport/_config.js
  test/form/samples/ns-external-star-reexport/_expected/amd.js
  test/form/samples/ns-external-star-reexport/_expected/cjs.js
  test/form/samples/ns-external-star-reexport/_expected/es.js
  test/form/samples/ns-external-star-reexport/_expected/iife.js
  test/form/samples/ns-external-star-reexport/_expected/system.js
  test/form/samples/ns-external-star-reexport/_expected/umd.js
  test/form/samples/ns-external-star-reexport/extra.js
  test/form/samples/ns-external-star-reexport/main.js
  test/form/samples/ns-external-star-reexport/reexport-external.js
  test/form/samples/ns-external-star-reexport/reexport-externals-with-override.js
  test/function/samples/internal-reexports-from-external/_config.js
  test/function/samples/internal-reexports-from-external/extra.js
  test/function/samples/internal-reexports-from-external/main.js
  test/function/samples/internal-reexports-from-external/reexport-external.js
  test/function/samples/internal-reexports-from-external/reexport-externals-with-override.js
  test/function/samples/internal-reexports-from-external/reexport.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.3.3
  package-lock.json
  package.json
Due: none

2.3.4
  package-lock.json
  package.json
Due: none

Always use a new inclusion context when including declarations of variables, always inlcude labels when not treeshaking, resolves #3473 (#3492)
  src/Chunk.ts
  src/Module.ts
  src/ast/nodes/BreakStatement.ts
  src/ast/nodes/ContinueStatement.ts
  src/ast/nodes/ExportDefaultDeclaration.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/LabeledStatement.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/NamespaceVariable.ts
  src/ast/variables/SyntheticNamedExportVariable.ts
  src/ast/variables/Variable.ts
  test/form/samples/no-treeshake-include-labels/_config.js
  test/form/samples/no-treeshake-include-labels/_expected.js
  test/form/samples/no-treeshake-include-labels/dep1.js
  test/form/samples/no-treeshake-include-labels/dep2.js
  test/form/samples/no-treeshake-include-labels/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.3.5
  package-lock.json
  package.json
Due: none

Rollup class fields support (#3488)
  LICENSE.md
  cli/run/watch.ts
  package-lock.json
  package.json
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ClassBody.ts
  src/ast/nodes/ExportNamespaceSpecifier.ts
  src/ast/nodes/ExportSpecifier.ts
  src/ast/nodes/FieldDefinition.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/ImportDefaultSpecifier.ts
  src/ast/nodes/ImportNamespaceSpecifier.ts
  src/ast/nodes/ImportSpecifier.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NodeType.ts
  src/ast/nodes/PrivateName.ts
  src/ast/nodes/Super.ts
  src/ast/nodes/TemplateElement.ts
  src/ast/nodes/index.ts
  src/ast/nodes/shared/Node.ts
  src/ast/scopes/ClassBodyScope.ts
  src/rollup/types.d.ts
  test/form/samples/class-fields/_config.js
  test/form/samples/class-fields/_expected.js
  test/form/samples/class-fields/main.js
  test/form/samples/unknown-token-effects/_config.js
  typings/declarations.d.ts
Due: prettier --write, tslint --project . --fix, eslint --fix

2.4.0
  package-lock.json
  package.json
Due: none

feat: allow regex in config.external (#3482)
  docs/999-big-list-of-options.md
  src/Graph.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/parseOptions.ts
  test/function/samples/external-regex-array/_config.js
  test/function/samples/external-regex-array/main.js
  test/function/samples/external-regex/_config.js
  test/function/samples/external-regex/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

2.6.0
  package-lock.json
  package.json
Due: none

Ensure --watch mode exits correctly when stdin is closed. (#3493)
  cli/run/watch.ts
  test/cli/samples/watch/close-stdin/_config.js
  test/cli/samples/watch/close-stdin/_expected/out.js
  test/cli/samples/watch/close-stdin/main.js
  test/cli/samples/watch/close-stdin/wrapper.js
Due: prettier --write, eslint --fix

2.6.1
  package-lock.json
  package.json
Due: none

Use chokidar as test watcher
  test/cli/samples/watch/close-stdin/wrapper.js
  test/cli/samples/watch/watch-config-early-update/_config.js
Due: prettier --write, eslint --fix

2.7.0
  package-lock.json
  package.json
Due: none

Respect output.paths in dynamic imports (#3508)
  src/Chunk.ts
  test/form/samples/paths-function/_expected/amd.js
  test/form/samples/paths-function/_expected/cjs.js
  test/form/samples/paths-function/_expected/es.js
  test/form/samples/paths-function/_expected/iife.js
  test/form/samples/paths-function/_expected/system.js
  test/form/samples/paths-function/_expected/umd.js
  test/form/samples/paths-function/main.js
Due: prettier --write, tslint --project . --fix

Update changelog
  CHANGELOG.md
  LICENSE.md
Due: none

2.7.1
  package-lock.json
  package.json
Due: none

Do not fail for circular imports between manual chunks (#3510)
  src/Chunk.ts
  test/chunking-form/samples/circular-manual-chunks/_config.js
  test/chunking-form/samples/circular-manual-chunks/_expected/amd/generated-lib1.js
  test/chunking-form/samples/circular-manual-chunks/_expected/amd/generated-lib2.js
  test/chunking-form/samples/circular-manual-chunks/_expected/amd/main.js
  test/chunking-form/samples/circular-manual-chunks/_expected/cjs/generated-lib1.js
  test/chunking-form/samples/circular-manual-chunks/_expected/cjs/generated-lib2.js
  test/chunking-form/samples/circular-manual-chunks/_expected/cjs/main.js
  test/chunking-form/samples/circular-manual-chunks/_expected/es/generated-lib1.js
  test/chunking-form/samples/circular-manual-chunks/_expected/es/generated-lib2.js
  test/chunking-form/samples/circular-manual-chunks/_expected/es/main.js
  test/chunking-form/samples/circular-manual-chunks/_expected/system/generated-lib1.js
  test/chunking-form/samples/circular-manual-chunks/_expected/system/generated-lib2.js
  test/chunking-form/samples/circular-manual-chunks/_expected/system/main.js
  test/chunking-form/samples/circular-manual-chunks/lib1.js
  test/chunking-form/samples/circular-manual-chunks/lib2.js
  test/chunking-form/samples/circular-manual-chunks/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Support "super" in class fields (#3511)
  CHANGELOG.md
  cli/run/loadConfigFile.ts
  package-lock.json
  package.json
  rollup.config.js
  test/form/samples/class-fields/_expected.js
  test/form/samples/class-fields/main.js
  test/form/samples/supports-core-js/_expected.js
Due: none

fix: ban emitFile via absolute paths on Windows OS (#3509)
  src/utils/relativeId.ts
  test/function/samples/emit-file/invalid-asset-name3/_config.js
  test/function/samples/emit-file/invalid-asset-name3/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.7.2
  package-lock.json
  package.json
Due: none

use acorn-class-fields and acorn-static-class-features from npm (#3518)
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
