Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

docs(cn): resolve conflicts
  docs/configuration-options/index.md
  docs/plugin-development/index.md
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

chore(deps): lock file maintenance minor/patch updates (#5622)
  audit-resolve.json
  eslint.config.mjs
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

Call and await closeWatcher hooks on exit signals (#5619)
  cli/run/watch-cli.ts
  test/cli/node_modules/rollup-plugin-esm-test/index.mjs
  test/cli/samples/watch/signal-close-watcher/_config.js
  test/cli/samples/watch/signal-close-watcher/_expected/main.js
  test/cli/samples/watch/signal-close-watcher/main.js
  test/cli/samples/watch/signal-close-watcher/rollup.config.mjs
Due: prettier --write, eslint --fix

fix: add space for DOCUMENT_CURRENT_SCRIPT template (#5624)
  package-lock.json
  src/utils/interopHelpers.ts
  test/function/samples/import-meta-url-with-compact/_config.js
  test/function/samples/import-meta-url-with-compact/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix: get the right chunk name for preserve modules in Windows (#5625)
  src/Chunk.ts
  test/cli/samples/get-chunk-name/_config.js
  test/cli/samples/get-chunk-name/main.js
  test/cli/samples/get-chunk-name/rollup.config.mjs
Due: prettier --write, tslint --project . --fix, eslint --fix

4.21.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5630)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

fix: Wrong namespace property definition (#5605)
  src/finalisers/iife.ts
  src/finalisers/shared/setupNamespace.ts
  src/finalisers/umd.ts
  src/utils/logs.ts
  test/misc/iife.js
  test/misc/umd.js
Due: prettier --write, tslint --project . --fix

4.21.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5636)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

fix: keep the message of stack up-to-date (#5640)
  src/utils/logs.ts
  test/cli/samples/config-type-module/_config.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix: include left-side effect of optional chaining in the end of hasEffectsAsChainElement (#5642)
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/MemberExpression.ts
  test/form/samples/optional-chaining-with-smallest-treeshake/_config.js
  test/form/samples/optional-chaining-with-smallest-treeshake/_expected.js
  test/form/samples/optional-chaining-with-smallest-treeshake/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.21.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency concurrently to v9 (#5647)
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5648)
  package-lock.json
  package.json
  renovate.json
  rust/Cargo.lock
  rust/bindings_napi/Cargo.toml
  rust/parse_ast/Cargo.toml
  test/form/samples/supports-core-js/_expected.js
Due: none

chore(deps): update dependency @mermaid-js/mermaid-cli to v11 (#5646)
  package-lock.json
  package.json
Due: none

feat: add `AggregateError`, `FinalizationRegistry`, `WeakRef` to knownGlobals (#5651)
  src/ast/nodes/shared/knownGlobals.ts
Due: prettier --write, tslint --project . --fix

Fix example selection in REPL (#5653)
  docs/repl/components/InputHeader.vue
  package-lock.json
  package.json
Due: none

chore(deps): update dependency vite to v5.4.6 [security] (#5657)
  package-lock.json
Due: none

Detect variable reassignments in modules without side effects (#5658)
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/Identifier.ts
  test/function/samples/tree-shake-module-side-effects-update/_config.js
  test/function/samples/tree-shake-module-side-effects-update/dep.js
  test/function/samples/tree-shake-module-side-effects-update/dep2.js
  test/function/samples/tree-shake-module-side-effects-update/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

fix: apply final hashes deterministically with stable placeholders set (#5644)
  src/utils/renderChunks.ts
  test/misc/misc.js
Due: prettier --write, tslint --project . --fix

4.22.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance minor/patch updates (#5664)
  package-lock.json
  package.json
  rust/Cargo.lock
  rust/parse_ast/Cargo.toml
Due: none

chore(deps): lock file maintenance minor/patch updates (#5666)
  rust/bindings_napi/Cargo.toml
Due: none

fix: type in CI file (#5665)
  .github/workflows/performance-report.yml
Due: none

chore(deps): update dependency inquirer to v11 (#5663)
  package-lock.json
  package.json
  scripts/prepare-release.js
Due: none

Partially revert #5644
  src/utils/renderChunks.ts
  test/misc/misc.js
Due: prettier --write, tslint --project . --fix

4.22.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Partially revert #5658 and re-apply #5644 (#5667)
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/Identifier.ts
  src/utils/renderChunks.ts
  test/function/samples/tree-shake-module-side-effects-update/_config.js
  test/misc/misc.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.22.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Ensure impure dependencies of pure modules are added (#5669)
  browser/package.json
  package-lock.json
  package.json
  src/Bundle.ts
  src/Chunk.ts
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/Identifier.ts
  test/function/samples/tree-shake-module-side-effects-dependencies/_config.js
  test/function/samples/tree-shake-module-side-effects-dependencies/dep.js
  test/function/samples/tree-shake-module-side-effects-dependencies/effect.js
  test/function/samples/tree-shake-module-side-effects-dependencies/main.js
  test/function/samples/tree-shake-module-side-effects-dependencies/shared.js
  test/function/samples/tree-shake-module-side-effects-update/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

4.22.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

refactor: Use object.prototype to check for reserved properties (#5670)
  src/finalisers/shared/setupNamespace.ts
Due: prettier --write, tslint --project . --fix

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
