Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

docs: Update the x_google_ignorelist url (#4926)
  docs/configuration-options/index.md
Due: none

Allow shouldTransformCachedModule to return null (#4932)
  docs/plugin-development/index.md
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

Disable puppeteer sandbox to fix Vercel deployment
  docs/.vitepress/mermaid.ts
  docs/.vitepress/puppeteer-config.json
Due: none

Improve memory usage for parameter deoptimizations (#4938)
  browser/package.json
  package-lock.json
  package.json
  src/ast/NodeInteractions.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/NewExpression.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/ThisExpression.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/nodes/shared/Node.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/knownGlobals.ts
  src/ast/utils/PathTracker.ts
  src/ast/values.ts
  src/ast/variables/LocalVariable.ts
  src/ast/variables/ParameterVariable.ts
  src/utils/blank.ts
Due: prettier --write, tslint --project . --fix

3.20.3
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: handle conditional breaks in nested switch statement cases (#4937)
  src/ast/ExecutionContext.ts
  src/ast/nodes/BreakStatement.ts
  src/ast/nodes/ContinueStatement.ts
  src/ast/nodes/DoWhileStatement.ts
  src/ast/nodes/ForInStatement.ts
  src/ast/nodes/ForOfStatement.ts
  src/ast/nodes/ForStatement.ts
  src/ast/nodes/IfStatement.ts
  src/ast/nodes/ReturnStatement.ts
  src/ast/nodes/SwitchStatement.ts
  src/ast/nodes/ThrowStatement.ts
  src/ast/nodes/WhileStatement.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/loops.ts
  test/function/samples/switch-break/_config.js
  test/function/samples/switch-break/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.20.4
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Use Vercel for previews
  .github/workflows/repl-artefacts.yml
Due: none

Fix Vercel REPL action
  .github/workflows/repl-artefacts.yml
Due: none

Fixed imports/exports that are illegal identifiers in the es output (#4939)
  src/finalisers/es.ts
  src/utils/generateCodeSnippets.ts
  src/utils/isValidIdentifier.ts
  src/utils/safeName.ts
  test/form/samples/illegal-identifiers-in-imports-exports/_config.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/amd.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/cjs.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/es.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/iife.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/system.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/umd.js
  test/form/samples/illegal-identifiers-in-imports-exports/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Reinstate global styles (#4941)
  docs/repl/components/BundleOptions.vue
  docs/repl/components/InputHeader.vue
  docs/repl/components/OutputStatus.vue
  docs/repl/components/ReplInput.vue
  docs/repl/components/ReplMain.vue
  docs/repl/components/ReplModule.vue
  docs/repl/components/SelectOption.vue
  docs/repl/components/StatusMessage.vue
Due: none

Remove Netlify deployment
  .github/workflows/deploy-website.yml
Due: none

3.20.5
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

feat: add locales in vitepress config (#4914)
  docs/.vitepress/config.ts
Due: none

docs(cn): update translation (#27)
  .zhlintignore
  .zhlintrc
  cli/help.md
  docs/command-line-interface/index.md
  docs/configuration-options/index.md
  docs/es-module-syntax/index.md
  docs/faqs/index.md
  docs/index.md
  docs/introduction/index.md
  docs/javascript-api/index.md
  docs/migration/index.md
  docs/plugin-development/index.md
  docs/repl/examples/05/modules/main.js
  docs/tools/index.md
  docs/troubleshooting/index.md
  docs/tutorial/index.md
Due: none

Revert #4939 for now (#4946)
  src/finalisers/es.ts
  src/utils/generateCodeSnippets.ts
  src/utils/isValidIdentifier.ts
  src/utils/safeName.ts
  test/form/samples/illegal-identifiers-in-imports-exports/_config.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/amd.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/cjs.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/es.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/iife.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/system.js
  test/form/samples/illegal-identifiers-in-imports-exports/_expected/umd.js
  test/form/samples/illegal-identifiers-in-imports-exports/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.20.6
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

chore(workflow): update contributors image [ci skip]
  .github-contributors/rollup_rollup-docs-cn.json
  .github-contributors/rollup_rollup-docs-cn.svg
Due: none

Trigger tests for merge queues
  .github/workflows/tests.yml
Due: none

Add a test for reserved keywords used as import/export specifiers (#4943)
  test/form/samples/reserved-keywords-in-imports-exports/_config.js
  test/form/samples/reserved-keywords-in-imports-exports/_expected/amd.js
  test/form/samples/reserved-keywords-in-imports-exports/_expected/cjs.js
  test/form/samples/reserved-keywords-in-imports-exports/_expected/es.js
  test/form/samples/reserved-keywords-in-imports-exports/_expected/iife.js
  test/form/samples/reserved-keywords-in-imports-exports/_expected/system.js
  test/form/samples/reserved-keywords-in-imports-exports/_expected/umd.js
  test/form/samples/reserved-keywords-in-imports-exports/main.js
Due: prettier --write, eslint --fix

Deoptimize right side in for-of loops (#4949)
  src/ast/nodes/ForOfStatement.ts
  test/function/samples/deoptimize-loop-element/_config.js
  test/function/samples/deoptimize-loop-element/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Support default exported classes that extend other classes (#4950)
  src/ast/nodes/ExportDefaultDeclaration.ts
  test/form/samples/default-export-anonymous-class-extends/_config.js
  test/form/samples/default-export-anonymous-class-extends/_expected.js
  test/form/samples/default-export-anonymous-class-extends/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.20.7
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

feat: tree-shake deterministic dynamic imports (#4952)
  src/Module.ts
  src/ast/nodes/ImportExpression.ts
  src/ast/variables/NamespaceVariable.ts
  test/chunking-form/samples/deprecated/dynamic-import-inlining-object/_expected/amd/entry.js
  test/chunking-form/samples/deprecated/dynamic-import-inlining-object/_expected/cjs/entry.js
  test/chunking-form/samples/deprecated/dynamic-import-inlining-object/_expected/es/entry.js
  test/chunking-form/samples/deprecated/dynamic-import-inlining-object/_expected/system/entry.js
  test/chunking-form/samples/dynamic-import-inlining-object/_expected/amd/entry.js
  test/chunking-form/samples/dynamic-import-inlining-object/_expected/cjs/entry.js
  test/chunking-form/samples/dynamic-import-inlining-object/_expected/es/entry.js
  test/chunking-form/samples/dynamic-import-inlining-object/_expected/system/entry.js
  test/chunking-form/samples/resolve-dynamic-import/_expected/amd/main.js
  test/chunking-form/samples/resolve-dynamic-import/_expected/cjs/main.js
  test/chunking-form/samples/resolve-dynamic-import/_expected/es/main.js
  test/chunking-form/samples/resolve-dynamic-import/_expected/system/main.js
  test/form/samples/deprecated/dynamic-import-inlining-array/_expected.js
  test/form/samples/deprecated/dynamic-import-inlining/_expected.js
  test/form/samples/dynamic-import-inlining-array/_expected.js
  test/form/samples/dynamic-import-inlining/_expected.js
  test/form/samples/no-treeshake/_config.js
  test/form/samples/no-treeshake/_expected.js
  test/form/samples/no-treeshake/dynamic-imported.js
  test/form/samples/no-treeshake/main.js
  test/form/samples/treeshake-deterministic-dynamic-import/_config.js
  test/form/samples/treeshake-deterministic-dynamic-import/_expected.js
  test/form/samples/treeshake-deterministic-dynamic-import/main.js
  test/form/samples/treeshake-deterministic-dynamic-import/sub1.js
  test/form/samples/treeshake-deterministic-dynamic-import/sub2.js
  test/form/samples/treeshake-deterministic-dynamic-import/sub3.js
  test/form/samples/treeshake-deterministic-dynamic-import/sub4.js
  test/function/samples/perf-adds-plugin-context-to-plugins/foo.js
  test/function/samples/tree-shake-deterministic-dynamic-import/_config.js
  test/function/samples/tree-shake-deterministic-dynamic-import/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.21.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

docs(cn): resolve conflicts
  docs/.vitepress/config.ts
  docs/configuration-options/index.md
  docs/plugin-development/index.md
  docs/repl/components/BundleOptions.vue
  docs/repl/components/InputHeader.vue
  docs/repl/components/OutputStatus.vue
  docs/repl/components/ReplInput.vue
  docs/repl/components/ReplMain.vue
  docs/repl/components/ReplModule.vue
Due: none

chore: remove zhlint config
  .zhlintignore
  .zhlintrc
Due: none

docs(cn): restore line break
  docs/plugin-development/index.md
Due: none

Update dependencies (#4957)
  LICENSE.md
  cli/run/watch-cli.ts
  package-lock.json
  package.json
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/amd/commonjs.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/cjs/commonjs.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/commonjs.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/commonjs.js
  test/chunking-form/samples/deprecated/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/amd/commonjs.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/cjs/commonjs.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/commonjs.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/es/main.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/commonjs.js
  test/chunking-form/samples/preserve-modules-commonjs/_expected/system/main.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/under-build2.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/under-build2.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/under-build2.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/below/module2.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/under-build2.js
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
Due: none

Fix REPL in dev (#4964)
  build-plugins/replace-browser-modules.ts
  docs/.vitepress/config.ts
  test/watch/index.js
Due: prettier --write, eslint --fix

Ensure arguments are deoptimized when arguments variable is used (#4965)
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/FunctionNode.ts
  src/ast/variables/ArgumentsVariable.ts
  test/function/samples/deoptimize-via-arguments/_config.js
  test/function/samples/deoptimize-via-arguments/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Log REPL output to console (#4967)
  docs/repl/stores/options.ts
  docs/repl/stores/rollupOutput.ts
Due: none

3.21.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Improve release script
  scripts/release.js
Due: none

fix: mark some known globals or their functions as impure (#4955)
  src/ast/nodes/shared/knownGlobals.ts
  test/function/samples/tree-shake-iterable/_config.js
  test/function/samples/tree-shake-iterable/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.21.2
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
