Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/typescript/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

2.31.0
  package-lock.json
  package.json
Due: none

Add "exports-only" option to preserveSignature (#3823)
  docs/05-plugin-development.md
  docs/999-big-list-of-options.md
  src/Chunk.ts
  src/rollup/types.d.ts
  test/chunking-form/samples/preserve-entry-signatures/allow-extension/_config.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only-no-exports/_config.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only-no-exports/_expected/amd/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only-no-exports/_expected/amd/main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only-no-exports/_expected/cjs/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only-no-exports/_expected/cjs/main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only-no-exports/_expected/es/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only-no-exports/_expected/es/main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only-no-exports/_expected/system/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only-no-exports/_expected/system/main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only-no-exports/dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only-no-exports/lib.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only-no-exports/main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_config.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_expected/amd/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_expected/amd/generated-main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_expected/amd/main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_expected/cjs/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_expected/cjs/generated-main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_expected/cjs/main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_expected/es/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_expected/es/generated-main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_expected/es/main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_expected/system/generated-dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_expected/system/generated-main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/_expected/system/main.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/dynamic.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/lib.js
  test/chunking-form/samples/preserve-entry-signatures/exports-only/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.32.0
  package-lock.json
  package.json
Due: none

Fix this.resolve return type in docs (#3825)
  docs/05-plugin-development.md
Due: none

fix: plugin warnings not showing warning.loc (#3824)
  cli/run/batchWarnings.ts
  test/cli/samples/warn-plugin-loc/_config.js
  test/cli/samples/warn-plugin-loc/main.js
  test/cli/samples/warn-plugin-loc/rollup.config.js
Due: prettier --write, eslint --fix

2.32.1
  package-lock.json
  package.json
Due: none

add options hook to asyncpluginhooks (#3848)
  src/rollup/types.d.ts
Due: prettier --write, tslint --project . --fix

Improved watcher hooks (#3841)
  docs/05-plugin-development.md
  src/Graph.ts
  src/rollup/types.d.ts
  src/utils/PluginContext.ts
  src/utils/PluginDriver.ts
  src/watch/fileWatcher.ts
  src/watch/watch.ts
  test/watch/index.js
  typings/declarations.d.ts
Due: prettier --write, tslint --project . --fix, eslint --fix

Attempt to fix tests
  test/watch/index.js
Due: prettier --write, eslint --fix

Use OS agnostic files
  test/watch/index.js
Due: prettier --write, eslint --fix

Tweak some parameter
  test/watch/index.js
Due: prettier --write, eslint --fix

Reorder events to help Windows
  test/watch/index.js
Due: prettier --write, eslint --fix

2.33.0
  package-lock.json
  package.json
Due: none

Increase test timeout
  test/watch/index.js
Due: prettier --write, eslint --fix

Fix typo on docs (#3852)
  docs/02-javascript-api.md
Due: none

Expose syntheticNamedExports to ModuleInfo (#3847)
  docs/05-plugin-development.md
  src/Chunk.ts
  src/ExternalModule.ts
  src/Module.ts
  src/ast/variables/NamespaceVariable.ts
  src/rollup/types.d.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/synthetic-named-exports/dynamic-import/_config.js
  test/function/samples/synthetic-named-exports/non-default-export/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.33.1
  package-lock.json
  package.json
Due: none

Increase timeout
  test/watch/index.js
Due: prettier --write, eslint --fix

Restore labels after included try statement block (#3871)
  src/ast/nodes/TryStatement.ts
  test/function/samples/conditional-catch/_config.js
  test/function/samples/conditional-catch/main.js
  test/watch/index.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.33.2
  package-lock.json
  package.json
Due: none

docs: update chat/support links (#3861)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/DOCS.md
  .github/ISSUE_TEMPLATE/FEATURE.md
  .github/ISSUE_TEMPLATE/MODIFICATION.md
  .github/ISSUE_TEMPLATE/SUPPORT.md
  CONTRIBUTING.md
  README.md
  docs/08-troubleshooting.md
Due: none

also removeExtensionFromRelativeAmdId in UMD finaliser (#3872)
  src/finalisers/amd.ts
  src/finalisers/shared/removeExtensionFromRelativeAmdId.ts
  src/finalisers/umd.ts
  test/form/samples/guessed-global-names/_expected/umd.js
  test/form/samples/relative-external-with-global/_expected/umd.js
Due: prettier --write, tslint --project . --fix

2.33.3
  package-lock.json
  package.json
Due: none

2.34.0
  package-lock.json
  package.json
Due: none

Run memory leak test on all systems (#3887)
  package-lock.json
  package.json
  test/leak/index.js
  test/test.js
Due: prettier --write, eslint --fix

chore: add pull_request to windows github actions (#3892)
  .github/workflows/node-windows.yml
Due: none

Update dependencies (#3893)
  .github/workflows/node-windows.yml
  cli/run/build.ts
  cli/run/loadConfigFile.ts
  cli/run/resetScreen.ts
  package-lock.json
  package.json
  src/utils/FileEmitter.ts
  src/watch/watch.ts
  test/chunking-form/samples/preserve-modules-root/_config.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/_virtual/index.js_commonjs-proxy
  test/chunking-form/samples/preserve-modules-root/_expected/amd/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/custom_modules/@my-scope/my-base-pkg/index.js
  test/chunking-form/samples/preserve-modules-root/_expected/amd/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/_virtual/index.js_commonjs-proxy
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/custom_modules/@my-scope/my-base-pkg/index.js
  test/chunking-form/samples/preserve-modules-root/_expected/cjs/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/_virtual/index.js_commonjs-proxy
  test/chunking-form/samples/preserve-modules-root/_expected/es/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/custom_modules/@my-scope/my-base-pkg/index.js
  test/chunking-form/samples/preserve-modules-root/_expected/es/under-build.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/_virtual/_commonjsHelpers.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/_virtual/index.js_commonjs-proxy
  test/chunking-form/samples/preserve-modules-root/_expected/system/below/module.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/custom_modules/@my-scope/my-base-pkg/index.js
  test/chunking-form/samples/preserve-modules-root/_expected/system/under-build.js
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_expected.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Replace deprecated folder export with pattern export (#3896)
  package.json
Due: none
