Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

fix: nested plugin in options stage (#4668)
  src/rollup/rollup.ts
  test/function/samples/nested-plugin/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

feat: support async plugins (#4671)
  cli/run/commandPlugins.ts
  cli/run/loadConfigFile.ts
  cli/run/loadConfigFromCommand.ts
  cli/run/watch-cli.ts
  docs/999-big-list-of-options.md
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  src/utils/asyncFlatten.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/options/options.ts
  src/watch/watch-proxy.ts
  src/watch/watch.ts
  test/function/samples/nested-and-async-plugin/_config.js
  test/function/samples/nested-and-async-plugin/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.2.0
  CHANGELOG.md
  browser/package.json
  package.json
Due: none

Preserve rendered class names (#4674)
  src/ast/nodes/ClassDeclaration.ts
  src/ast/nodes/VariableDeclarator.ts
  test/chunking-form/samples/circular-entry-points/_expected/amd/generated-main1.js
  test/chunking-form/samples/circular-entry-points/_expected/cjs/generated-main1.js
  test/chunking-form/samples/circular-entry-points/_expected/es/generated-main1.js
  test/chunking-form/samples/circular-entry-points/_expected/system/generated-main1.js
  test/chunking-form/samples/circular-entry-points2/_expected/amd/main2.js
  test/chunking-form/samples/circular-entry-points2/_expected/cjs/main2.js
  test/chunking-form/samples/circular-entry-points2/_expected/es/main2.js
  test/chunking-form/samples/circular-entry-points2/_expected/system/main2.js
  test/chunking-form/samples/circular-entry-points3/_expected/amd/generated-main1.js
  test/chunking-form/samples/circular-entry-points3/_expected/cjs/generated-main1.js
  test/chunking-form/samples/circular-entry-points3/_expected/es/generated-main1.js
  test/chunking-form/samples/circular-entry-points3/_expected/system/generated-main1.js
  test/form/samples/exported-class-declaration-conflict/_config.js
  test/form/samples/exported-class-declaration-conflict/_expected/amd.js
  test/form/samples/exported-class-declaration-conflict/_expected/cjs.js
  test/form/samples/exported-class-declaration-conflict/_expected/es.js
  test/form/samples/exported-class-declaration-conflict/_expected/iife.js
  test/form/samples/exported-class-declaration-conflict/_expected/system.js
  test/form/samples/exported-class-declaration-conflict/_expected/umd.js
  test/form/samples/exported-class-declaration-conflict/first.js
  test/form/samples/exported-class-declaration-conflict/main.js
  test/form/samples/exported-class-declaration-conflict/second.js
  test/function/samples/class-name-conflict/_config.js
  test/function/samples/class-name-conflict/declaration1.js
  test/function/samples/class-name-conflict/declaration2.js
  test/function/samples/class-name-conflict/expression1.js
  test/function/samples/class-name-conflict/expression2.js
  test/function/samples/class-name-conflict/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.2.1
  CHANGELOG.md
  browser/package.json
  package.json
Due: none

refactor: improve & simplify types (#4675)
  src/Chunk.ts
  src/Graph.ts
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  src/utils/renderChunks.ts
Due: prettier --write, tslint --project . --fix

Ignore hashhbang comments (#4676)
  src/ast/nodes/Program.ts
  test/form/samples/hashbang/_config.js
  test/form/samples/hashbang/_expected.js
  test/form/samples/hashbang/main.js
  test/form/samples/hashbang/other.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.2.2
  CHANGELOG.md
  browser/package.json
  package.json
Due: none

Return correct values for unkown namespace members (#4684)
  src/ast/variables/NamespaceVariable.ts
  test/function/samples/namespace-literal-value/_config.js
  test/function/samples/namespace-literal-value/main.js
  test/function/samples/namespace-literal-value/namespace.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Do not rewrite new.target (#4679)
  src/ast/nodes/MetaProperty.ts
  test/form/samples/new-target-meta-property/_expected/amd.js
  test/form/samples/new-target-meta-property/_expected/cjs.js
  test/form/samples/new-target-meta-property/_expected/es.js
  test/form/samples/new-target-meta-property/_expected/iife.js
  test/form/samples/new-target-meta-property/_expected/system.js
  test/form/samples/new-target-meta-property/_expected/umd.js
  test/function/samples/new-target-meta/_config.js
  test/function/samples/new-target-meta/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Remove typo in resolveId documentation (#4683)
  docs/05-plugin-development.md
Due: none

3.2.3
  CHANGELOG.md
  browser/package.json
  package.json
Due: none

Update lockfile on release
  scripts/release.js
Due: none

update package-lock version (#4685)
  package-lock.json
Due: none

Update 07-tools.md (#4689)
  docs/07-tools.md
Due: none

Use correct import.meta.url slashes on Windows (#4693)
  build-plugins/get-banner.ts
  src/Chunk.ts
  src/ast/nodes/MetaProperty.ts
  test/chunking-form/samples/import-meta-numeric-paths/0/1/nested.js
  test/chunking-form/samples/import-meta-numeric-paths/_config.js
  test/chunking-form/samples/import-meta-numeric-paths/_expected/amd/0/1/nested.js
  test/chunking-form/samples/import-meta-numeric-paths/_expected/amd/main.js
  test/chunking-form/samples/import-meta-numeric-paths/_expected/cjs/0/1/nested.js
  test/chunking-form/samples/import-meta-numeric-paths/_expected/cjs/main.js
  test/chunking-form/samples/import-meta-numeric-paths/_expected/es/0/1/nested.js
  test/chunking-form/samples/import-meta-numeric-paths/_expected/es/main.js
  test/chunking-form/samples/import-meta-numeric-paths/_expected/system/0/1/nested.js
  test/chunking-form/samples/import-meta-numeric-paths/_expected/system/main.js
  test/chunking-form/samples/import-meta-numeric-paths/main.js
  test/cli/samples/watch/clearScreen/wrapper.js
  test/cli/samples/watch/no-clearScreen-command/wrapper.js
  test/cli/samples/watch/no-clearScreen/wrapper.js
  test/cli/samples/watch/no-watch-by-default/wrapper.js
  test/cli/samples/watch/watch-event-hooks-error/wrapper.js
  test/cli/samples/watch/watch-event-hooks/wrapper.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.2.4
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Prevent class ids from shadowing other variables (#4697)
  src/ast/nodes/ClassDeclaration.ts
  src/ast/nodes/VariableDeclarator.ts
  src/ast/scopes/ChildScope.ts
  src/ast/variables/Variable.ts
  src/utils/deconflictChunk.ts
  src/utils/safeName.ts
  test/function/samples/class-name-conflict2/_config.js
  test/function/samples/class-name-conflict2/bar.js
  test/function/samples/class-name-conflict2/declaration.js
  test/function/samples/class-name-conflict2/expression.js
  test/function/samples/class-name-conflict2/foo.js
  test/function/samples/class-name-conflict2/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.2.5
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Update README.md
  README.md
Due: none

docs: add additional tips for heap out of memory (#4702)
  docs/08-troubleshooting.md
Due: none

Fix perf timers for object hooks (#4707)
  build-plugins/esm-dynamic-import.ts
  scripts/perf.js
  src/utils/timers.ts
  test/function/samples/perf-adds-plugin-context-to-plugins/_config.js
  test/function/samples/perf-adds-plugin-context-to-plugins/foo.js
  test/function/samples/perf-adds-plugin-context-to-plugins/main.js
  test/function/samples/perf-supports-object-hooks/_config.js
  test/function/samples/perf-supports-object-hooks/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update terser docs (#4710)
  docs/04-tutorial.md
Due: none

feat: deduplicate assets with buffer source (#4712)
  docs/05-plugin-development.md
  src/utils/FileEmitter.ts
  test/chunking-form/samples/emit-file/deduplicate-assets/_config.js
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/amd/assets/buffer-d0ca8c2a.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/amd/assets/otherBuffer-e8d9b528.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/amd/named/buffer.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/cjs/assets/buffer-d0ca8c2a.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/cjs/assets/otherBuffer-e8d9b528.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/cjs/named/buffer.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/es/assets/buffer-d0ca8c2a.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/es/assets/otherBuffer-e8d9b528.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/es/named/buffer.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/system/assets/buffer-d0ca8c2a.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/system/assets/otherBuffer-e8d9b528.txt
  test/chunking-form/samples/emit-file/deduplicate-assets/_expected/system/named/buffer.txt
  test/cli/samples/watch/bundle-error/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.3.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Add base prs to release script
  scripts/release.js
Due: none

Only consider Object.freeze a side effect if the argument is used (#4720)
  src/ast/nodes/shared/knownGlobals.ts
  test/form/samples/big-int/_config.js
  test/form/samples/object-freeze-effects/_config.js
  test/form/samples/object-freeze-effects/_expected.js
  test/form/samples/object-freeze-effects/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.4.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Fix isIncluded error when using rollup-plugin-typescript2 (#4725)
  src/Module.ts
  test/function/samples/preload-after-build/_config.js
  test/function/samples/preload-after-build/main.js
  test/function/samples/preload-after-build/other1.js
  test/function/samples/preload-after-build/other2.js
  test/function/samples/preload-after-build/other3.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Add simple way to manually declare pure functions (#4718)
  cli/help.md
  docs/01-command-line-reference.md
  docs/999-big-list-of-options.md
  package.json
  scripts/test-options.js
  src/Graph.ts
  src/Module.ts
  src/ast/nodes/ArrayExpression.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/ConditionalExpression.ts
  src/ast/nodes/Identifier.ts
  src/ast/nodes/Literal.ts
  src/ast/nodes/LogicalExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/ast/nodes/ObjectExpression.ts
  src/ast/nodes/PropertyDefinition.ts
  src/ast/nodes/TaggedTemplateExpression.ts
  src/ast/nodes/TemplateLiteral.ts
  src/ast/nodes/shared/CallExpressionBase.ts
  src/ast/nodes/shared/ClassNode.ts
  src/ast/nodes/shared/Expression.ts
  src/ast/nodes/shared/FunctionBase.ts
  src/ast/nodes/shared/MethodBase.ts
  src/ast/nodes/shared/MethodTypes.ts
  src/ast/nodes/shared/MultiExpression.ts
  src/ast/nodes/shared/ObjectEntity.ts
  src/ast/nodes/shared/ObjectMember.ts
  src/ast/utils/PathTracker.ts
  src/ast/values.ts
  src/ast/variables/LocalVariable.ts
  src/rollup/types.d.ts
  src/utils/options/normalizeInputOptions.ts
  src/utils/options/options.ts
  src/utils/pureFunctions.ts
  test/form/samples/manual-pure-functions/_config.js
  test/form/samples/manual-pure-functions/_expected.js
  test/form/samples/manual-pure-functions/main.js
  test/form/samples/manual-pure-functions/other.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.5.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Overload defineConfig to accept a RollupOptionsFunction parameter (#4728)
  src/rollup/rollup.ts
  src/rollup/types.d.ts
  test/load-config-file/index.js
  test/load-config-file/samples/cjs-defineconfig-as-fn/rollup.config.cjs
  test/load-config-file/samples/esm-defineconfig-as-fn/rollup.config.mjs
Due: prettier --write, tslint --project . --fix, eslint --fix

3.5.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

feat: add `exports` and `exportedBindings` to `Module` class (#4731)
  docs/05-plugin-development.md
  src/ExternalModule.ts
  src/Module.ts
  src/rollup/types.d.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/check-exports-exportedBindings-as-a-supplementary-test/_config.js
  test/function/samples/check-exports-exportedBindings-as-a-supplementary-test/main.js
  test/function/samples/check-exports-exportedBindings-as-a-supplementary-test/module.js
  test/function/samples/check-exports-exportedBindings-as-a-supplementary-test/module2.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/preload-module/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.6.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

feat: add sutiable RegExp prototype methods (#4737)
  src/ast/values.ts
  test/form/samples/builtin-prototypes/literal/main.js
Due: prettier --write, tslint --project . --fix

3.7.0
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

fix: provide json hint when importing a no export json file (#4741)
  src/utils/error.ts
  test/function/samples/adds-json-hint-for-missing-export-if-is-json-file/_config.js
  test/function/samples/adds-json-hint-for-missing-export-if-is-json-file/array.json
  test/function/samples/adds-json-hint-for-missing-export-if-is-json-file/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

3.7.1
  CHANGELOG.md
  browser/package.json
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
