Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

.lintstagedrc:

{
  "{src,bin,browser,typings}/**/*.ts": [
    "prettier --write",
    "tslint --project . --fix"
  ],
  "test/**/*.ts": [
    "prettier --write",
    "tslint --project test/typescript --fix"
  ],
  "{test/test,test/*/index,test/utils,test/**/_config}.js": [
    "prettier --write",
    "eslint --fix"
  ]
}

Update changelog
  CHANGELOG.md
Due: none

2.10.3
  package-lock.json
  package.json
Due: none

Make sure unused classes with fields are tree-shaken if possible (#3569)
  package-lock.json
  package.json
  src/Graph.ts
  src/ast/nodes/ClassBody.ts
  src/ast/nodes/FieldDefinition.ts
  test/form/samples/treeshake-classes-with-fields/_config.js
  test/form/samples/treeshake-classes-with-fields/_expected.js
  test/form/samples/treeshake-classes-with-fields/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.10.4
  package-lock.json
  package.json
Due: none

update doc to point folks to @rollup/plugin-babel (#3567)
  docs/07-tools.md
Due: none

Observe side-effects in files containing a default export declaration that reexports a variable (#3572)
  src/Chunk.ts
  src/Module.ts
  src/ast/variables/ExportDefaultVariable.ts
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/form/samples/side-effect-default-reexport/_config.js
  test/form/samples/side-effect-default-reexport/_expected.js
  test/form/samples/side-effect-default-reexport/default-export/index.js
  test/form/samples/side-effect-default-reexport/default-export/index2.js
  test/form/samples/side-effect-default-reexport/default-export/item.js
  test/form/samples/side-effect-default-reexport/default-export/menu.js
  test/form/samples/side-effect-default-reexport/default-export2/index.js
  test/form/samples/side-effect-default-reexport/default-export2/index2.js
  test/form/samples/side-effect-default-reexport/default-export2/item.js
  test/form/samples/side-effect-default-reexport/default-export2/menu.js
  test/form/samples/side-effect-default-reexport/main.js
  test/form/samples/side-effect-default-reexport/named-export/index.js
  test/form/samples/side-effect-default-reexport/named-export/index2.js
  test/form/samples/side-effect-default-reexport/named-export/item.js
  test/form/samples/side-effect-default-reexport/named-export/menu.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.10.5
  package-lock.json
  package.json
Due: none

update acorn class features (#3580)
  package-lock.json
  package.json
Due: none

Do not fail when including call arguments of recursively defined variables (#3581)
  src/ast/ExecutionContext.ts
  src/ast/variables/LocalVariable.ts
  test/form/samples/include-recursive-call-arguments/_config.js
  test/form/samples/include-recursive-call-arguments/_expected.js
  test/form/samples/include-recursive-call-arguments/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.10.6
  package-lock.json
  package.json
Due: none

fix "cannot read exports of undefined" error (#3576)
  src/Chunk.ts
  test/function/samples/reexport-ns/_config.js
  test/function/samples/reexport-ns/main.js
  test/function/samples/reexport-ns/maths.js
  test/function/samples/reexport-ns/square.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.10.7
  package-lock.json
  package.json
Due: none

Clarify documentation for `output.paths` (#3584)
  docs/999-big-list-of-options.md
Due: none

Target Node.js v14 instead of v13 (#3585)
  .github/workflows/node-windows.yml
Due: none

Handle default reexports of synthetic named exports over several stages (#3586)
  src/Chunk.ts
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_config.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_expected/amd/generated-component.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_expected/amd/generated-main.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_expected/amd/main.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_expected/cjs/generated-component.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_expected/cjs/generated-main.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_expected/cjs/main.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_expected/es/generated-component.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_expected/es/generated-main.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_expected/es/main.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_expected/system/generated-component.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_expected/system/generated-main.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/_expected/system/main.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/component.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/lib-reexport.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/lib-reexport2.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/lib.js
  test/chunking-form/samples/synthetic-named-exports-chained-default-reexport/main.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/_config.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/_expected/amd/generated-component.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/_expected/amd/main.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/_expected/cjs/generated-component.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/_expected/cjs/main.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/_expected/es/generated-component.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/_expected/es/main.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/_expected/system/generated-component.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/_expected/system/main.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/component.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/lib-reexport.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/lib.js
  test/chunking-form/samples/synthetic-named-exports-default-reexport/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.10.8
  package-lock.json
  package.json
Due: none

2.10.9
  package-lock.json
  package.json
Due: none

Convert tab to spaces (#3601)
  docs/01-command-line-reference.md
Due: none

Retain pure annotations in class fields (#3599)
  src/utils/pureComments.ts
  test/form/samples/pure-class-field/_config.js
  test/form/samples/pure-class-field/_expected.js
  test/form/samples/pure-class-field/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Treeshake prototype modifications in classes (#3598)
  src/ast/nodes/shared/ClassNode.ts
  test/form/samples/modify-class-prototype/_config.js
  test/form/samples/modify-class-prototype/_expected.js
  test/form/samples/modify-class-prototype/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

System format optional setters (#3592)
  CHANGELOG.md
  cli/help.md
  docs/01-command-line-reference.md
  docs/02-javascript-api.md
  docs/999-big-list-of-options.md
  src/finalisers/system.ts
  src/rollup/types.d.ts
  src/utils/options/mergeOptions.ts
  src/utils/options/normalizeOutputOptions.ts
  test/form/samples/unused-import/_config.js
  test/form/samples/unused-import/_expected/system.js
  test/hooks/index.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Support optional chaining via acorn fork (#3582)
  LICENSE.md
  package-lock.json
  package.json
  rollup.config.js
  src/Graph.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/CallExpression.ts
  src/ast/nodes/MemberExpression.ts
  src/utils/pureComments.ts
  test/form/samples/optional-chaining/_config.js
  test/form/samples/optional-chaining/_expected.js
  test/form/samples/optional-chaining/main.js
  test/form/samples/supports-core-js/_config.js
  test/form/samples/supports-core-js/_expected.js
  test/form/samples/supports-es5-shim/_config.js
  test/form/samples/supports-es5-shim/_expected.js
  test/form/samples/supports-es6-shim/_config.js
  test/form/samples/supports-es6-shim/_expected.js
  test/utils.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.11.0
  package-lock.json
  package.json
Due: none

Handle side-effects next to side-effect-free default exports in case the default export is reexported (#3602)
  src/Module.ts
  test/form/samples/side-effect-default-reexport/default-export/reexport.js
  test/form/samples/side-effect-default-reexport/main.js
Due: prettier --write, tslint --project . --fix

2.11.1
  package-lock.json
  package.json
Due: none

Make `Array.from` as side-effectful, use two-argument Array.from when mapping Sets (#3604)
  src/Chunk.ts
  src/Module.ts
  src/ModuleLoader.ts
  src/ast/nodes/shared/knownGlobals.ts
  test/function/samples/array-from-side-effect/_config.js
  test/function/samples/array-from-side-effect/main.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.11.2
  package-lock.json
  package.json
Due: none

Wait for bundle input option (#3577)
  cli/help.md
  cli/run/commandPlugins.ts
  cli/run/waitForInput.ts
  docs/01-command-line-reference.md
  src/utils/options/mergeOptions.ts
  test/cli/samples/wait-for-bundle-input-object/_config.js
  test/cli/samples/wait-for-bundle-input-object/_expected/first.js
  test/cli/samples/wait-for-bundle-input-object/_expected/second.js
  test/cli/samples/wait-for-bundle-input-object/_expected/third.js
  test/cli/samples/wait-for-bundle-input-object/first.js
  test/cli/samples/wait-for-bundle-input-object/rollup.config.js
  test/cli/samples/wait-for-bundle-input/_config.js
  test/cli/samples/wait-for-bundle-input/_expected.js
  test/cli/samples/wait-for-bundle-input/rollup.config.js
  test/misc/optionList.js
Due: prettier --write, tslint --project . --fix, eslint --fix
