Repository yfyrds46suysz/rollup-docs-cn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project . --fix, tslint --project test/typescript --fix, eslint --fix

2.65.0
  package-lock.json
  package.json
Due: none

Add hasDefaultExport to ModuleInfo (#4356)
  docs/05-plugin-development.md
  package-lock.json
  package.json
  src/ExternalModule.ts
  src/Module.ts
  src/rollup/types.d.ts
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-emitted-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/implicitly-dependent-entry/_config.js
  test/chunking-form/samples/implicit-dependencies/multiple-dependencies/_config.js
  test/chunking-form/samples/implicit-dependencies/single-dependency/_config.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/has-default-export/_config.js
  test/function/samples/has-default-export/direct.js
  test/function/samples/has-default-export/indirect.js
  test/function/samples/has-default-export/main.js
  test/function/samples/has-default-export/other.js
  test/function/samples/has-default-export/reexport1.js
  test/function/samples/has-default-export/reexport2.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/module-parsed-hook/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/preload-module/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Add "resolveDependencies" option to "this.load" (#4358)
  docs/05-plugin-development.md
  src/ModuleLoader.ts
  src/rollup/types.d.ts
  test/function/samples/load-resolve-dependencies/_config.js
  test/function/samples/load-resolve-dependencies/first.js
  test/function/samples/load-resolve-dependencies/main.js
  test/function/samples/load-resolve-dependencies/second.js
  test/function/samples/load-resolve-dependencies/third.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.66.0
  package-lock.json
  package.json
Due: none

Do not warn unnecessarily for namespace conflicts (#4363)
  src/ExternalModule.ts
  src/Graph.ts
  src/Module.ts
  src/utils/error.ts
  test/form/samples/namespace-reexport-name/external-reexport.js
  test/form/samples/namespace-reexport-name/overrides.js
  test/function/samples/conflicting-reexports/namespace-import/_config.js
  test/function/samples/namespace-override/_config.js
  test/function/samples/namespace-override/a.js
  test/function/samples/namespace-override/b.js
  test/function/samples/namespace-override/exportAll.js
  test/function/samples/namespace-override/main.js
  test/function/samples/shims-missing-exports/dep2.js
  test/function/samples/shims-missing-exports/main.js
  test/function/samples/warn-on-namespace-conflict/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

refactor: convert exportsByName object to map (#4362)
  src/Chunk.ts
  src/utils/addons.ts
  src/utils/exportNames.ts
Due: prettier --write, tslint --project . --fix

Do not expose synthetic namespace export in entries and namespaces (#4364)
  src/Module.ts
  src/utils/error.ts
  test/form/samples/merge-namespaces-non-live/_expected.js
  test/form/samples/merge-namespaces-non-live/reexport.js
  test/form/samples/merge-namespaces-non-live/synthetic.js
  test/form/samples/merge-namespaces/_expected.js
  test/form/samples/merge-namespaces/reexport.js
  test/form/samples/merge-namespaces/synthetic.js
  test/function/samples/synthetic-named-export-entry/_config.js
  test/function/samples/synthetic-named-export-entry/hiddenNamespace.js
  test/function/samples/synthetic-named-export-entry/main.js
  test/function/samples/synthetic-named-export-entry/noOverride.js
  test/function/samples/synthetic-named-export-entry/override.js
  test/function/samples/synthetic-named-exports/circular-synthetic-exports/_config.js
  test/function/samples/synthetic-named-exports/synthetic-exports-need-fallback-export/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.66.1
  package-lock.json
  package.json
Due: none

fix: remove acorn-walk patch (#4369)
  src/utils/pureComments.ts
Due: prettier --write, tslint --project . --fix

refactor: use fs, fs-extra, remove sander (#4319)
  package-lock.json
  package.json
  scripts/load-perf-config.js
  scripts/perf-init.js
  scripts/perf.js
  scripts/update-snapshots.js
  test/chunking-form/samples/deprecated/emit-asset/_config.js
  test/chunking-form/samples/emit-file/reference-files/_config.js
  test/cli/index.js
  test/cli/samples/config-no-output/_config.js
  test/cli/samples/sourcemap-hidden/_config.js
  test/cli/samples/wait-for-bundle-input-object/_config.js
  test/cli/samples/wait-for-bundle-input/_config.js
  test/cli/samples/warn-broken-sourcemap/_config.js
  test/cli/samples/warn-broken-sourcemaps/_config.js
  test/cli/samples/watch/bundle-error/_config.js
  test/cli/samples/watch/close-stdin/wrapper.js
  test/cli/samples/watch/watch-config-early-update/_config.js
  test/cli/samples/watch/watch-config-error/_config.js
  test/cli/samples/watch/watch-config-initial-error/_config.js
  test/cli/samples/watch/watch-config-no-update/_config.js
  test/form/index.js
  test/form/samples/deprecated/emit-asset/_config.js
  test/form/samples/emit-asset-file/_config.js
  test/form/samples/emit-file-tree-shaken-access/_config.js
  test/function/samples/custom-loaders/_config.js
  test/function/samples/custom-path-resolver-on-entry/_config.js
  test/function/samples/export-default-anonymous-function/_config.js
  test/function/samples/transform-without-code/_config.js
  test/hooks/index.js
  test/sourcemaps/samples/combined-sourcemap-with-loader/_config.js
  test/sourcemaps/samples/excludes-plugin-helpers/_config.js
  test/sourcemaps/samples/loaders/_config.js
  test/sourcemaps/samples/reified-namespace/_config.js
  test/sourcemaps/samples/single-length-segments/_config.js
  test/utils.js
  test/watch/index.js
Due: prettier --write, eslint --fix

feat: add Array.prototype.groupBy/groupByToMap (#4360)
  src/ast/nodes/shared/ArrayPrototype.ts
  test/form/samples/builtin-prototypes/array-expression/_expected.js
  test/form/samples/builtin-prototypes/array-expression/main.js
Due: prettier --write, tslint --project . --fix

refactor: use fs.promises in cli/run (#4371)
  cli/run/getConfigPath.ts
  cli/run/index.ts
  cli/run/loadConfigFile.ts
  cli/run/watch-cli.ts
Due: none

refactor: use fs.promises in module loader (#4372)
  browser/fs.ts
  src/ModuleLoader.ts
  src/utils/fs.ts
  test/function/samples/max-parallel-file-reads-default/_config.js
  test/function/samples/max-parallel-file-reads-error/_config.js
  test/function/samples/max-parallel-file-reads-infinity/_config.js
  test/function/samples/max-parallel-file-reads-set/_config.js
  test/function/samples/max-parallel-file-reads-with-plugin/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

Fix typo in _config.js (#4375)
  test/form/samples/side-effects-parameter-defaults/_config.js
Due: prettier --write, eslint --fix

refactor: fs.promises, move mkdir to writeoutputfile, Part 3 (#4376)
  browser/fs.ts
  src/rollup/rollup.ts
  src/utils/fs.ts
  src/utils/resolveId.ts
  test/function/samples/max-parallel-file-reads-default/_config.js
  test/function/samples/max-parallel-file-reads-error/_config.js
  test/function/samples/max-parallel-file-reads-infinity/_config.js
  test/function/samples/max-parallel-file-reads-set/_config.js
  test/function/samples/max-parallel-file-reads-with-plugin/_config.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.67.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: bump deps (#4383)
  package-lock.json
  package.json
  test/form/samples/supports-core-js/_expected.js
Due: none

Update contribution tut link desc (#4382)
  CONTRIBUTING.md
Due: none

refactor: convert watch tests to async functions (#4385)
  test/watch/index.js
Due: prettier --write, eslint --fix

chore: move "wait" to utils + re-use (#4384)
  test/leak/index.js
  test/utils.js
  test/watch/index.js
Due: prettier --write, eslint --fix

refactor: use fs.promises in generate license file, rollup config, Part 5 (#4389)
  build-plugins/generate-license-file.ts
  rollup.config.ts
Due: none

2.67.1
  package-lock.json
  package.json
Due: none

chore: remove acorn-walk ambient type definitions (#4391)
  src/utils/pureComments.ts
  typings/declarations.d.ts
Due: prettier --write, tslint --project . --fix

refactor: add @types/estree explicitly, fix dynamic type imports (#4390)
  package-lock.json
  package.json
  typings/declarations.d.ts
Due: prettier --write, tslint --project . --fix

Sort manual chunks generated via a function by name (#4397)
  src/Bundle.ts
  test/chunking-form/samples/manual-chunks-function/_config.js
  test/chunking-form/samples/manual-chunks-function/_expected/amd/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/amd/main-a.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/cjs/main-a.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/es/main-a.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/generated-chunk-b.js
  test/chunking-form/samples/manual-chunks-function/_expected/system/main-a.js
  test/chunking-form/samples/manual-chunks-function/dep2-a.js
  test/chunking-form/samples/manual-chunks-function/dep2-b.js
  test/chunking-form/samples/manual-chunks-function/dep3-a.js
  test/chunking-form/samples/manual-chunks-function/dep3-b.js
  test/chunking-form/samples/manual-chunks-function/main-a.js
Due: prettier --write, tslint --project . --fix, eslint --fix

2.67.2
  package-lock.json
  package.json
Due: none

docs: remove const (#4399)
  docs/02-javascript-api.md
Due: none

refactor: module exports to map (#4405)
  src/Module.ts
Due: prettier --write, tslint --project . --fix

Improve test stability by getting independent of module id ordering in more places (#4401)
  test/function/samples/custom-module-options/_config.js
  test/function/samples/deprecated/manual-chunks-info/_config.js
  test/function/samples/deprecated/resolve-id-external/_config.js
  test/function/samples/deprecated/resolve-id/_config.js
  test/function/samples/manual-chunks-info/_config.js
  test/function/samples/max-parallel-file-reads-default/_config.js
  test/function/samples/max-parallel-file-reads-infinity/_config.js
  test/function/samples/max-parallel-file-reads-set/_config.js
  test/function/samples/max-parallel-file-reads-with-plugin/_config.js
  test/function/samples/module-side-effects/resolve-id-external/_config.js
  test/function/samples/module-side-effects/resolve-id/_config.js
  test/function/samples/plugin-module-information/_config.js
  test/function/samples/preload-module/_config.js
  test/incremental/index.js
Due: prettier --write, eslint --fix

refactor: use map for import descriptions + re-export descriptions (#4404)
  src/Graph.ts
  src/Module.ts
Due: prettier --write, tslint --project . --fix

Path conditions:
  prettier --write: ((any of: {src,bin,browser,typings}/**/*.ts) or (any of: test/typescript/**/*.ts)) or (any of: {test/test,test/*/index,test/utils,test/**/_config}.js)
  tslint --project . --fix: any of: {src,bin,browser,typings}/**/*.ts
  tslint --project test/typescript --fix: any of: test/typescript/**/*.ts
  eslint --fix: any of: {test/test,test/*/index,test/utils,test/**/_config}.js
